
<section class="is-article-block">
    <div class="container">
        <div class="article-full-img">
            <img src="assets/images/charity/banner.jpg" alt="banner"/>
        </div>
        <div class="is-article-sec">
            <div class="is-left-profile">
                <div class="sticky-box">
                    <div class="is-profile">
                        <a>
                            <img class="avatar" src="assets/images/charity/fundraiser.png"
                                alt="Fundraiser logo"/>
                        </a>
                    </div>
                    <div class="share-sec text-center">
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                </div>
            </div>
            <div class="is-main-article-content">
                <div class="company-img">
                    <img src="assets/images/charity/facebook.png" alt="facebook">
                </div>
                <div class="is-content">
                    <div class="is-head">
                        <div class="company-name">
                            <h1>
                                <a>
                                    Mental Health
                                </a>
                            </h1>
                        </div>
                        <div class="media-section">
                            <div class="follow-btn">
                                <a><img src="assets/images/company/follow-icon.png" alt="company img">{{ "followCompany" | translate }}</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="is-body">
                        <div class="fundraiser-content">
                            <h2>Mental Health Donate</h2>
                            <h5>$1000,000 MTS Raised $250,000</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
                           
                        </div>
                    </div>
                </div>

            </div>
            <div class="is-right-ad-section">
                <div class="company-form">
                    <h2>Get in touch</h2>
                    <div class="form-row">
                        <input type="text" placeholder="First name" class="input-box" />
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Last name" class="input-box" />
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Email" class="input-box" />
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Phone number" class="input-box" />
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Amount" class="input-box" />
                    </div>
                    <div class="form-row">
                        <button type="button" class="is-see-more">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>