<section class="is-banner-sec">
    <div class="is-text">
        <h3>Title</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="is-comman-title">
            Messenger
        </div>
        <div class="is-story-product-main">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <h3>Story Name</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <div class="is-cart">
                                <span>$150</span>
                                <span><a class="is-buy"><img src="assets/images/copywriter/cart.png" />Buy</a></span>
                            </div>
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-img.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-img.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <h3>Story Name</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <div class="is-cart">
                                <span>$150</span>
                                <span><a class="is-buy"><img src="assets/images/copywriter/cart.png" />Buy</a></span>
                            </div>
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-img.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-img.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <h3>Story Name</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <div class="is-cart">
                                <span>$150</span>
                                <span><a class="is-buy"><img src="assets/images/copywriter/cart.png" />Buy</a></span>
                            </div>
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-img.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-img.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <h3>Story Name</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <div class="is-cart">
                                <span>$150</span>
                                <span><a class="is-buy"><img src="assets/images/copywriter/cart.png" />Buy</a></span>
                            </div>
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-img.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-img.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <h3>Story Name</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <div class="is-cart">
                                <span>$150</span>
                                <span><a class="is-buy"><img src="assets/images/copywriter/cart.png" />Buy</a></span>
                            </div>
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-img.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-img.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <h3>Story Name</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <div class="is-cart">
                                <span>$150</span>
                                <span><a class="is-buy"><img src="assets/images/copywriter/cart.png" />Buy</a></span>
                            </div>
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-img.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-img.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-more-btn"><button nz-button="" nztype="primary" class="is-see-more">View all</button></div>
        </div>
    </div>
</section>