.border-box-sec{
    .container{
        width:calc(100% - 50px);
        .border-box{
            background: #fff;
            padding: 15px;
            border: 1px solid #eee;
            margin: 20px 0px;
            .banner-sec{
                a{
                    display:inline-block;
                    img{
                        width:100%;
                    }
                }
            }
            .border-box-content{
                padding: 20px 0px;
                h2{
                    font-size: 20px;
                    font-family: "open_sansregular";
                    margin: 0px 0px 10px 0px;
                    font-weight: 600;
                }
                p{
                    font-family: "open_sansregular";
                    font-size: 15px;
                    font-weight: normal;
                    color: #464444;
                    line-height: 24px;
                    word-break: break-all;
                    margin: 0px 0px 7px 0px;
                }
                ul{
                    padding: 20px 0px 0px 0px;
                    li{
                        display: block;
                        position: relative;
                        padding: 0px 0px 10px 15px;
                        &::after{
                            content: "";
                            position: absolute;
                            top: 8px;
                            left: 0px;
                            width: 6px;
                            height: 6px;
                            border-radius: 20px;
                            background: #000;
                        }
                    }
                }
                .buy-btn{
                    padding: 13px 35px;
                    background: #ff4020;
                    color: #fff;
                    display: inline-block;
                    font-family: "josefin_sansregular";
                    font-size: 22px;
                    border-radius: 30px;
                    line-height: 22px;
                    border: 0px;
                    margin-top:20px;
                }
            }
        }
    }
}
