/*********************************************************
              Custom Fonts Css
********************************************************/
@font-face {
  font-family: "open_sansregular";
  src: url("assets/scss/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("assets/scss/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_sansbold";
  src: url("assets/scss/fonts/josefinsans-bold-webfont.woff2") format("woff2"),
    url("assets/scss/fonts/josefinsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_sansitalic";
  src: url("assets/scss/fonts/josefinsans-italic-webfont.woff2") format("woff2"),
    url("assets/scss/fonts/josefinsans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_sanslight";
  src: url("assets/scss/fonts/josefinsans-light-webfont.woff2") format("woff2"),
    url("assets/scss/fonts/josefinsans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_sansregular";
  src: url("assets/scss/fonts/josefinsans-regular-webfont.woff2") format("woff2"),
    url("assets/scss/fonts/josefinsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_sanssemibold";
  src: url("assets/scss/fonts/josefinsans-semibold-webfont.woff2") format("woff2"),
    url("assets/scss/fonts/josefinsans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*********************************************************
              Custom Fonts Css End
********************************************************/
