<div class="bookings-container">
  <nz-card>

    <nz-table #basicTable [nzData]="contact" class="services">
      <thead>
        <tr>
          <th>URL</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="servicesLoading" class="booking-loading">
          <td colspan="5">
            <nz-spin nzSimple></nz-spin>
          </td>
        </tr>
        <tr *ngFor="let data of basicTable.data ">
          <td>{{ data.submiturl }}</td>
          <td>{{ data.created_at }}</td>
          <td>
            <div *ngIf="!data.status">
              {{'pendingInf' | translate}}
            </div>
            <div *ngIf="data.status">
              <span> {{data.status | translate}}</span>
            </div>
          </td>
          <td>
            <div *ngIf="data.status=='accept'">
              <nz-rate [ngModel]="data.rating?data.rating:0" [nzTooltips]="tooltips" (ngModelChange)="ratingClick(data.parentId,data.id,$event)" [nzDisabled]="data.userId || disabled"></nz-rate>

            </div>
          </td>
        </tr>
      </tbody>




    </nz-table>
  </nz-card>
</div>