<section class="jobsBannerSection">
  <div class="container h-100">
    <div class="row h-70 align-items-end justify-content-center">
      <div class="col-lg-6 col-sm-8 ">
        <h1 class="mainHeadingJobs">Find Candidates with
          good Keyskills</h1>

      </div>
    </div>
    <div class="row h-30 align-items-center">
      <div class="col-md-12">
        <a class="jobsBannerBackButton" [routerLink]="['/jobs']" > <img src="../../../assets/images/jobs/leftArrow.svg" /> Back</a>
      </div>
    </div>
  </div>
</section>
<section class="jobsSearchSection">
  <div class="container">

    <ais-instantsearch [config]="config">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            {{'jobsSearchCandidates' | translate}}
          </div>
        </div>
        <div class="col">
          <ais-search-box></ais-search-box>
        </div>
        <div *ngIf="!checkUserLogin" class="col-md-3">

          <div class="jobslinksButton">
            <a href="/auth/login" class="loginButtonJob">{{'login' | translate}}</a>
            <a href="/auth/signup" class="signupButtonJob">{{'signUp' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="jobSection">
        <ais-hits>
          <ng-template let-hits="hits">
            <div class="row">

              <div *ngFor="let vacancies of hits" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="jobCard">
                  <div class="candidateCardHeader">
                    <div>
                      <img src="{{vacancies.author.avatar.url }}" />
                      <!-- <img src="../../../assets/images/jobs/candidate1.png" /> -->
                    </div>
                    <div>
                      <p class="">{{vacancies.author.fullName }}</p>
                      
                    </div>
                  </div>
                  <div class="jobsCardbody">
                    <h3 class="jobTitle">{{vacancies.jobTitle}} <span class="jobDate">{{vacancies.created_at | date: 'MMM dd yyyy'}}</span></h3>
                    <span class="jobType">{{vacancies.jobType}}</span>
                    <div class="jobDesc" innerHTML="{{vacancies.jobRequirements}}"></div>
                  </div>
                  <div class="jobsCardFooter">
                    <div class="jobSalary">${{vacancies.salary}}<span>/{{'jobsSalaryMonth' | translate}}</span></div>
                    <div class="jobLink"><a [routerLink]="['/job-detail',vacancies.id]">{{'jobsView' | translate}}</a></div>
                  </div>
                </div>
              </div>
              
            </div>

          </ng-template>
        </ais-hits>
        <ais-configure [searchParameters]="{ hitsPerPage: 16 }"></ais-configure>
        <div class="jobs-pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>
    </ais-instantsearch>

    <!-- <div class="row">
      <div class="col-md-12">
        <div class="page-title">
          Search By Candidates
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="searchBar">
          <input type="search" placeholder="Search candidates" />
          <img src="../../../assets/images/jobs/search.png" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5">
        <div class="jobslinksButton">
          <a href="/auth/login" class="loginButtonJob">Login</a>
          <a href="/auth/signup" class="signupButtonJob">Signup</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let job of jobs" class="col-md-3">
        <div class="jobCard">
          <div class="jobsCardHeader">
            <div>
              <img src="{{ job.logo.url }}" />
              
            </div>
            <div>
              <p class="">{{ job.companyName }}</p>
              <span class="jobDate">{{job.created_at}}</span>
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">{{ job.jobTitle }}</h3>
            <span class="jobType">{{ job.jobType }}</span>
            <div class="jobDesc" innerHTML="{{job.jobRequirements}}"></div>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">${{job.salary}}<span>/month</span></div>
            <div class="jobLink"><a href="/job/company-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate1.png" />
            </div>
            <div>
              <p class="">James william</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate2.png" />
            </div>
            <div>
              <p class="">Darlene Robertson</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate3.png" />
            </div>
            <div>
              <p class="">Cameron Williamson</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate4.png" />
            </div>
            <div>
              <p class="">Theresa Webb</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate5.png" />
            </div>
            <div>
              <p class="">Ronald Richards</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate6.png" />
            </div>
            <div>
              <p class="">Cody Fisher</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate6.png" />
            </div>
            <div>
              <p class="">Cody Fisher</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jobCard">
          <div class="candidateCardHeader">
            <div>
              <img src="../../../assets/images/jobs/candidate8.png" />
            </div>
            <div>
              <p class="">Cody Fisher</p>
              
            </div>
          </div>
          <div class="jobsCardbody">
            <h3 class="jobTitle">Apple Developer <span class="jobDate">01 March</span></h3>
            <span class="jobType">Full time</span>
            <p class="jobDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, </p>
          </div>
          <div class="jobsCardFooter">
            <div class="jobSalary">$2000<span>/month</span></div>
            <div class="jobLink"><a href="/job/candidate-detail">View</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-md-5 offset-md-7 ">
        <ul class="paginate-jobs">
          <li class="prevButton"><img src="../../../assets/images/jobs/leftArrow.svg" /></li>
          <li class="counts current">1</li>
          <li class="counts">2</li>
          <li class="counts">3</li>
          <li class="counts">4</li>
          <li class="nextButton"><img src="../../../assets/images/jobs/leftArrow.svg" /></li>
        </ul>
      </div>
    </div> -->
  </div>
</section>
