<section class="jobsBannerSection">
  <div class="container h-100">
    <div class="row h-70 align-items-end justify-content-center">
      <div class="col-md-6 ">
        <h1 class="mainHeadingJobs" >Looking for Job?</h1>
      </div>
    </div>
    <div class="row h-30 align-items-center">
      <div class="col-md-12">
        <a class="jobsBannerBackButton" href="/jobs/search-by-candidates"> <img src="../../../assets/images/jobs/leftArrow.svg" /> Back</a>
      </div>
    </div>
  </div>
</section>
<section class="detailSection">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="companyTop">
          <div class="candidateIcon">
            <div class="companyLogo"><img src="../../../assets/images/jobs/candidate.png" /></div>
            <span class="icon"><img src="../../../assets/images/jobs/iconuser.png" /></span>
            <h3>James William</h3>            
          </div>
        </div>
        <div class="companyBottom">
          <div class="commChannel">
            <div>
              <div class="imageBox">
                <img src="../../../assets/images/jobs/document.png" />
              </div>
              <span>Text</span>
            </div>
            <div>
              <div class="imageBox">
                <img src="../../../assets/images/jobs/video.svg" />
              </div>
              <span>Video</span>
            </div>
            <div>
              <div class="imageBox">
                <img src="../../../assets/images/jobs/audio.svg" />
              </div>
              <span>Audio</span>
            </div>
          </div>
        </div>
        <div><a href="#" class="btnsecondary">View cv</a></div>
      </div>
      <div class="col-md-8">
        <div class="">
          <div class="contentTop">
            <div>
              <h2 class="jobTitle">James William</h2>
              <span>01 March, 2022, 9:11:37 AM</span>
            </div>
          </div>

          <div class="videoSection">
            <div class="videoWrapper">
              <img src="../../../assets/images/jobs/video.png" />
            </div>
            <div class="socialSharing">
              <!-- <img src="../../../assets/images/jobs/sharing.png" /> -->
              <div class="likeBox">
                <a href="#">
                  <img src="../../../assets/images/jobs/bx_bx-like.svg" />
                  <span>2.5k </span>
                </a>
              </div>
              <div class="sharingBox">
                <a href="#">
                  <img src="../../../assets/images/jobs/bx_bx-share.svg" />
                  <span>Share </span>
                </a>
              </div>
            </div>
          </div>
          <div class="jobCandidateDetailCandidate">
              <h3>jobCandidateDetail Candidates</h3>
              <div class="candidatejobCandidateDetailForm">
                  <div>
                    <h4>Company name</h4>
                    <input type="text" placeholder="Company name" />
                  </div>
                  <div>
                    <h4>Description</h4>
                    <textarea placeholder="Description"></textarea>
                  </div>
                  <button class="btnBooking">Booking</button>
              </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
