<section class="border-box-sec">
    <div class="container">
        <div class="border-box">
            <div class="banner-sec">
                <img src="assets/images/backoffice/e-commerce-funding.jpg" alt="">
            </div>
            <div class="border-box-content">
                <h2>Best Small Business Loans</h2>
                <p>Your opportunity is waiting, but not for long. Let National help you seize it before it's too late!</p>
                <p>Choose from a variety of financing options (based on your needs) to take your business to the next level.</p>
                <p>Fund smarter with flexible financing. Fixed payments with terms (from 6 months to 10 years) that work for your business. Use for any need.</p>
            </div>
        </div>
    </div>
</section>