<section class="bg-white">
    <div class="container-fluid">
        <div class="title-row">




            <div class="right-btn-bar">
                <div class="category-newsletter-container">
                    <span class="cat-yellow"> </span>
                    <form action="" method="post" id="form_add_sub_cat" [formGroup]="newsLetterForm">
                        <input type="hidden" name="csrfmiddlewaretoken" value="dM4QEapppMGbO2CnodWzQm2slYLJTdJp">
                        <input name="category-constant_contact" [value]="category?.title" type="text" hidden="">
                        <nz-alert class="mb-2" nzType="error" nzMessage="{{'errorSubscribe' | translate}}" nzShowIcon *ngIf="errorSubscribe"></nz-alert>
                        <nz-alert class="mb-2" nzType="success" nzMessage="{{'successSubscribe' | translate}}" nzShowIcon *ngIf="successSubscribe"></nz-alert>
                        <div class="form-group">
                            <input class="form-control newsletter-input" formControlName="email" id="id_category-email"
                                maxlength="100" name="category-email" email="true"
                                placeholder="{{'subscribeNewsletter' | translate}}" type="email" required="">
                            <button class="btn" (click)="submit()">{{'subscribe' | translate}}</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <!-- <div class="btn-rss">
                    <a href="https://mytrendingstories.com/category/life-and-styles/feed/">
                        {{'subscribeRSS' | translate}}
                        <span class="rss-icon"><i class="fa fa-rss" aria-hidden="true"></i></span>
                    </a>
                </div> -->
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="is-comman-title">
            {{pageHeader}}
        </div>
        <section class="is-cat-box-card-main">
            <div class="cat-box">
                <div class="container">
                    <div class="cat-box-gallery">
                        <div class="row article-row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 custom-col-5" *ngFor="let article of articles"
                                [ngClass]="category.slug">
                                <div class="item-card item-card-life-and-styles">
                                    <a [routerLink]="['/article/',article.slug]">
                                        <div class="item-card-image">

                                            <img [src]="replaceImage(article?.image?.url)" [alt]="article?.image?.alt">
                                            <h3 class="is-category-title">{{category.title}}</h3>
                                        </div>
                                        <div class="item-card-content">
                                            <div class="item-card-category  cat-yellow">
                                                <div class="is-avatar-dv">

                                                    <img class="avatar"
                                                        [src]="replaceImage(article.author?.avatar?.url)"
                                                        [alt]="article.author?.avatar?.alt"
                                                        onerror="this.src='assets/images/default-avatar.png'" />
                                                    <span class="item-card-author">{{article.author.fullname}}</span>
                                                </div>
                                            </div>
                                            <div class="item-card-title">
                                                <h4 class="item-long-title">{{article.title}}</h4>
                                            </div>
                                            <div class="item-card-texte">
                                                <p>{{article.summary}}</p>
                                                <button type="button" class="is-read-more">{{'readMore' | translate}}
                                                    <img src="assets/images/read-more-icon-black.png"
                                                        alt="Read More" /></button>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

    </div>
</section>