<div class="container">
   <div class="ad-unit-tbl">
    <nz-table  #borderedTable nzBordered>
        <thead>
          <tr>
            <th>List of site</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><small>https://mytrendingstories.com/</small></td>
            <td> 
              <button nz-button nzType="primary" nzGhost class="mr-2" class="custom-btn mr-2">Approve</button>
              <button nz-button nzType="primary" nzGhost class="mr-2" class="custom-btn black-btn">Reject</button>
            </td>
          </tr>
     
        </tbody>
      </nz-table>
   </div>
</div>
