<div class="container">
   <div class="ad-unit-tbl">
    <nz-table  #borderedTable nzBordered>
        <thead>
          <tr>
            <th>Ad Unit</th>
            <th>Ad Format</th>
            <th>Size</th>
            <th>Id</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <div>
                    <div class="float-left">
                        <small>300x250-Default</small>
                    </div>
                    <div class="float-right">
                        <button nz-button nzType="primary" nzGhost class="mr-2" class="custom-btn mr-2">Edit</button>
                        <button nz-button nzType="default" nzGhost  class="custom-btn black-btn">Get Code</button>                  
                    </div><div class="clearfix"></div>
                </div>
            </td>
            <td>
                <small>Content Ads</small>
            </td>
            <td><small>300x250-(Medium Rectangle)</small></td>
            <td><small>563546354</small></td>
            <td><small>Active</small></td>
          </tr>
     
        </tbody>
      </nz-table>
   </div>
</div>
