<div class="mega-dropdown hide-on-mobile"  (mouseenter)="showMegaMenu()"
    (mouseleave)="hideMegaMenu()"
    [ngClass]="rotateArrow"
    (mouseover)="rotateArrow='rotate-arrow-down'"
    (mouseout)="rotateArrow=''">
    <a class="mega-dropdown-btn">Shop by category</a>
    <div class="mega-menu-body-sec" id="mega-menu-body">
        <div class="megamenu-menu-body">
            <div class="sub-catagories-sec">
                <div class="top-category">
                    <ul class="top-category-menu">
                        <li class="category-submenu-list">
                            <a  class="drop-icon">Electronics</a>
                            <div class="top-category-submenu" id="top-category-submenu">
                                <div class="sub-catagories-list">
                                    <h2>Top Categories</h2>
                                    <ul>
                                        <li><a >Cell Phones Accessories</a></li>
                                        <li><a >Smart Watches</a></li>
                                        <li><a >Video Games Accessories</a></li>
                                        <li><a >Computers Tablets</a></li>
                                        <li><a >Digital Cameras Photo</a></li>
                                        <li><a >Camera Drones</a></li>
                                        <li><a >Deals</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list">
                                    <h2>Other Categories</h2>
                                    <ul>
                                        <li><a >iPhone</a></li>
                                        <li><a >Samsung</a></li>
                                        <li><a >Portable Audio Headphones</a></li>
                                        <li><a  >TV, Video Home Audio</a></li>
                                        <li><a  >Vehicle Electronics GPS</a></li>
                                        <li><a  >Smart Home</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list side-banner">
                                    <div class="category-right-img">
                                        <div class="category-overlay-txt">
                                            <h2>Top Deals on Electronic Products</h2>
                                            <a >Shop Now</a>
                                        </div>
                                        <img src="assets/images/shopping/cate1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li  class="category-submenu-list">
                            <a  class="drop-icon">Fashion</a>
                            <div class="top-category-submenu" id="top-category-submenu">
                                <div class="sub-catagories-list">
                                    <h2>Top Categories</h2>
                                    <ul>
                                        <li><a >Women's Clothing</a></li>
                                        <li><a >Women's Shoes</a></li>
                                        <li><a >Men's Clothing</a></li>
                                        <li><a >Men's Shoes</a></li>
                                        <li><a >Digital Cameras Photo</a></li>
                                        <li><a >Watches, Parts & Accessories</a></li>
                                        <li><a >Deals</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list">
                                    <h2>Other Categories</h2>
                                    <ul>
                                        <li><a >Fine Jewelry</a></li>
                                        <li><a >Fashion Jewelry</a></li>
                                        <li><a >Men's Accessories</a></li>
                                        <li><a  >Women's Handbags & Bags</a></li>
                                        <li><a  >Kids' Clothing, Shoes & Accs</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list side-banner">
                                    <div class="category-right-img Fashion-bg">
                                        <div class="category-overlay-txt">
                                            <h2>Top Deals on Men & women clothes</h2>
                                            <a >Shop Now</a>
                                        </div>
                                        <img src="assets/images/shopping/cate2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-submenu-list">
                            <a  class="drop-icon">Health & Beauty</a>
                            <div class="top-category-submenu" id="top-category-submenu">
                                <div class="sub-catagories-list">
                                    <h2>Top Categories</h2>
                                    <ul>
                                        <li><a >Makeup</a></li>
                                        <li><a >Health Care</a></li>
                                        <li><a >Fragrances</a></li>
                                        <li><a >Nail Care, Manicure & Pedicure</a></li>
                                        <li><a >Digital Cameras Photo</a></li>
                                        <li><a >Hair Care & Styling</a></li>
                                        <li><a >Deals</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list">
                                    <h2>Other Categories</h2>
                                    <ul>
                                        <li><a >Skin Care</a></li>
                                        <li><a >Vitamins & Dietary Supplements</a></li>
                                        <li><a >Shaving & Hair Removal</a></li>
                                        <li><a  >Vision Care</a></li>
                                        <li><a  >Bath & Body</a></li>
                                        <li><a  >Oral Care</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list side-banner">
                                    <div class="category-right-img Fashion-bg">
                                        <div class="category-overlay-txt">
                                            <h2>Top Deals on Health & Beauty</h2>
                                            <a >Shop Now</a>
                                        </div>
                                        <img src="assets/images/shopping/cate3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-submenu-list">
                            <a  class="drop-icon">Motors</a>
                            <div class="top-category-submenu" id="top-category-submenu">
                                <div class="sub-catagories-list">
                                    <h2>Top Categories</h2>
                                    <ul>
                                        <li><a >Car & Truck Parts</a></li>
                                        <li><a >Motorcycle Parts</a></li>
                                        <li><a >ATV Parts</a></li>
                                        <li><a >Scooter Parts</a></li>
                                        <li><a >Snowmobile Parts</a></li>
                                        <li><a >Deals</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list">
                                    <h2>Other Categories</h2>
                                    <ul>
                                        <li><a >Motorcycle Apparel</a></li>
                                        <li><a >Snowmobile Apparel</a></li>
                                        <li><a >Motorcycle Accessories</a></li>
                                        <li><a  >Performance & Racing Parts</a></li>
                                        <li><a  >Vintage Car & Truck Parts</a></li>
                                        <li><a  >Car Electronics</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list side-banner">
                                    <div class="category-right-img Fashion-bg">
                                        <div class="category-overlay-txt">
                                            <h2>Top Deals on Motor parts</h2>
                                            <a >Shop Now</a>
                                        </div>
                                        <img src="assets/images/shopping/cate4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-submenu-list">
                            <a  class="drop-icon">Collectibles</a>
                            <div class="top-category-submenu" id="top-category-submenu">
                                <div class="sub-catagories-list">
                                    <h2>Top Categories</h2>
                                    <ul>
                                        <li><a >Action Figures</a></li>
                                        <li><a >Coins and Paper Money</a></li>
                                        <li><a >Stamps</a></li>
                                        <li><a >Postcards</a></li>
                                        <li><a >Autographed Memorabilia</a></li>
                                        <li><a >Sport Memorabilia</a></li>
                                        <li><a >Collectibles</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list">
                                    <h2>Other Categories</h2>
                                    <ul>
                                        <li><a >Arts</a></li>
                                        <li><a >Antiques</a></li>
                                        <li><a >Pens & Writing Instruments</a></li>
                                        <li><a  >TV, Movie & Character Toys</a></li>
                                        <li><a  >Toy Vehicles</a></li>
                                        <li><a  >Comics</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list side-banner">
                                    <div class="category-right-img Fashion-bg">
                                        <div class="category-overlay-txt">
                                            <h2>Top Deals on Other Stuffs</h2>
                                            <a >Shop Now</a>
                                        </div>
                                        <img src="assets/images/shopping/cate5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-submenu-list">
                            <a  class="drop-icon">Sports</a>
                            <div class="top-category-submenu" id="top-category-submenu">
                                <div class="sub-catagories-list">
                                    <h2>Top Categories</h2>
                                    <ul>
                                        <li><a >Cycling</a></li>
                                        <li><a >Outdoor Sports</a></li>
                                        <li><a >Hunting</a></li>
                                        <li><a >Fishing</a></li>
                                        <li><a >Fitness, Running & Yoga</a></li>
                                        <li><a >Deals</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list">
                                    <h2>Other Categories</h2>
                                    <ul>
                                        <li><a >Tennis</a></li>
                                        <li><a >Swimming</a></li>
                                        <li><a >Water Sports</a></li>
                                        <li><a  >Winter Sports</a></li>
                                        <li><a  >Team Sports</a></li>
                                        <li><a  >Fitness Technology</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list side-banner">
                                    <div class="category-right-img Fashion-bg">
                                        <div class="category-overlay-txt">
                                            <h2>Top Deals on Sport Accessories</h2>
                                            <a >Shop Now</a>
                                        </div>
                                        <img src="assets/images/shopping/cate6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-submenu-list">
                            <a class="drop-icon">Home & Garden</a>
                            <div class="top-category-submenu" id="top-category-submenu">
                                <div class="sub-catagories-list">
                                    <h2>Top Categories</h2>
                                    <ul>
                                        <li><a >Tools & Workshop Equipment</a></li>
                                        <li><a >Yard, Garden & Outdoor Living</a></li>
                                        <li><a >Home Improvement</a></li>
                                        <li><a >Baby</a></li>
                                        <li><a >Kitchen, Dining & Bar</a></li>
                                        <li><a >Lamps, Lighting & Ceiling Fans</a></li>
                                        <li><a >Deals</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list">
                                    <h2>Other Categories</h2>
                                    <ul>
                                        <li><a >Home Décor</a></li>
                                        <li><a >Home Organization Supplies</a></li>
                                        <li><a >Pens & Writing Instruments</a></li>
                                        <li><a  >Art & Craft Supplies</a></li>
                                        <li><a  >Beads & Jewelry Making Supplies</a></li>
                                        <li><a  >Art Supplies</a></li>
                                    </ul>
                                </div>
                                <div class="sub-catagories-list side-banner">
                                    <div class="category-right-img Fashion-bg">
                                        <div class="category-overlay-txt">
                                            <h2>Top Deals on Home & Garden Stuffs</h2>
                                            <a >Shop Now</a>
                                        </div>
                                        <img src="assets/images/shopping/cate7.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- <div class="sub-catagories-list" *ngFor="let catgory of categories">
                    <h2>{{catgory.title}}</h2>
                    <ul>
                        <li [routerLink]="['/shop/category', 'subCatgoryList.slug']" (click)="hideMegaMenu()" class="mega-menu-list-item"  *ngFor="let subCatgoryList of catgory.sub_categories">
                            {{subCatgoryList.title}}
                        </li>
                    </ul>
                </div> -->
            </div>

        </div>
    </div>
</div>

<div class="mega-dropdown on-mobile-mega-menu hide-on-lg">
    <a class="mega-dropdown-btn" (click)="showSideBar()"><i nz-icon nzType="menu" nzTheme="outline"></i></a>
    <div class="mega-menu-body-sec" id="mega-menu-body">
        <div class="megamenu-menu-body">
            <a class="close-side-bar" (click)="hideSideBar()"><i nz-icon nzType="close-square"
                    nzTheme="outline"></i></a>
            <div class="sub-catagories-sec list-scroll">
                <!-- <div class="sub-catagories-list" *ngFor="let catgory of categories">
                    <ul nz-menu nzMode="inline" class="slide-list-item">
                        <li nz-submenu nzTitle="{{catgory.title}}">
                            <ul>
                                <li nz-menu-item [routerLink]="['/shop/category', 'subCatgoryList.slug']"
                                    (click)="hideMegaMenu()" class="mega-menu-list-item"
                                    *ngFor="let subCatgoryList of catgory.sub_categories">
                                    {{subCatgoryList.title}}
                                </li>
                            </ul>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div> -->
                <div class="sub-catagories-list">
                    <ul nz-menu nzMode="inline" class="slide-list-item">
                        <li nz-submenu nzTitle="Electronics">
                            <div class="mobile-subcategory-list">
                                <h2>Top Categories</h2>
                            <ul>
                                <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Cell Phones Accessories</a></li>
                                <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Smart Watches</a></li>
                                <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Video Games Accessories</a></li>
                                <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Computers Tablets</a></li>
                                <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Digital Cameras Photo</a></li>
                                <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Camera Drones</a></li>
                                <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Deals</a></li>
                            </ul>
                            </div>
                            <div class="mobile-subcategory-list">
                                <h2>Other Categories</h2>
                                    <ul>
                                        <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >iPhone</a></li>
                                        <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Samsung</a></li>
                                        <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Portable Audio Headphones</a></li>
                                        <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >TV, Video Home Audio</a></li>
                                        <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Vehicle Electronics GPS</a></li>
                                        <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Smart Home</a></li>
                                    </ul>
                            </div>
                        </li>
                        <li nz-submenu nzTitle="Fashion">
                            <div class="mobile-subcategory-list">
                                <h2>Top Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Women's Clothing</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Women's Shoes</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Men's Clothing</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Men's Shoes</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Digital Cameras Photo</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Watches, Parts & Accessories</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Deals</a></li>
                                </ul>
                            </div>
                            <div class="mobile-subcategory-list">
                                <h2>Other Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Fine Jewelry</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Fashion Jewelry</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Men's Accessories</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Women's Handbags & Bags</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Kids' Clothing, Shoes & Accs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li nz-submenu nzTitle="Health & Beauty">
                            <div class="mobile-subcategory-list">
                                <h2>Top Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Makeup</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Health Care</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Fragrances</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Nail Care, Manicure & Pedicure</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Digital Cameras Photo</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Hair Care & Styling</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Deals</a></li>
                                </ul>
                            </div>
                            <div class="mobile-subcategory-list">
                                <h2>Other Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Skin Care</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Vitamins & Dietary Supplements</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Shaving & Hair Removal</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Vision Care</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Bath & Body</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Oral Care</a></li>
                                </ul>
                            </div>
                        </li>
                        <li nz-submenu nzTitle="Motors">
                            <div class="mobile-subcategory-list">
                                <h2>Top Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Car & Truck Parts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Motorcycle Parts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >ATV Parts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Scooter Parts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Snowmobile Parts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Deals</a></li>
                                </ul>
                            </div>
                            <div class="mobile-subcategory-list">
                                <h2>Other Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Motorcycle Apparel</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Snowmobile Apparel</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Motorcycle Accessories</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Performance & Racing Parts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Vintage Car & Truck Parts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Car Electronics</a></li>
                                </ul>
                            </div>
                        </li>
                        <li nz-submenu nzTitle="Collectibles">
                            <div class="mobile-subcategory-list">
                                <h2>Top Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Action Figures</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Coins and Paper Money</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Stamps</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Postcards</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Autographed Memorabilia</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Sport Memorabilia</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Collectibles</a></li>
                                </ul>
                            </div>
                            <div class="mobile-subcategory-list">
                                <h2>Other Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Arts</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Antiques</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Pens & Writing Instruments</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >TV, Movie & Character Toys</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Toy Vehicles</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Comics</a></li>
                                </ul>
                            </div>
                        </li>
                        <li nz-submenu nzTitle="Sports">
                            <div class="mobile-subcategory-list">
                                <h2>Top Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Cycling</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Outdoor Sports</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Hunting</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Fishing</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Fitness, Running & Yoga</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Deals</a></li>
                                </ul>
                            </div>
                            <div class="mobile-subcategory-list">
                                <h2>Other Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Tennis</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Swimming</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Water Sports</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Winter Sports</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Team Sports</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Fitness Technology</a></li>
                                </ul>
                            </div>
                        </li>
                        <li nz-submenu nzTitle="Home & Garden">
                            <div class="mobile-subcategory-list">
                                <h2>Top Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Tools & Workshop Equipment</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Yard, Garden & Outdoor Living</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Home Improvement</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Baby</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Kitchen, Dining & Bar</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Lamps, Lighting & Ceiling Fans</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Deals</a></li>
                                </ul>
                            </div>
                            <div class="mobile-subcategory-list">
                                <h2>Other Categories</h2>
                                <ul>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Home Décor</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Home Organization Supplies</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a >Pens & Writing Instruments</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Art & Craft Supplies</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Beads & Jewelry Making Supplies</a></li>
                                    <li nz-menu-item (click)="hideMegaMenu()" class="mega-menu-list-item"><a  >Art Supplies</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



