.account-div {
    color: #3b5998;
    margin-bottom: 20px;
    img {
        height: 60px;
        width: 60px;
    }
    button {
        color: #3b5998;
        border: 1px solid #3b5998;
    }
}

.m-l-30 {
    margin-left: 30px;
}