<div class="container" *ngIf="cartProducts.length > 0">
    <div class="m-l-20">
        <a [routerLink]="['/shop']">
          <button nz-button nzType="primary">Continue Shopping</button>
        </a>
      </div>
    <div class="row">
      <!-- List of Products -->
      <div class="col-8">
        <section class="product-sec">
            <div class="container"> 
                <div class="product-title">
                    <h2>Cart Products</h2>
                    <span class="line"></span>
                </div>
                <div class="product-list">
                    <div class="product" *ngFor="let product of cartProducts">
                        <div class="single-product">
                            <a [routerLink]="['/shop/products',product.slug]">
                                <div class="product-img">
                                    <img [src]="product?.images[0]?.url" [alt]="product?.images[0]?.alt" />
                                </div>
                                <div class="product-body">
                                    <h2>{{ product?.name }}</h2>
                                    <p>{{ product?.summary }}</p>
                                </div>
                            </a>
                            <div class="product-footer">
                                <div class="price">
                                    {{ product?.discountedPrice | currency :'USD':'symbol':'1.0-2' }}
                                    <span class="discount">{{ product?.salePrice | currency :'USD':'symbol':'1.0-2' }}</span>
                                </div>
                                <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete"
                                    (click)="removeCartProduct(product)">
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
      <div class="col-4">
        <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="cartProducts.length === 0">
    <div class="row body">
        <div class="col-md-12">
          <div class="error-template">
            <h1>
              Oops!</h1>
            <h2>
              {{messageTitle}}</h2>
            <div class="error-details">
              {{messageDescription}}
            </div>
            <div class="error-actions">
              <a [routerLink]="[ '/' ]" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-home"></span>
                Take Me Home </a>
              <a [routerLink]="[ '/shop' ]" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-envelope"></span>Continue Shopping</a>
            </div>
          </div>
        </div>
      </div>
  </div>