<div class="single-product">
    <a [routerLink]="['/shop/products',product.slug]">
        <div class="product-img">
            <img src="assets/images/shopping/product/product.jpg" alt="product" />
        </div>
        <div class="product-body">
            <h2>{{ product?.title }}</h2>
            <p>{{ product?.summary }}</p>
        </div>
    </a>
    <div class="product-footer">
        <div class="price">
            {{ product?.price?.salePrice | currency :'USD':'symbol':'1.0-2' }}
            <span class="discount">{{ product?.price?.unitPrice | currency :'USD':'symbol':'1.0-2' }}</span>
        </div>
        <button nz-button class="buy-btn" (click)="addToCart()" [nzLoading]="isAdding">Add to Cart</button>
    </div>
</div>

