<div class="order-summary-section">
  <h4>Order Summary</h4>
  <ul class="order-list">
    <li class="order" *ngFor="let product of products">
      <div *ngIf="config?.isCheckout" class="product-img">
        <img [src]="product?.images[0]?.url" [alt]="product?.images[0]?.alt" />
      </div>
      <span>{{ product.name }}</span>
      <strong
        *ngIf="product?.discountedPrice; else productSalePrice">{{ product?.discountedPrice | currency :'USD':'symbol':'1.0-2' }}</strong>
      <ng-template #productSalePrice>
        <strong>{{ product?.salePrice | currency :'USD':'symbol':'1.0-2' }}</strong>
      </ng-template>
    </li>
    <li class="total-value" *ngIf="totalWithShipping !=0">
      <span class="text-small">Shipping Cost</span>
      <strong>{{ totalWithShipping | currency :'USD':'symbol':'1.0-2' }}</strong>
    </li>
    <li class="total-value">
      <span>Total</span>
      <strong>{{ totalValue | currency :'USD':'symbol':'1.0-2' }}</strong>
    </li>
  </ul>
  <div class="cart-btn" *ngIf="!config?.isCheckout">
    <a [routerLink]="['/shop']">
      Continue Shopping
    </a>
    <a [routerLink]="['/shop/checkout']">
      Checkout
    </a>
  </div>


</div>
