<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <div class="m-v-10">
                    <button nz-button nzType="primary" [routerLink]="['compose']">
                        <i nz-icon nzType="plus"></i>
                        <span>{{'newArt' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nz-card *ngFor="let item of (articles)" class="profile-article-list">
        <nz-skeleton [nzLoading]="loading" [nzActive]="loading">
            <div class="profile-artical-list-item">
                <div class="profile-artical-img">
                    <img class="img-fluid" [src]="item?.featured_imageObj?.image" [alt]="item.title">
                </div>
                <div class="profile-artical-detail">
                    <h4>{{item.title}}</h4>
                    <div class="profile-artical-info">
                        <div class="profile-article-avtar">
                            <div class="d-flex align-items-center">
                                <nz-avatar nzSize="medium" [nzSrc]="item.authorObj?.avatarObj?.image"></nz-avatar>
                                <div class="m-l-10">
                                    <span>{{item.authorObj?.first_name+' '+item.authorObj?.last_name}}</span>
                                </div>
                            </div>
                            <div class="profile-article-date">
                                <nz-divider nzType="vertical"></nz-divider>
                                <span>{{item.created_at | date:'medium'}}</span>
                            </div>
                        </div>
                    </div>
                    <p>
                        <span>{{item.excerpt}}</span>
                    </p>
                    <div class="profile-artical-read-more">
                        <a [routerLink]="['/app/article/single',item.slug]" class="article-read-more" nz-button
                            nzType="default" nzGhost>{{'artReadMore' | translate}}</a>
                    </div>
                </div>
            </div>
        </nz-skeleton>
    </nz-card>
    <div class="m-t-30 text-center">
        <nz-spin nzSimple [nzSize]="'large'" *ngIf="loadingMore" nzTip="{{'artLoadingMore' | translate}}"></nz-spin>
    </div>
</div>