<div class="hero">
    <div class="row">
        <a href="#" class="item-card hero-card-large col-sm-6">

            <div class="hero-card-image"
                style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/89475596_1570098179826422_450415209072319012_n_article_small.jpg)">
            </div>

            <div class="item-card-content">
                <span class="redirect-link" href="https://mytrendingstories.com/category/">
                    <h2 class="hero-title">Today's stories</h2>
                </span>
                <h4 class="item-card-title">The O'Sullivan Twins At St Clare's by Enid Blyton (Review)</h4>

                <div class="item-card-author-group">

                    <img class="avatar"
                        src="https://mytrendingstories.com/media/photologue/photos/cache/Kate%20Barker%20Geramie%204674_14082016063048_author_small.jpg"
                        alt="gemsbooknook@outlook.com">

                    <span class="item-card-author">Geramie Kate Barker </span>
                </div>
                <div class="item-card-category">
                    <h3 class="cat-bubble cat-red-bg">Entertainment</h3>
                </div>
                <p>'It's the start of the Easter Term and Pat and Isabel are looking forward to meeting all their
                    friends at St Clare's once more. The new girls prove to be a s...</p>
            </div>
        </a>

        <a href="/en/article/a-step-by-step-guide-to-building-a-budget-you-can-actually-stick-to/"
            class="item-card hero-card col-sm-3">

            <div class="hero-card-image"
                style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/Building%20a%20Budget%20You%20Can%20Actually%20Stick%20to_article_small.jpg)">
            </div>

            <div class="item-card-content">
                <div class="item-card-category">
                    <h3 class="cat-bubble cat-light-blue-bg">Business</h3>

                    <div class="pull-right">
                        <span class="item-card-author">Mohaned Gadnne </span>

                        <img class="avatar"
                            src="https://mytrendingstories.com/media/photologue/photos/cache/Gadnne%20Mohaned%203210_09072018133654_author_small.jpg"
                            alt="gaaden.mohamed@gmail.com">

                    </div>
                </div>
                <h4 class="item-card-title">A Step-by-Step Guide to Building a Budget You Can Actually Stick to</h4>
            </div>
        </a>

        <a href="https://mytrendingstories.com/en/article/why-you-should-celebrate-your-birthday-in-a-good-quality-restaurant/"
            class="item-card hero-card col-sm-3">

            <div class="hero-card-image"
                style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/quality%20restaurant_article_small.jpg)">
            </div>

            <div class="item-card-content">
                <div class="item-card-category">
                    <h3 class="cat-bubble cat-yellow-bg">Life and Styles</h3>

                    <div class="pull-right">
                        <span class="item-card-author">James Howart</span>

                        <img class="avatar"
                            src="https://mytrendingstories.com/media/photologue/photos/cache/HowartJames95205_14012020123728_author_small.jpg"
                            alt="work@mytrendingstories.com">

                    </div>
                </div>
                <h4 class="item-card-title">Why You Should Celebrate Your Birthday In A Good Quality Restaurant</h4>
            </div>
        </a>


        <a href="https://mytrendingstories.com/en/article/food-trip-where-you-should-eat-when-you-visit-bossier-city-in-louisiana/"
            class="item-card hero-card col-sm-3">

            <div class="hero-card-image"
                style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/Food%20Trip_article_small.jpg)">
            </div>

            <div class="item-card-content">
                <div class="item-card-category">
                    <h3 class="cat-bubble cat-yellow-bg">Life and Styles</h3>

                    <div class="pull-right">
                        <span class="item-card-author">James Howart</span>

                        <img class="avatar"
                            src="https://mytrendingstories.com/media/photologue/photos/cache/HowartJames95205_14012020123728_author_small.jpg"
                            alt="work@mytrendingstories.com">

                    </div>
                </div>
                <h4 class="item-card-title">Food Trip: Where You Should Eat When You Visit Bossier City In Louisiana
                </h4>
            </div>
        </a>

        <a href="https://mytrendingstories.com/en/article/important-tips-for-a-home-renovation-project/"
            class="item-card hero-card col-sm-3">

            <div class="hero-card-image"
                style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/Important%20Tips%20for%20a%20Home%20Renovation%20Project_article_small.jpg)">
            </div>

            <div class="item-card-content">
                <div class="item-card-category">
                    <h3 class="cat-bubble cat-yellow-bg">Life and Styles</h3>

                    <div class="pull-right">
                        <span class="item-card-author">Charlesa Gibson</span>

                        <img class="avatar"
                            src="https://mytrendingstories.com/media/photologue/photos/cache/GibsonCharlesa219_02062016054930_author_small.jpg"
                            alt="charlesa8gibson@gmail.com">

                    </div>
                </div>
                <h4 class="item-card-title">Important Tips for a Home Renovation Project</h4>
            </div>
        </a>

    </div>
</div>