.main-content {
  padding: 116px 0 0 0;
}

#full-hero {
  .row,
  .col-md,
  .col-sm,
  .col-md-6,
  .col-sm-3 {
    padding: 0;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }

  .item-card {
    overflow: hidden;
  }

  .hero-card,
  .hero-card-large {
    position: relative;
    display: block;
  }

  .hero-card-large {
    min-height: 540px;
    padding: 60px;
    padding-bottom: 0;
  }

  .hero-card-large .hero-card-image {
    -webkit-box-shadow: inset 540px 0 390px -280px rgba(0, 0, 0, 0.7);
    box-shadow: inset 540px 0 390px -280px rgba(0, 0, 0, 0.7);
  }

  .hero-card .hero-card-image,
  .hero-card-large .hero-card-image {
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .hero-card-large .item-card-content {
    max-width: 340px;
  }

  .hero-card .item-card-content,
  .hero-card-large .item-card-content {
    z-index: 3;
    position: relative;
  }

  .hero-card-large .hero-title {
    text-transform: uppercase;
    color: #ff4020;
    margin-bottom: 20px;
  }

  .hero-card-large .item-card-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .hero-card-large .avatar {
    margin-left: 0;
  }

  .item-card-content .avatar {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    color: transparent;
  }

  .avatar {
    border-radius: 50%;
    max-width: 50px;
    background-color: #dddfe1;
  }

  .item-card-author {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    display: inline-block;
    color: #000;
  }

  .hero-card,
  .hero-card .item-card-author,
  .hero-card-large,
  .hero-card-large .item-card-author {
    color: #fff;
  }

  .hero-card:hover .item-card-author,
  .hero-card:focus .item-card-author,
  .hero-card-large:hover .item-card-author,
  .hero-card-large:focus .item-card-author {
    color: #fff;
    font-style: none;
  }

  .hero-card:hover .hero-card-image,
  .hero-card:focus .hero-card-image,
  .hero-card-large:hover .hero-card-image,
  .hero-card-large:focus .hero-card-image {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.6;
  }

  .item-card-category {
    padding: 10px 0;
    color: #ff4020;
  }

  .item-card-category h3 {
    font-size: 10px;
  }

  .hero-card {
    height: 270px;
  }

  .hero-card .hero-card-image {
    -webkit-box-shadow: inset 0 -220px 150px -80px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 -220px 150px -80px rgba(0, 0, 0, 0.7);
  }

  .hero-card .item-card-content {
    position: absolute;
    bottom: 30px;
    right: 20px;
    left: 20px;
  }

  .cat-bubble {
    padding: 5px 11px;
    margin-top: 5px;
    color: #fff;
    border-radius: 1000px;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    background-color: #f64747 !important;
  }
}

.cat-box {
  .item-card {
    overflow: hidden;
    min-height: 350px;

    a {
      display: block;

      .item-card-image {
        max-height: 150px;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
    }
  }

  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 47px;
  h4,
  p {
    color: #000;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .cat-box-title{
      padding-left: 10px;
      padding-right: 10px;

      h2 {
        font-weight: bold;
        cursor: pointer;
        display: inline-block;

        a i {
            margin-left: 5px;
          }
      }

      span {
        display: inline-block;
        cursor: pointer;
        font-size: 12px;
        float: right;
        line-height: 27px;
      }
  }

  .article-row {
    padding-top: 29px;
  }

  /* STRUCTURE
    =========================== */
  /*------Categorie Box---------*/
  /*-----Box Gallery------*/
  .item-card-content .item-card-author-container {
    position: relative;
    top: -5px;
  }
  .item-card-content .avatar {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    color: transparent;
  }

  .item-card-category {
    overflow: hidden;
  }
  .item-card-category h3 {
    /*color:$green;*/
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
  }
  .item-card-category .avatar {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    color: transparent;
  }

  .item-card-author {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    display: inline-block;
    color: #000;
  }

  .item-card-title h4 {
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

  .item-card-texte p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
  }

  .onoffswitch {
    position: relative;
    width: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .onoffswitch-checkbox {
    display: none;
  }

  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 2px solid #cccccc;
    border-radius: 20px;
    background-color: #ffffff;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    margin-bottom: 0;
  }

  .onoffswitch-label:before {
    content: "";
    display: block;
    width: 20px;
    margin: 0px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
    border: 2px solid #cccccc;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #3fbb22;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label,
  .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #3fbb22;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
  }

  .sectionpadding-sm {
    padding: 20px 0;
  }

  .sectionpadding {
    padding: 30px 0;
  }

  .sectionpadding-lg {
    padding: 70px 0;
  }

  .blockpadding {
    padding: 45px 45px 35px;
  }

  .no-padding {
    padding: 0;
  }

  .no-margin {
    margin: 0;
  }

  .containerpadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 2px solid #dddfe1;
  }

  hr.tinyhr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #202020;
    width: 20px;
    margin-left: 0;
  }

  .col-nopad {
    padding: 0;
  }

  .container-nopad {
    padding: 0;
  }

  .vcenter-parent {
    display: table;
    width: 100%;
    height: 100%;
  }

  .vcenter {
    display: table-cell;
    vertical-align: middle;
  }

  .color-bloc {
    padding: 45px;
  }

  .white-bloc {
    background-color: #fff;
  }

  .grey-bloc {
    background-color: #dddfe1;
  }

  .lightgrey-bloc {
    background-color: #e5e7ea;
  }

  .black-bloc {
    background-color: #202020;
    color: #dddfe1;
  }

  .big-bloc {
    padding: 45px;
    min-height: 485px;
  }
  .big-bloc h2 {
    margin-bottom: 30px;
  }
  .big-bloc h3 {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .big-bloc p {
    margin-bottom: 20px;
  }

  .col-xs-15,
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xs-15 {
    width: 20%;
    float: left;
  }

  .col-xs-40,
  .col-sm-40,
  .col-md-40,
  .col-lg-40 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xs-40 {
    width: 40%;
    float: left;
  }

  /*--------------Section Category Box Gallery ---------------*/
  .item-card {
    overflow: hidden;
    min-height: 350px;
  }
  .item-card .item-long-title {
    font-size: 20px;
  }
  .item-card a {
    display: block;
  }
  .item-card a .item-card-image {
    max-height: 150px;
    position: relative;
    overflow: hidden;
  }
  .item-card a .item-card-image:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff4020;
    position: absolute;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .item-card a .item-card-image img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .item-card a:hover .item-card-image img {
    opacity: 0.5;
  }
  .item-card a:hover .item-card-image:after {
    left: 0;
  }

  .item-card-alt {
    overflow: hidden;
  }
  .item-card-alt a .item-card-image {
    max-height: 300px;
    float: left;
    width: 50%;
  }
  .item-card-alt a .item-card-content {
    float: left;
    width: 50%;
    padding-top: 0;
    padding-left: 15px;
  }

  .item-card-news a .item-card-image:after {
    background-color: #ff4020;
  }

  .item-card-category {
    padding: 10px 0;
    color: #ff4020;
  }

  .item-card-business a .item-card-image:after {
    background-color: #22acf6;
  }

  .item-card-entertainment a .item-card-image:after {
    background-color: #f64747;
  }

  .item-card-life-and-styles a .item-card-image:after {
    background-color: #fbca20;
  }

  .item-card-tech-and-science a .item-card-image:after {
    background-color: #3fbb22;
  }

  .item-card-voices a .item-card-image:after {
    background-color: #7122bb;
  }

  .item-card-sport a .item-card-image:after {
    background-color: #2f71c6;
  }

  .item-card-religion a .item-card-image:after {
    background-color: #23d7d5;
  }

  /*--------------------------------------------------------------*/
  .article-card {
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 3px solid #e5e7ea;
  }
  .article-card a {
    display: block;
    color: #000;
  }
  .article-card h4 {
    font-size: 16px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  .article-card p {
    font-size: 14px;
    color: #abb0b7;
  }
  .article-card img {
    width: 100%;
    margin-bottom: 15px;
  }
  .article-card .article-card-cat {
    font-size: 10px;
    text-transform: uppercase;
  }
  .article-card:last-child {
    border: 0;
  }

  .extra-article {
    background: #fff;
    padding: 15px;
  }

  .avatar {
    border-radius: 50%;
    max-width: 50px;
    background-color: #dddfe1;
  }

  .card {
    word-break: break-word;
  }
  .card .card-header {
    padding: 25px;
  }
  .card .card-header h2 {
    margin: 0;
    font-size: 60px;
  }
  .card .card-image {
    max-height: 150px;
    overflow: hidden;
  }
  .card .card-image img {
    width: 100%;
  }
  .card .card-content {
    padding: 25px;
  }
  .card .card-footer {
    border-top: 1px solid #dddfe1;
    padding: 25px;
  }
  .card .card-footer .btn {
    float: right;
  }
  .card.card-white {
    background-color: #fff;
  }
  .card.card-disable {
    opacity: 0.5;
  }
  .card:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 34px 0 #0000002e;
    box-shadow: 0 0 34px 0 #0000002e;
  }
  .card:hover.card-disable {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  @media (min-width: 768px) {
    .col-sm-15 {
      width: 20%;
      float: left;
    }

    .col-sm-40 {
      width: 40%;
      float: left;
    }
  }
  @media (min-width: 992px) {
    .col-md-15 {
      width: 20%;
      float: left;
    }

    .col-md-40 {
      width: 40%;
      float: left;
    }
  }
  @media (min-width: 1200px) {
    .col-lg-15 {
      width: 20%;
      float: left;
    }

    .col-lg-40 {
      width: 40%;
      float: left;
    }
  }
}
