
/*Hero Section*/
.is-hero{
  .row,.col-sm{
    padding: 0px;
    margin: 0px;
  }
  .is-hero-card{
    width:100%;
    height: 100%;
    position: relative;
    display: inline-block;
    padding: 50px;
   

    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      width:100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      top:0px;
      left:0px;
    }

    .is-card-bg{
      position: absolute;
      left: 0px;
      top: 0px;
      background-size:cover;
      width:100%;
      height: 100%;
      transition: 0.5s all ease;
    }
    &:hover .is-card-bg{
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    .is-card-content{
      position: relative;
      max-width: 340px;
      z-index: 1;
      .is-small-title{
        font-size: 38px;
        color: #fff;

        span{
          display: block;
          color: #f64747;
          font-size: 22px;
          text-transform: uppercase;
          &:hover{
            color: #fff;
          }
        }
      }
      .is-card-author-group{
          display:flex;
          align-items: center;
        img{
          width: 32px;
          height: 32px;
          border-radius: 100%;

        }
        .is-card-author{
          font-size: 12px;
          color: #fff;
          margin-left: 10px;
        }
      }
      .is-card-btn{
        display: inline-block;
        margin: 15px 0px 10px 0px;
        .cat-bubble{
          border-radius: 20px;
          padding: 4px 12px;
          color: #fff;
          font-size: 10px;
          border:0px;
          cursor: pointer;
          outline: none;

        }
      }
      .is-card-description{
        font-size: 14px;
        color: #fff;
        line-height: 24px;
      }
    }
    &.is-small-card{
      padding: 15px;
      .is-card-btn{
        margin: 0px;
      }
      .is-card-author{
        margin: 0px 10px 0px 0px;
      }
      .is-card-description{
        margin-top: 10px;
      }
      .is-card-content{
        position: absolute;
        left: 15px;
        bottom: 0px;
        width: calc(100% - 30px);
        max-width: 100%;
      }
      .is-card-description{
        font-size: 19px;
      }
    }
  }
}
/*Follow Member*/
.is-follower-member{
  background-color: #fff;
  padding:0px;
  .row{
    margin:0px;
    .col-lg-1{
      padding: 0px;
    }
  
    .is-follower-title{
      background-color: #abb0b7;
      color: #FFF;
      padding: 25px 15px;
      float: left;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      max-width: 135px;
    }
    .is-member{
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      width: calc(100% - 285px);
      align-items: center;
      .is-member-item{
        margin: 0px 10px;
        position: relative;
        
        .is-member-hover{
          width: 275px;
          position: relative;
          line-height: normal;
          overflow: hidden;
          position: absolute;
          z-index: 10;
          bottom: 95px;
          right: -112px;
          display: none;
          background: #fff;
          border-radius: 10px;
         
          .is-member-profile-header{
            background-color: #000;
            padding: 15px 15px 0px;
            border-radius: 8px 8px 0 0;
            h3{
              max-width: 160px;
              text-align: left;
              font-size: 14px;
              color:#fff;
            }
            .is-profile-hover-img{
              width: 60px;
              height: 60px;
              border-radius: 100px;
              margin: auto;
              display: block;
              border: 2px solid #fff;
              -webkit-transform: scale(1) translate3d(0, 0, 0);
              transform: scale(1) translate3d(0, 0, 0);
              background-color: #abb0b7;
              position: relative;
              top: 27px;
              z-index: 9999999;
              margin-top: 10px;
            }
          }
        }
        .is-member-profile-body{
          text-align: center;
          padding: 30px 20px 20px 20px;
          p{
            font-size: 12px;
            text-align: center;
            opacity: 1;
          }
          .is-profile-tag{
            text-align: center;
            .is-tag{
              padding: 5px 11px;
              margin-top: 5px;
              color: #FFF;
              border-radius: 1000px;
              font-family: "Ubuntu",sans-serif;
              font-size: 12px;
              font-weight: bold;
              display: inline-block;
              margin: 0px 10px 8px 0px;
              &.is-red{background-color: #f64747;}
              &.is-purple{background-color: #7122bb;}
              &.is-yellow{background-color: #fbca20;}
            }
          }
        }
      }
      .is-profile-img-link{
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 100px;
        display: block;
        border: 2px solid #ccc;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        -webkit-transform: scale(1) translate3d(0,0,0);
        transform: scale(1) translate3d(0,0,0);
        vertical-align: top;
        cursor: pointer;
        background-color: #abb0b7;
        .is-profile{
              max-width: 100%;
          }
      &:hover + .is-member-hover{
        opacity: 1;
        display: block;
        -webkit-animation: showTooltip 300ms ease-in-out;
        animation: showTooltip 300ms ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      &:hover ~ .is-profile-hover-img {
          -webkit-animation: grow 500ms ease-in-out;
          animation: grow 500ms ease-in-out;
          -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
      }
      &:hover {
          -webkit-transform: scale(1.1) translate3d(0,0,0);
          transform: scale(1.1) translate3d(0,0,0);
          border-color: #ff4020;
     
      }

    }
      }
      
    .is-more-btn{
      color: #FFF;
      width: 150px;
      float: right;
      .is-see-more{
        font-size: 14px;
        background: #f64747;
        border: 0px;
        color: #fff;
        line-height: 18px;
        padding: 25px 15px;
        text-align: right;
        width: 100%;
        cursor: pointer;
      }
    }
  }

}
/*new*/
.cat-box {
  .item-card {
    overflow: hidden;
    min-height: 455px;
    background: #fff;
    box-shadow: 0px 16px 9px 1px rgba(0,0,0,0.03);
    position: relative;
    a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0px;
      left:0px;
      .item-card-content{
        padding: 10px;
        .item-card-category {
          h3{
            font-family: "Ubuntu", sans-serif;
            font-size: 12px;
            font-weight: bold;
            display: inline-block;
          }
        }

        .item-card-title{
          h4 {
            font-family: "Ubuntu", sans-serif;
            font-size: 20px;
            font-weight: bold;
            color:#000;
          }
        }
        .item-card-texte {
          p {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: normal;
            color:#000;
          }
        }
        
        .avatar {
          width: 32px;
          height: 32px;
          margin-left: 5px;
          color: transparent;
          border-radius: 100%;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        
      }
      .item-card-image {
        max-height: 150px;
        position: relative;
        overflow: hidden;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background-color: #fbca20;
          position: absolute;
          top: 0;
          left: -100%;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

       img{
        width: 100%;
        height: 160px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        object-fit: cover;
       }
      }
    }
    &:hover .item-card-image:after {
      left: 0;
  }
  .item-card-category{
  .item-card-author {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    display: inline-block;
    color: #000;
  }
}
    }
   

  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 47px;


  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .cat-box-title{
      padding-left: 10px;
      padding-right: 10px;

      h2 {
        font-weight: bold;
        cursor: pointer;
        display: inline-block;

        a i {
            margin-left: 5px;
          }
      }

      span {
        display: inline-block;
        cursor: pointer;
        font-size: 12px;
        float: right;
        line-height: 27px;
      }
  }

  .article-row {
    padding-top: 29px;
  }

  .col-sm-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }


}
.col-sm-15{
  width:20%;
  float: left;
}

  /*Animation*/
  @-webkit-keyframes showTooltip {
    0% {
        -webkit-transform: scale(0.5, 0) translateY(300px);
        transform: scale(0.5, 0) translateY(300px);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
        opacity: 1
    }
}

@keyframes showTooltip {
    0% {
        -webkit-transform: scale(0.5, 0) translateY(300px);
        transform: scale(0.5, 0) translateY(300px);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
        opacity: 1
    }
}


@keyframes grow {
  0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0
  }
  50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
}
/*Animation End*/
  @media screen and (max-width:580px){
    .col-sm-15 {
      width: 100%;
      float: none;
      margin-bottom: 15px;
    }
    .cat-box .article-row {
      width: 100%;
      margin: 0px;
  }
  .cat-box .cat-box-title span {
        float: none;
    }
    .cat-box {
      padding-top: 20px;
      padding-bottom: 25px;
  }
  .is-hero .is-hero-card.is-small-card {
        height: 220px;
    }
    .is-follower-member .row .is-follower-title{
      max-width: 100%;
      width: 100%;
      text-align: center;
    }
    .is-follower-member .row .is-member{
      width:100%;
      margin: 20px 0px;
    }
   .is-follower-member .row .is-more-btn{
      width:100%;
      float: none;
      
    }
    .is-follower-member .row .is-more-btn .is-see-more{
      text-align: center;
    }
    .is-hero .is-hero-card .is-card-content .is-small-title {
      font-size: 28px;
      color: #fff;
      line-height: 32px;
  }
  .is-hero .is-hero-card .is-card-content .is-card-author-group .is-card-author {
        font-size: 14px;
    }
    .is-hero .is-hero-card{
      padding: 15px;
    }
    .is-hero{
      margin-top: 50px;
    }
  }
  @media screen and (min-width:581px) and (max-width:767px){
    .col-sm-15{
      width: 50%;
      margin-bottom: 15px;
    }
    .cat-box {
      padding-top: 20px;
      padding-bottom: 25px;
  }
  .full-width-sm{
    flex:0 0 100%;
  }
  .is-hero .is-hero-card.is-small-card {
    height: 300px;
}
  }

  @media screen and (min-width:768px) and (max-width:991px){
    .col-sm-15{
      width: 33.333%;
      margin-bottom: 15px;
    }
    .cat-box {
      padding-top: 20px;
      padding-bottom: 25px;
  }
  .full-width-sm{
    flex:0 0 100%;
  }
  .is-hero .is-hero-card.is-small-card {
    height: 300px;
}
  }
  @media screen and (min-width:992px) and (max-width:1200px){
    .col-sm-15{
      width: 25%;
      margin-bottom: 15px;
    }
    .cat-box {
      padding-top: 20px;
      padding-bottom: 25px;
  }
  }


.show-tooltip{
  background: #000000;
  font-size: 40px;
}

