<section id="full-hero">
    <div class="row">
        <div class="col-sm">
            <a href="#" class="item-card hero-card-large">

                <div class="hero-card-image"
                    style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/89475596_1570098179826422_450415209072319012_n_article_small.jpg)">
                </div>

                <div class="item-card-content">
                    <span class="redirect-link" href="https://mytrendingstories.com/category/">
                        <h2 class="hero-title">Today's stories</h2>
                    </span>
                    <h4 class="item-card-title">The O'Sullivan Twins At St Clare's by Enid Blyton (Review)</h4>

                    <div class="item-card-author-group">

                        <img class="avatar"
                            src="https://mytrendingstories.com/media/photologue/photos/cache/Kate%20Barker%20Geramie%204674_14082016063048_author_small.jpg"
                            alt="gemsbooknook@outlook.com">

                        <span class="item-card-author">Geramie Kate Barker </span>
                    </div>
                    <div class="item-card-category">
                        <h3 class="cat-bubble cat-red-bg">Entertainment</h3>
                    </div>
                    <p>'It's the start of the Easter Term and Pat and Isabel are looking forward to meeting all their
                        friends at St Clare's once more. The new girls prove to be a s...</p>
                </div>
            </a>
        </div>

        <div class="col-sm">
            <div class="row">
                <a href="/en/article/a-step-by-step-guide-to-building-a-budget-you-can-actually-stick-to/"
                    class="item-card hero-card col-sm">

                    <div class="hero-card-image"
                        style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/Building%20a%20Budget%20You%20Can%20Actually%20Stick%20to_article_small.jpg)">
                    </div>

                    <div class="item-card-content">
                        <div class="item-card-category">
                            <h3 class="cat-bubble cat-light-blue-bg">Business</h3>

                            <div class="pull-right">
                                <span class="item-card-author">Mohaned Gadnne </span>

                                <img class="avatar"
                                    src="https://mytrendingstories.com/media/photologue/photos/cache/Gadnne%20Mohaned%203210_09072018133654_author_small.jpg"
                                    alt="gaaden.mohamed@gmail.com">

                            </div>
                        </div>
                        <h4 class="item-card-title">A Step-by-Step Guide to Building a Budget You Can Actually Stick to
                        </h4>
                    </div>
                </a>

                <a href="https://mytrendingstories.com/en/article/why-you-should-celebrate-your-birthday-in-a-good-quality-restaurant/"
                    class="item-card hero-card col-sm">

                    <div class="hero-card-image"
                        style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/quality%20restaurant_article_small.jpg)">
                    </div>

                    <div class="item-card-content">
                        <div class="item-card-category">
                            <h3 class="cat-bubble cat-yellow-bg">Life and Styles</h3>

                            <div class="pull-right">
                                <span class="item-card-author">James Howart</span>

                                <img class="avatar"
                                    src="https://mytrendingstories.com/media/photologue/photos/cache/HowartJames95205_14012020123728_author_small.jpg"
                                    alt="work@mytrendingstories.com">

                            </div>
                        </div>
                        <h4 class="item-card-title">Why You Should Celebrate Your Birthday In A Good Quality Restaurant
                        </h4>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="https://mytrendingstories.com/en/article/food-trip-where-you-should-eat-when-you-visit-bossier-city-in-louisiana/"
                    class="item-card hero-card col-sm">

                    <div class="hero-card-image"
                        style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/Food%20Trip_article_small.jpg)">
                    </div>

                    <div class="item-card-content">
                        <div class="item-card-category">
                            <h3 class="cat-bubble cat-yellow-bg">Life and Styles</h3>

                            <div class="pull-right">
                                <span class="item-card-author">James Howart</span>

                                <img class="avatar"
                                    src="https://mytrendingstories.com/media/photologue/photos/cache/HowartJames95205_14012020123728_author_small.jpg"
                                    alt="work@mytrendingstories.com">

                            </div>
                        </div>
                        <h4 class="item-card-title">Food Trip: Where You Should Eat When You Visit Bossier City In
                            Louisiana
                        </h4>
                    </div>
                </a>

                <a href="https://mytrendingstories.com/en/article/important-tips-for-a-home-renovation-project/"
                    class="item-card hero-card col-sm">

                    <div class="hero-card-image"
                        style="background-image:url(https://mytrendingstories.com/media/photologue/photos/cache/Important%20Tips%20for%20a%20Home%20Renovation%20Project_article_small.jpg)">
                    </div>

                    <div class="item-card-content">
                        <div class="item-card-category">
                            <h3 class="cat-bubble cat-yellow-bg">Life and Styles</h3>

                            <div class="pull-right">
                                <span class="item-card-author">Charlesa Gibson</span>

                                <img class="avatar"
                                    src="https://mytrendingstories.com/media/photologue/photos/cache/GibsonCharlesa219_02062016054930_author_small.jpg"
                                    alt="charlesa8gibson@gmail.com">

                            </div>
                        </div>
                        <h4 class="item-card-title">Important Tips for a Home Renovation Project</h4>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

<section id="follower-suggestions">
    <img src="assets/images/placeholders/home-members.png" width="100%" />
</section>


<section class="cat-box line-bottom">
    <div class="container-fluid">
        <div class="cat-box-title">
            <h2 class="no-padding cat-yellow no-margin">

                <a class="cat-yellow" href="https://mytrendingstories.com/category/life-and-styles/">
                    Life and Styles
                </a>

            </h2>
            <span>
                <a href="https://mytrendingstories.com/category/life-and-styles/" class="cat-yellow">
                    Show more Life and Styles <i class="fa fa-angle-right"></i>
                </a>
            </span>
        </div>
        <div class="cat-box-gallery">
            <div class="row article-row">


                <div class="col-sm-15">


                    <div class="item-card item-card-life-and-styles">
                        <a
                            href="https://mytrendingstories.com/en/article/how-to-make-yourself-throw-up-things-you-should-know/">
                            <div class="item-card-image">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/5e677c85df2df_article_small.jpg"
                                    alt="throw up">

                            </div>
                            <div class="item-card-content">
                                <div class="item-card-category cat-yellow">
                                    <h3 class="cat-yellow">Life and Styles</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Tauseef shah</span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/None_03102017165400_author_small.jpg"
                                            alt="tenoshahblogger@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4 class="item-long-title">How To Make Yourself Throw Up: THINGS YOU SHOULD KNOW
                                    </h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>Hello Guys, Today we going to discuss how to hurl effectively and things... </p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>



                <div class="col-sm-40">



                    <div class="item-card item-card-life-and-styles item-card-alt">
                        <a
                            href="https://mytrendingstories.com/en/article/8-tips-on-choosing-the-best-digital-tv-antenna/">
                            <div class="item-card-image pull-left">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/choosing%20the%20best%20digital%20TV%20antenna_article_square.jpg"
                                    alt="choosing the best digital TV antenna">

                            </div>
                            <div class="item-card-content">
                                <div class="cat-yellow item-card-category">
                                    <h3 class="cat-yellow">Life and Styles</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Lavismichel Inkel </span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/Inkel%20Lavismichel%203214_08072018132542_author_small.jpg"
                                            alt="linkel07@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4>8 tips on choosing the best digital TV antenna</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>Although television is digital instead of analog, many people do not have a cable
                                        connection. As such, an antenna can help you receive a digital signal from your
                                        local transmitter tower. That said, a television antenna is very technical, so
                                        you mu...</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>



                </div>



                <div class="col-sm-15">


                    <div class="item-card item-card-life-and-styles">
                        <a href="https://mytrendingstories.com/en/article/8-unique-adventure-ideas/">
                            <div class="item-card-image">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/Unique%20Adventure%20Ideas_article_small.jpg"
                                    alt="Unique Adventure Ideas">

                            </div>
                            <div class="item-card-content">
                                <div class="item-card-category cat-yellow">
                                    <h3 class="cat-yellow">Life and Styles</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Matthew Piggot</span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/PiggotMatthew218_02062016054440_author_small.jpg"
                                            alt="matthewk2piggott@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4>8 Unique Adventure Ideas</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>If you enjoy adventure, you’re probably always on the hunt for something... </p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>



                <div class="col-sm-15">


                    <div class="item-card item-card-life-and-styles">
                        <a href="https://mytrendingstories.com/en/article/how-you-can-select-the-best-pond-liner/">
                            <div class="item-card-image">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/pond03_article_small.jpg"
                                    alt="HOW YOU CAN SELECT THE BEST POND LINER">

                            </div>
                            <div class="item-card-content">
                                <div class="item-card-category cat-yellow">
                                    <h3 class="cat-yellow">Life and Styles</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Samantha Brown</span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/BrownSamantha217_18012020082032_author_small.jpg"
                                            alt="seopromo58@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4>HOW YOU CAN SELECT THE BEST POND LINER</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>When constructing a pond, an individual may be confronted with selecting... </p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>


            </div>
        </div>
    </div>
</section>


<section class="cat-box line-bottom">
    <div class="container-fluid">
        <div class="cat-box-title">
            <h2 class="no-padding cat-light-blue   no-margin">

                <a href="https://mytrendingstories.com/category/business/" class="cat-light-blue">
                    Business
                </a>

            </h2>
            <span>
                <a href="https://mytrendingstories.com/category/business/" class="cat-light-blue">
                    Show more Business <i class="fa fa-angle-right"></i>
                </a>
            </span>
        </div>
        <div class="cat-box-gallery">
            <div class="row article-row">


                <div class="col-sm-15">


                    <div class="item-card item-card-business">
                        <a href="https://mytrendingstories.com/en/article/jewelry-maintenance-in-autumn/">
                            <div class="item-card-image">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/Screenshot_49_article_small.png"
                                    alt="separate jewelry box">

                            </div>
                            <div class="item-card-content">
                                <div class="item-card-category cat-light-blue">
                                    <h3 class="cat-light-blue">Business</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Shahbaz Ahmed</span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/None_05122018124709_author_small.jpg"
                                            alt="awanshahbaz233@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4>Jewelry Maintenance in Autumn</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>Gold jewelry

                                        The air in autumn is relatively dry, and there will be m... </p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>



                <div class="col-sm-15">


                    <div class="item-card item-card-business">
                        <a href="https://mytrendingstories.com/en/article/best-17-inch-laptops-in-2020/">
                            <div class="item-card-image">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/labtop_article_small.jpg"
                                    alt="Laptops Vs. Regular Laptop">

                            </div>
                            <div class="item-card-content">
                                <div class="item-card-category cat-light-blue">
                                    <h3 class="cat-light-blue">Business</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Syed Mohammad Anwer</span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/None_03102017102312_author_small.jpg"
                                            alt="syedmohammadanwer@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4>Best 17-inch Laptops in 2020</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>Whether you're streaming TV shows or working with multiple spreadsheets,... </p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>



                <div class="col-sm-40">



                    <div class="item-card item-card-business item-card-alt">
                        <a href="https://mytrendingstories.com/en/article/can-i-take-a-loan-to-pay-for-an-investment/">
                            <div class="item-card-image pull-left">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/600600p677EDNmaininvestment-min_article_square.jpg"
                                    alt="finance1">

                            </div>
                            <div class="item-card-content">
                                <div class="cat-light-blue item-card-category">
                                    <h3 class="cat-light-blue">Business</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Zubair Hassan</span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/MorganJessica25132_18062019052409_author_small.png"
                                            alt="jessicamoran1294@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4>Can I take a loan to pay for an investment?</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>We have a lot of goals to fulfill every single day. Sometimes, we do not know
                                        which is better - to feed our body, to buy a car, to invest money on stocks, or
                                        to just live the way you want life to be.&nbsp;

                                        When we’re starting on our new job, we aim ...</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>



                </div>



                <div class="col-sm-15">


                    <div class="item-card item-card-business">
                        <a href="https://mytrendingstories.com/en/article/aptly-dealing-with-the-board-members-is-a-tough-ask-for-any-ceo/">
                            <div class="item-card-image">

                                <img src="https://mytrendingstories.com/media/photologue/photos/cache/management_article_small.jpeg"
                                    alt="Task Management Solutions ">

                            </div>
                            <div class="item-card-content">
                                <div class="item-card-category cat-light-blue">
                                    <h3 class="cat-light-blue">Business</h3>
                                    <div class="pull-right">
                                        <span class="item-card-author">Syed Mohammad Anwer</span>

                                        <img class="avatar"
                                            src="https://mytrendingstories.com/media/photologue/photos/cache/None_03102017102312_author_small.jpg"
                                            alt="syedmohammadanwer@gmail.com">


                                    </div>
                                </div>
                                <div class="item-card-title">
                                    <h4 class="item-long-title">Aptly Dealing with the Board Members is a Tough Ask for
                                        any CEO</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>Individuals in the form of a CEO are responsible for managing businesses... </p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>


            </div>
        </div>
    </div>
</section>