<section class="story-sec" *ngIf="!article">
    <div class="container-fluid">
        <div class="story-content-sec">
            <div class="left-side-profile">

            </div>
            <div class="main-content-area">
                <div class="story-head">
                    <h1>{{article?.title}}</h1>
                    <div class="story-head-profile">
                        <div class="story-head-avatar">
                            <img src="assets/images/avatars/thumb-2.jpg" alt="Profile Avatar">
                            <h5>
                                James William
                                <span>8 July 2021 <b>30 min ago</b></span>
                            </h5>
                            <div>
                                <button type="button" class="btn">Follow</button>
                            </div>
                        </div>
                        <div class="story-head-media">
                            <app-share-buttons></app-share-buttons>
                        </div>
                    </div>
                </div>
                <div class="story-body-content">
                    <img src="assets/images/article/article-head.jpg" alt="images">
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <img src="assets/images/article/article-head.jpg" alt="images">
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing </li>
                        <li>Lorem Ipsum is simply dummy text of the printing </li>
                        <li>Lorem Ipsum is simply dummy text of the printing </li>
                        <li>Lorem Ipsum is simply dummy text of the printing </li>
                        <li>Lorem Ipsum is simply dummy text of the printing </li>
                        
                    </ul>
                    <h3>Lorem Ipsum is simply dummy text of the printing </h3>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <p>When you live in a foreign country, there might be a year when you have to celebrate your birthday on your own. This might seem like a terrible fate, but I am going to tell you how to celebrate your birthday alone and own it!</p>
                    <div class="category">
                        <b>Life and Styles</b>
                        <div class="tags">
                            <div>Living</div>
                            <div>Fashion</div>
                            <div>Living</div>
                            <div>Fashion</div>
                        </div>
                    </div>
                    <p>Published by <b>James William</b></p>
                    <!-- <app-article-comments *ngIf="article" [article]="article"></app-article-comments> -->
                  
                </div>
            </div>
            <div class="right-side-area"></div>
        </div>
    </div>
</section>