<section class="border-box-sec">
    <div class="container">
        <div class="border-box">
            <div class="banner-sec">
                <a>
                    <img src="assets/images/backoffice/businees-funding.jpg" alt="Best Small Business Loans"/>
                    <div class="banner-content">
                        <h2>{{'businessBannerTitle' | translate}}</h2>
                        <button type="button" class="banner-btn">{{'businessBannerBtn' | translate}}</button>
                    </div>
                </a>
            </div>
            
            <div class="border-box-content">
                <h2>{{'businessh2' | translate}}</h2>
                <p>{{'businessp1' | translate}}</p>
            </div>
        </div>
    </div>
</section>
