<section class="is-author-profile-sec">
    <div class="container">
        <div class="is-profile-main">
            <div class="is-author-profile-img">
                <img class="avatar" itemprop="image" [src]="authorDetails?.avatar?.url"
                    alt="{{authorDetails?.avatar?.alt}}" />
            </div>
            <div class="is-author-profile-info">
                <h2 class="is-author-profile-name is-divider">
                    {{authorDetails?.fullname}}
                    <span>{{'authorOn' | translate}} <a href="/" title="My Trending Stories">My Trending
                            Stories</a></span>
                </h2>
                <p class="is-author-description"
                    innerHTML="{{authorDetails?.biography_en || authorDetails?.biography_es || authorDetails?.biography_fr}}">

                </p>
                <div class="is-author-media-sec">
                    <h3 class="is-line">{{'shareFollow' | translate}}</h3>
                    <div class="addthis_inline_share_toolbox" style="margin-top: 10px;margin-bottom: 10px;"></div>

                    <h3 class="is-line">{{'followProfile' | translate}}</h3>
                    <ul>

                        <!-- <li>
                            <a href="#" id="share-fb">
                                <img src="assets/images/profile/icon/fb.png" />
                                <span>{{'profileShare' | translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/profile/icon/mail.png" />
                                <span>{{'profileShare' | translate}}</span>
                            </a>
                        </li> -->
                        <li>

                            <a class="follow-btn" *ngIf="!isFollowing" (click)="follow(authorDetails.id)">
                                <img src="assets/images/article/icon/follow.png" />
                                {{'follow' | translate}}
                            </a>
                            <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow(authorDetails.id)">
                                <img src="assets/images/article/icon/un-follow.png" />
                                {{'unFollow' | translate}}
                            </a>
                        </li>



                        <li>
                            <a href="#" class="is-follow-link">
                                <b>{{authorDetails.followers_count}}</b>
                                <span>{{'profileFollowers' | translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="is-follow-link">
                                <b>{{authorDetails.followings_count}}</b>
                                <span>{{'profileFollowing' | translate}}</span>
                            </a>
                        </li>
                        <li class="report-abuse-spin" *ngIf="isLoggedInUser">
                            <a class="comment-view-replies" (click)="reportAbuseAuthor()">
                                <nz-spin nzSimple [nzSize]="'small'" *ngIf="isReportAbuseLoading"></nz-spin>
                                {{'reportAbuseAuth' | translate}}
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<section class="is-followers-sec" *ngIf="followers.length">
    <div class="container">
        <div class="is-comman-title">
            Followers
        </div>
        <!-- <p class="follow">
            {{'profileFollowersDes' | translate}}
        </p> -->
        <div class="is-followers-user">
            <div class="is-followers-item" *ngFor="let follower of followers">
                <img src="{{follower?.avatar?.url}}" />
            </div>
        </div>
    </div>
</section>
<section class="is-followers-sec" *ngIf="subscribers.length">
    <div class="container">
        <div class="is-comman-title">
            Following
        </div>
        <!-- <p class="follow">
            {{'profileFolloweringDes' | translate}}
        </p> -->
        <div class="is-followers-user">
            <div class="is-followers-item" *ngFor="let subscriber of subscribers">
                <img src="{{subscriber?.avatar?.url}}" />
            </div>

        </div>
    </div>
</section>
<section class="bg-white" *ngIf="articles.length">
    <div class="is-comman-title">
        {{'article' | translate}}
    </div>
    <!-- <p class="follow">
        {{'profileArticleDesc' | translate}}
    </p> -->
    <div class="is-cat-box-card-main">
        <div class="cat-box">
            <div class="cat-box-gallery">
                <div class="container">
                    <div class="row article-row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-20" *ngFor="let article of articles">
                            <div class="item-card item-card-life-and-styles">
                                <a [routerLink]="['/article/',article.slug]">
                                    <div class="item-card-image">

                                        <img [src]="article.image.url" [alt]="article.image?.alt">
                                        <h3 class="is-category-title">{{article?.category?.title}}</h3>
                                    </div>
                                    <div class="item-card-content">
                                        <div class="item-card-category  cat-yellow">
                                            <div class="is-avatar-dv">

                                                <img class="avatar" [src]="article?.author?.avatar.url"
                                                    [alt]="article?.author?.avatar.alt">
                                                <span class="item-card-author">{{article?.author?.fullname}}</span>
                                            </div>
                                        </div>
                                        <div class="item-card-title">
                                            <h4 class="item-long-title">{{article.title}}</h4>
                                        </div>
                                        <div class="item-card-texte">
                                            <p>{{article.summary}}</p>
                                            <button type="button" class="is-read-more">{{'readMore' | translate}}
                                                <a></a><img src="assets/images/read-more-icon-red.png" /></button>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>