

<section class="border-box-sec">
    <div class="container">
        <div class="border-box">
            <div class="banner-sec">
                <a href="https://paxful.com/?r=xLY6X4jX3Qy" target="_blank">
                    <img src="assets/images/backoffice/bitcoin-store.jpg" />
                </a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul nz-list  nzBordered nzSize="large" class="invite-box">
                        <nz-list-header>Invite others by sharing your QR code</nz-list-header>
                        <li nz-list-item nzNoFlex>
                            <div class="qr-code-sec">
                                <div class="qr-code-img">
                                    <img  src="https://paxful.com/qr/r/xLY6X4jX3Qy" />
                                </div>
                                <div class="qr-code-txt">
                                    The person you invite will need to scan this QR code in order to access your invitation link
    
                                </div>
                            </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    </section>