
@media screen and (max-width:580px){
    .media-responsive{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .media-responsive p{
        margin:5px 0px 10px 0px !important;
    }   
} 