.mainmenu {
    background: #000000;
    //height: 70px;
    border-bottom: 0;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1000;
    display: -webkit-box;
    display: flex;
    text-transform: uppercase;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title {
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    background: #000000 !important;
    color: #ffffff !important;
    &:focus, &::selection {outline:0;}

    &:hover{
        &.cat-orange-bg {
            background-color: #faaf44 !important;
        }
    
        &.cat-light-blue-bg {
            background-color: #2baad3 !important;
        }
    
        &.cat-cyan-bg {
            background-color: #23d7d5 !important;
        }
    
        &.cat-red-bg {
            background-color: #f64747 !important;
        }
    
        &.cat-yellow-bg {
            background-color: #fbca20 !important;
        }
    
        &.cat-green-bg {
            background-color: #3fbb22 !important;
        }
    
        &.cat-purple-bg {
            background-color: #7122bb !important;
        }
    
        &.cat-blue-bg {
            background-color: #2f71c6 !important;
        }
    
        &.cat-lightgreen-bg {
            background-color: #23d7d5 !important;
        }
    
        &.cat-blue-bg {
            background-color: #2baad3 !important;
        }
    }
}


.ant-menu.ant-menu-dark .ant-menu-item-selected {
    &.cat-orange-bg {
        background-color: #faaf44 !important;
    }

    &.cat-light-blue-bg {
        background-color: #2baad3 !important;
    }

    &.cat-cyan-bg {
        background-color: #23d7d5 !important;
    }

    &.cat-red-bg {
        background-color: #f64747 !important;
    }

    &.cat-yellow-bg {
        background-color: #fbca20 !important;
    }

    &.cat-green-bg {
        background-color: #3fbb22 !important;
    }

    &.cat-purple-bg {
        background-color: #7122bb !important;
    }

    &.cat-blue-bg {
        background-color: #2f71c6 !important;
    }

    &.cat-lightgreen-bg {
        background-color: #23d7d5 !important;
    }

    &.cat-blue-bg {
        background-color: #2baad3 !important;
    }
}