.mainmenu{
    background: #000000;
    //height: 70px;
    border-bottom: 0;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1000;
    display: -webkit-box;
    display: flex;
    text-transform: uppercase;
}