<div class="mainmenu">
    <ul nz-menu [nzMode]="'horizontal'" nzTheme="dark">
        <li nz-menu-item *ngFor="let item of (categories | async)" [routerLink]="['/category', item.slug]" [ngClass]="[item.bg_color_class]">{{item.title}}</li>
        <!-- <li nz-menu-item [routerLink]="['/category']">Business</li>
        <li nz-menu-item [routerLink]="['/category']">News</li>
        <li nz-menu-item [routerLink]="['/category']">Sport</li>
        <li nz-menu-item [routerLink]="['/category']">Religion</li>
        <li nz-menu-item [routerLink]="['/category']">Creative</li>
        <li nz-menu-item [routerLink]="['/category']">Opinion</li>
        <li nz-menu-item [routerLink]="['/category']">Tech and science</li>
        <li nz-menu-item [routerLink]="['/category']">Viral</li>
        <li nz-menu-item [routerLink]="['/category']">Entertainment</li> -->
    </ul>
</div>
