<div class="mainmenu">
    <nz-layout class="layout">
        <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
            <ul nz-menu [nzMode]="'horizontal'" nzTheme="dark">
                <li nz-menu-item *ngFor="let item of (categories | async)" [routerLink]="['/category', item.slug]">
                    {{item.title}}</li>

                <!-- <li nz-menu-item [routerLink]="['/category']">Business</li>
        <li nz-menu-item [routerLink]="['/category']">News</li>
        <li nz-menu-item [routerLink]="['/category']">Sport</li>
        <li nz-menu-item [routerLink]="['/category']">Religion</li>
        <li nz-menu-item [routerLink]="['/category']">Creative</li>
        <li nz-menu-item [routerLink]="['/category']">Opinion</li>
        <li nz-menu-item [routerLink]="['/category']">Tech and science</li>
        <li nz-menu-item [routerLink]="['/category']">Viral</li>
        <li nz-menu-item [routerLink]="['/category']">Entertainment</li> -->

                <!-- <li nz-menu-item class="is-search-icon">
            <a (click)="searchToggle()">
                <i nz-icon nzType="search" theme="outline"></i>
            </a>
            <nz-drawer [nzWidth]="380" nzTitle="Search" [nzVisible]="searchVisible" nzPlacement="right" (nzOnClose)="searchToggle()">
                <app-search></app-search>
            </nz-drawer>
        </li> -->

                <!-- <li nz-menu-item class="is-search-icon">
            <a  routerLink="/search">
                <i nz-icon nzType="search" theme="outline"></i>
            </a>
        </li> -->
            </ul>
        </nz-sider>
    </nz-layout>
</div>