<section>
    <section class="signup-section">
        <div class="signup-area">
            <div class="row">
                <div class="col-lg-5">
                    <div class="signup-left-area">
                        <h2 class="title">Sign Up</h2>
                        <div class="sign-up-form-area">
                            <form class="signup-form">
                                <div class="row" id="hide-signup">
                                    <div class="col-lg-12 form-group">
                                        <input type="text" name="text" class="input-box" placeholder="Full Name">
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <input type="email" name="email" class="input-box" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <input type="password" id="myInput" name="password" class="input-box" placeholder="Password">
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <input type="password" id="myInputTwo" class="input-box" name="password" placeholder="Confirm Password">
                                    </div>
                                    
                                    <div class="col-lg-12 form-group text-left mb-3">
                                        <label nz-checkbox >I have read the <a href="" routerLink="/terms">Terms</a></label>
                                    </div>
                                    <div class="col-lg-12 form-group text-left">
                                        <span class="control">Already registered? <a (click)="ShowSignIn()"> sign in</a></span>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <button type="button" class="login-btn" >Sign Up</button>
                                    </div>
                                    
                                </div>
                                <div class="row" id="hide-signin">
                                    <div class="col-lg-12 form-group">
                                        <input type="email" name="email" class="input-box" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <input type="password" id="myInput" name="password" class="input-box" placeholder="Password">
                                    </div>
                                    <div class="col-lg-12 form-group text-left">
                                        <span class="control">Already registered? <a (click)="ShowSignUp()"> sign Up</a></span>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <button type="button" class="login-btn" >Sign In</button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="signup-right-area">
                        <h2 class="title">Welcome To My Trending Stories E-commerce </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>