<footer class="footer">
    <div class="footer-content justify-content-between">
        <div class="footer-logo">
            <img src="assets\images\logo\logo-white.png" />
            
        </div>
        
        <span>
            <a href="" class="m-r-15">Contact</a>
            <a href="" class="m-r-15">Term &amp; Conditions</a>
            <a href="">FREQUENTLY ASKED QUESTIONS</a>
        </span>
    </div>
    <p class="m-b-0 text-center">© MY TRENDING STORIES 2020</p>
   
</footer>