.footer {
    .footer-content{
        height: auto;
       
        a{
            color: #fff;
        }
}
p{
    color: #fff;
    padding: 10px 0px;
    margin: 0px -25px;
    background: #1c1c1c;
}
}