.footer {
    background-color: #ccc;
    padding: 50px 0px 0px 0px;
    .footer-content{
        height: auto;
        border:0px;
        padding-bottom: 50px;
        display: block;
       .footer-media{
           display: flex;
           justify-content: center;
           width: 100%;
           a{
               width:50px;
               height: 50px;
               border-radius: 100%;
               display: flex;
               margin: 0px 5px;
              
               .fab{
                   margin: auto;
                   font-size: 28px;

               }
               &.fb{
                color:#3b5998;
                &:hover{
                    background:#3b5998;
                    color:#fff;
                }
               }

               &.twitter{
                color:#03a9f4;
                &:hover{
                    background:#03a9f4;
                    color:#fff;
                }
               }


               &.fb-messenger{
                color:#1e88e5;
                &:hover{
                    background:#1e88e5;
                    color:#fff;
                }
               }

               &.whatsapp{
                color:#4caf50;
                &:hover{
                    background:#4caf50;
                    color:#fff;
                }
               }
           }
       }
       .footer-link{
           text-align: center;
           padding-top: 20px;
           a{
               color:#000;
               font-size: 18px;
               font-family: "open_sansregular";
           }
       }
}
p{
    color: #000;
    padding: 10px 0px;
    background: #c6c6c6;
    font-family: "open_sansregular";
}
}

@media screen and (max-width:767px){
    .footer-logo{
        width:100%;
    }
    .footer-content{
        flex-wrap: wrap;
    text-align: center;
    span{
        display: block;
        width: 100%;
        a{
            display: block;
            margin-bottom: 10px;
        }
    }
  
    }
}

@media screen and (max-width:767px){

    .footer-content{
        flex-wrap: wrap;
        text-align: center;
        .footer-link{
            a{
                font-size: 16px !important;
            }
        }
  
    }
}