<section class="checkout-section">
  <div class="container">
    <div>
      <a [routerLink]="['/shop/cart']">
        <button nz-button nzType="primary">Back to Cart</button>
      </a>
    </div>
    <div class="checkout-box">
        <div class="step-checkout-detail">
            <nz-steps [nzCurrent]="current">
                <nz-step nzTitle="Delivery Address"></nz-step>
                <nz-step nzTitle="Order Summary"></nz-step>
                <nz-step nzTitle="Payment Options"></nz-step>
                <nz-step nzTitle="Order successfully"></nz-step>
              </nz-steps>
              <div class="checkout-content">
                  <div class="checkout-step-1"  *ngIf="current === 0" [ngClass]="current">
                    <form nz-form [formGroup]="userAddressForm" class="ant-advanced-search-form mt-4">
                        <h2>Add New Address</h2>
                        <div nz-row [nzGutter]="24">
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Name </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your name">
                                <input type="text" nz-input formControlName="name" placeholder="enter name"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Mobile </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your mobile number">
                                <input type="number" nz-input formControlName="mobile_number" placeholder="enter mobile"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Area Code </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your area code">
                                <input type="text" nz-input formControlName="area_code" placeholder="enter area code"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Locality </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your locality">
                                <input type="text" nz-input formControlName="locality" placeholder="enter locality"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="24" >
                            <nz-form-item>
                              <nz-form-label>Address </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your address">
                                <textarea  type="text" nz-input formControlName="address"  placeholder="enter address"  [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                              ></textarea>
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>City </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your city name">
                                <input type="text" nz-input formControlName="city" placeholder="enter city"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>State </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your state name">
                                <input type="text" nz-input formControlName="state" placeholder="enter state"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Landmark </nz-form-label>
                              <nz-form-control nzErrorTip="Please input your landmark">
                                <input type="text" nz-input formControlName="landmark" placeholder="enter landmark"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Alternate Phone (Optional) </nz-form-label>
                              <nz-form-control>
                                <input type="number" nz-input formControlName="alternate_mobile_number" placeholder="enter alternate phone"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div>
                      </form>
                  </div>
                  <div class="checkout-step-2"  *ngIf="current === 1">
                    <div class="product-list mb-2 mt-2">
                      <div class="product">
                          <div class="single-product">
                              <a>
                                  <div class="product-img">
                                      <!-- <img [src]="product?.images[0]?.url" [alt]="product?.images[0]?.alt" /> -->
                                      <img src="assets/images/shopping/product/product.jpg" >
                                  </div>
                                  <div class="product-body">
                                    <!-- <h2  [routerLink]="['/shop/products',product.slug]">{{ product?.name }}</h2> -->
                                    <h2>Watch</h2>
                                      <p>Watch description</p>
                                      <!-- <div class="price">
                                        {{ product?.discountedPrice | currency :'USD':'symbol':'1.0-2' }}
                                        <span class="discount">{{ product?.salePrice | currency :'USD':'symbol':'1.0-2' }}</span>
                                        <button class="delete-btn" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete"
                                          (click)="removeCartProduct(product)">
                                          <i nz-icon nzType="delete" nzTheme="outline"></i>
                                      </button>
                                    </div> -->
                                     <div class="price">
                                        $102
                                        <span class="discount">120</span>
                                        <button class="delete-btn" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete"
                                          >
                                          <i nz-icon nzType="delete" nzTheme="outline"></i>
                                      </button>
                                    </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="checkout-step-3"  *ngIf="current === 2">
                    <div class="payment-option">
                      <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="24" >
                          <nz-form-item>
                            <nz-form-label>Name </nz-form-label>
                            <nz-form-control nzErrorTip="Please input your ">
                              <input nz-input placeholder="enter name"  />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="24" >
                          <nz-form-item>
                            <nz-form-label>Card Number </nz-form-label>
                            <nz-form-control nzErrorTip="Please input your ">
                              <input nz-input placeholder="enter name"  />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="12" >
                          <nz-form-item>
                            <nz-form-label>Valid Number </nz-form-label>
                            <nz-form-control nzErrorTip="Please input your ">
                              <input nz-input placeholder="enter name"  />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="12" >
                          <nz-form-item>
                            <nz-form-label>CVV </nz-form-label>
                            <nz-form-control nzErrorTip="Please input your ">
                              <input nz-input placeholder="enter name"  />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-step-4"  *ngIf="current === 3">
                      <h1>You have ordered successfully</h1>
                  </div>
              </div>
                <div class="steps-action">
                <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                    <span>Previous</span>
                </button>
                <button nz-button nzType="default" (click)="next()" *ngIf="current < 3">
                    <span>Next</span>
                </button>
                <button nz-button nzType="primary" (click)="done()" *ngIf="current === 3">
                    <span>Done</span>
                </button>
                </div>
        </div>
        <div class="checkout">
          <!-- <app-cart-calculator [products]="cartProducts"></app-cart-calculator> -->
        </div>
    </div>
  </div>
</section>


