<section class="checkout-section">
  <div class="container">
    <div>
      <a [routerLink]="['/shop/cart']">
        <button nz-button nzType="primary">Back to Cart</button>
      </a>
    </div>
    <div class="checkout-box">
        <div class="step-checkout-detail">
            <nz-steps [nzCurrent]="current">
                <nz-step nzTitle="Delivery Address"></nz-step>
                <nz-step nzTitle="Order Summary"></nz-step>
                <nz-step nzTitle="Payment Options"></nz-step>
              </nz-steps>
              <div class="checkout-content">
                  <div class="checkout-step-1"  *ngIf="current === 0" [ngClass]="current">
                    <form nz-form class="ant-advanced-search-form mt-4">
                        <h2>Add New Address</h2>
                        <div nz-row [nzGutter]="24">
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Name </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter name"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Mobile </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter mobile"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Area Code </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter area code"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Locality </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter locality"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="24" >
                            <nz-form-item>
                              <nz-form-label>Address </nz-form-label>
                              <nz-form-control>
                                <textarea  nz-input  placeholder="enter address"  [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                              ></textarea>
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>City </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter city"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>State </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter state"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Landmark </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter landmark"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <div nz-col [nzSpan]="12" >
                            <nz-form-item>
                              <nz-form-label>Alternate Phone (Optional) </nz-form-label>
                              <nz-form-control>
                                <input nz-input placeholder="enter alternate phone"  />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div>
                      </form>
                  </div>
                  <div class="checkout-step-2"  *ngIf="current === 1">Chekout 2</div>
                  <div class="checkout-step-3"  *ngIf="current === 2">Chekout 3</div>
              </div>
                <div class="steps-action">
                <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                    <span>Previous</span>
                </button>
                <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
                    <span>Next</span>
                </button>
                <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
                    <span>Done</span>
                </button>
                </div>
        </div>
        <div class="checkout">

        </div>
    </div>
  </div>
</section>


