<section class="sr-engine-sec">
    <ais-instantsearch [config]="config">
      <div class="container">
          <div class="sr-brand">
              <div class="sr-brand-item" *ngFor="let brands of articleBrand">
                  <div class="sr-brand-logo"><img src="{{brands.image}}" /></div>
                  <span class="sr-brand-name">{{brands.name}}</span>
              </div>
             
              <!-- <div class="sr-brand-item btn">
                  <a href="#" routerLink="/buy">Buy</a>
              </div>
  
              
          </div>
          <div class="sr-bar-with-ads">
              <!-- <div class="ads">
                  <span>ads</span>
              </div> -->
              <div class="sr-bar">
                  <div class="sr-box">
                    <ais-search-box></ais-search-box> 
                  </div>
              </div>
              <!-- <div class="ads">
                  <span>ads</span>
              </div> -->
          </div>
          
            <ais-refinement-list attribute="brand"></ais-refinement-list>
            <ais-configure [searchParameters]="{ hitsPerPage: 16 }"></ais-configure>
            <ais-hits>
              <ng-template let-hits="hits" let-results="results">
                <div class="sr-article-sec">

                    <!-- <div class="sr-article-sec-item ads-main" *ngIf="hits.length > 5" [ngStyle]="{'order': 5}">
                        <div class="ads">Special ads</div>
                    </div> -->
                    <!-- <div [routerLink]="['/article/',hit.slug]"  class="sr-article-sec-item" *ngFor="let hit of hits; let i=index"  [ngStyle]="{'order': OrderIndex + i}">
                       
                        <div class="sr-article-img" *ngIf="hit"><img *ngIf="hit.image" src="{{hit.image.url}}" alt="{{hit.image.alt}}" /></div>
                        <div class="sr-article-detail" *ngIf="hit">
                            <div class="sr-article-txt">
                                <h2>{{hit.title}}</h2>
                            </div>
                            <div class="sr-avtar">
                                <img *ngIf="hit.author.avatar" src="{{hit.author.avatar.url}}" alt="{{hit.author.avatar.alt}}"/>
                                <img *ngIf="!hit.author.avatar" src="assets/images/default-avatar.png" alt="default avatar"/>
                            </div>
                        </div>
                    </div> -->
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/kapil.png" alt="kapil" />
                            <div class="article-image-icon">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Kapil Dev Indian Cricketer</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Read More <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="far fa-file-alt" style="color: #2baad3;"></i>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/company.png" alt="company" />
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>My Trending Stories Company</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Show Now <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar bg-black">
                                <img src="assets/images/company-icon.png" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/justin.png" alt="justin" />
                            <div class="article-image-icon">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Warning: Never Recommend Dr. Liu of... Yuchi Medical</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Listen Now <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="fas fa-volume-down"  style="color: #7122bb;"></i>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/charity.png" alt="charity" />
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>My Trending Stories Charity</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Show Now <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar bg-black">
                                <img src="assets/images/charity-icon.png" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/member.png" alt="member" />
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Member on My Trending Stories</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Show Now <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar bg-black">
                                <img src="assets/images/search-engine/member-icon.png" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/contributor.png" alt="contributor" />
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Contributor on My Trending Stories</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Show Now <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar bg-black">
                                <img src="assets/images/search-engine/contributor-icon.png" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/kapil.png" alt="kapil" />
                            <div class="article-image-icon">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Kapil Dev Indian Cricketer</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Read More <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="far fa-file-alt" style="color: #7122bb;"></i>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/justin.png" alt="kapil" />
                            <div class="article-image-icon">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Kapil Dev Indian Cricketer</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Read More <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="far fa-file-alt" style="color: #f64747;"></i>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/kapil.png" alt="kapil" />
                            <div class="article-image-icon">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Kapil Dev Indian Cricketer</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Read More <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="far fa-file-alt" style="color: #2baad3;"></i>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/justin.png" alt="kapil" />
                            <div class="article-image-icon">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Warning: Never Recommend Dr. Liu of... Yuchi Medical</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Watch Now<img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="fas fa-video" style="color: #fbca20;"></i>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/kapil.png" alt="kapil" />
                            <div class="article-image-icon">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Warning: Never Recommend Dr. Liu of... Yuchi Medical</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Listen Now<img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="fas fa-volume-down" style="color: #7122bb;"></i>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="sr-article-sec-item">
                        <div class="sr-article-img">
                            <img src="assets/images/search-engine/c.jpg" alt="kapil" />
                            <div class="article-image-icon">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>Kapil Dev Indian Cricketer</h2>
                                <div class="category-article-readmore">
                                    <div>
                                        <button type="button" class="is-read-more">Read More <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                    </div>
                                    
                                    <div class="article-icon-main">
                                        <div class="article-icon">
                                            <i class="far fa-file-alt"  style="color: #f64747;"></i>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="sr-avtar">
                                <img src="assets/images/search-engine/1.jpg" 
                                alt="Avatar" 
                                onerror="this.src='assets/images/default-avatar.png'"/>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
             <ais-pagination></ais-pagination>
              </ng-template>
            </ais-hits>
          
          <!-- <div class="next-btn">
              <a href="#">Next Page</a>
          </div> -->
      </div>
  </ais-instantsearch>
  </section>