<section class="sr-engine-sec">
    <ais-instantsearch [config]="config">
      <div class="container">
          <div class="sr-brand">
              <div class="sr-brand-item" *ngFor="let brands of articleBrand">
                  <div class="sr-brand-logo"><img src="{{brands.image}}" /></div>
                  <span class="sr-brand-name">{{brands.name}}</span>
              </div>
             
              <div class="sr-brand-item btn">
                  <a href="#" routerLink="/buy">Buy</a>
              </div>
  
              
          </div>
          <div class="sr-bar-with-ads">
              <div class="ads">
                  <span>ads</span>
              </div>
              <div class="sr-bar">
                  <div class="sr-box">
                    <ais-search-box></ais-search-box> 
                  </div>
              </div>
              <div class="ads">
                  <span>ads</span>
              </div>
          </div>
          
            <ais-refinement-list attribute="brand"></ais-refinement-list>
            <ais-configure [searchParameters]="{ hitsPerPage: 14 }"></ais-configure>
            <ais-hits>
              <ng-template let-hits="hits" let-results="results">
                <div class="sr-article-sec">

                    <div class="sr-article-sec-item ads-main" *ngIf="hits.length > 5" [ngStyle]="{'order': 5}">
                        <div class="ads">Special ads</div>
                    </div>
                    <div [routerLink]="['/article/',hit.slug]"  class="sr-article-sec-item" *ngFor="let hit of hits; let i=index"  [ngStyle]="{'order': OrderIndex + i}">
                       
                        <div class="sr-article-img"><img src="{{hit.image.url}}" alt="{{hit.image.alt}}" /></div>
                        <div class="sr-article-detail">
                            <div class="sr-article-txt">
                                <h2>{{hit.meta.title}}</h2>
                            </div>
                            <div class="sr-avtar">
                                <img src="{{hit.author.avatar.url}}" alt="{{hit.author.avatar.alt}}" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
             <ais-pagination></ais-pagination>
              </ng-template>
            </ais-hits>
          
          <!-- <div class="next-btn">
              <a href="#">Next Page</a>
          </div> -->
      </div>
  </ais-instantsearch>
  </section>