<section class="is-article-block">
    <div class="container">
      <div class="mobile-article-detail">
        <h2 class="xs-article-title">
          <span class="xs-article-category"></span>
        </h2>
        
       
      </div>
      <div class="article-full-img">
        <img src="{{ background_url  }}" alt="event home" />
        <div class="centered">
            <h1 style="color: wheat;">{{"Become host on"|translate}}<br/> {{"My Trending Stories" | translate}}</h1>
        </div>
      </div>
    
    </div>
  </section>
  