<section>
    <div class="container">
        <div class="is-comman-title"> {{ "charitiesTitle" | translate }} </div>
        <div class="all-companies-main-sec">
            <div class="companies-box">
                <div class="row">
                    <div *ngFor="let charity of charities" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a [routerLink]="['/charities',charity.slug]">
                            <div class="companies-box-item">
                                <div>
                                    <img [src]="charity?.logo.url" [alt]="charity?.logo?.alt" />
                                    <h2 [ngStyle]="{'color': charity?.color_code}">{{ charity?.name }}</h2>
                                    <p>{{ charity?.bio }}</p>
                                    <button type="button" class="is-read-more">
                                        {{'readMore' | translate }} <img src="assets/images/read-more-icon-black.png" alt="Read More" />
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
