<section>
    <div class="container">
        <div class="is-comman-title"> Charity </div>
        <div class="all-companies-main-sec">
            <div class="companies-box">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/facebook-logo.png" alt="Facebook Logo"/>
                                <h2>Facebook</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/google-logo.png" alt="Google Logo"/>
                                <h2>Google</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/linkedin-logo.png" alt="linkedin Logo"/>
                                <h2>Linkedin</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/youtube-logo.png" alt="Youtube Logo"/>
                                <h2>Youtube</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/apple-logo.png" alt="Apple Logo"/>
                                <h2>Apple</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/nike-logo.png" alt="Nike Logo"/>
                                <h2>Nike</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/reebok-logo.png" alt="Reebok Logo"/>
                                <h2>Reebok</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="companies-box-item">
                            <div>
                                <img src="assets/images/company/uber-logo.png" alt="Uber Logo"/>
                                <h2>Uber</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
