<section class="is-signup-main">
    <div class="is-signup-center">
        <div class="row no-gutters h-100">
            <div class="col-sm-6 col-lg-5 is-form-img"
                style="background-image:url('assets/images/others/sign-up-mts.png')">
                <div class="is-banner-content">
                    <div class="is-logo">
                        <img src="assets/images/logo/logo-white.png" alt="">
                    </div>
                    <div class="is-img-title">
                        <h3>The People's Voice</h3>
                        <p>My Trending Stories is a creative platform made easy and allows writers, videographers,
                            photographers, artists, musicians and many more, to rack in benefits from their passion.</p>

                    </div>
                    <div class="is-signup-footer">
                        <span class="text-white">© 2020 MyTrendingStories</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="text-white text-link" routerLink="/terms">Terms</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-white text-link" routerLink="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  col-lg-7 bg-white">
                <div class="is-signup-form-main">
                    <div class="is-form">
                        <nz-card>
                            <h2 class="m-t-20">Sign In</h2>
                            <p class="m-b-30">Enter your credential to get access</p>
                            <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
                                <nz-alert nzType="error"
                                    nzDescription="You have entered an invalid username or password" nzShowIcon
                                    *ngIf="errorLogin"></nz-alert>
                                <nz-form-item class="m-b-15">
                                    <nz-form-control nzErrorTip="The input is not valid E-mail!" class="is-icon">
                                        <nz-input-group [nzPrefix]="prefixUser">
                                            <input type="text" nz-input formControlName="email" placeholder="Email">
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item class="m-b-5">
                                    <nz-form-control nzErrorTip="Please input your Password!" class="is-icon">
                                        <nz-input-group [nzPrefix]="prefixLock">
                                            <input type="password" nz-input formControlName="password"
                                                placeholder="Password">
                                        </nz-input-group>
                                    </nz-form-control>


                                </nz-form-item>
                                <a class="float-right font-size-13 text-muted"
                                    [routerLink]="['/auth/reset-password']">Forget Password?</a>
                                <div class="clearfix"></div>

                                <div nz-row class="login-form-margin">
                                    <div nz-col [nzSpan]="12">
                                        <span class="font-size-13 text-muted">Don't have an account? <a class="small"
                                                [routerLink]="['/auth/signup']"> Signup</a></span>

                                    </div>

                                </div>


                                <nz-form-item>
                                    <nz-form-control>
                                        <div class="text-center mt-4"> <button nz-button
                                                class="login-form-button is-login-btn" [nzType]="'primary'"
                                                [nzLoading]="isFormSaving">Sign
                                                In</button></div>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                        </nz-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
