<section class="is-article-block">
   <div class="container">
      <div class="article-full-img">
         <img  src="assets/images/charity/banner.jpg" alt="Banner"/>
      </div>
      <div class="is-article-sec">
         <div class="is-left-profile">
            <div class="sticky-box">
               <div class="is-profile">
                  <a>
                  <img class="avatar" src="assets/images/charity/fundraiser.png" alt="charity logo"/>
                  </a>
               </div>
               <div class="share-sec text-center">
                  <div class="addthis_inline_share_toolbox"></div>
               </div>
            </div>
         </div>
         <div class="is-main-article-content">
            <div class="company-img">
               <img  src="assets/images/charity/facebook.png" alt="facebook"/>
            </div>
            <div class="is-content">
               <div class="is-head">
                  <div class="company-name">
                     <h1>
                        <a>
                        Fundraiser Name
                        </a>
                     </h1>
                  </div>
                  <div class="media-section">
                     <div class="follow-btn">
                        <a nz-button><img src="assets/images/company/follow-icon.png" alt="company img">{{ "followCharity" | translate }}</a>
                     </div>
                  </div>
                  <div class="clearfix"></div>
               </div>
               <div class="is-body">
                  <div class="fundraiser-content">
                      <h2>Mental Health Donate</h2>
                      <div class="d-inline-block mb-4">
                        <h5><b>$1000,000 </b>MTS Raised $ 250,000</h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                      <p class="big mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                      <p class="big mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                      <p class="big mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <p class="big">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="is-right-ad-section">
            <div class="charity-form">
                <h5><b>$1000,000 </b>MTS Raised $ 250,000</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="donor-detail">
                      <div class="donor-row">
                          <span>23</span>
                          Donors
                      </div>
                      <div class="donor-row">
                        <span>23</span>
                        Shares
                    </div>
                    <div class="donor-row">
                        <span>23</span>
                        Followers
                    </div>
                  </div>
            </div>
            <div class="charity-form">
               <h2>{{ "donateCharityTitle" | translate }}</h2>
               <form nz-form  class="login-form" >
                  <nz-form-item>
                     <nz-form-control nzErrorTip="Please input your First Name">
                        <nz-input-group>
                           <input type="text" nz-input formControlName="userName" placeholder="First Name" />
                        </nz-input-group>
                     </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your Last Name">
                     <nz-input-group>
                        <input type="text" nz-input formControlName="userName" placeholder="Last Name" />
                     </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                  <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your Email">
                     <nz-input-group>
                        <input type="text" nz-input formControlName="userName" placeholder="Email" />
                     </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                  <nz-form-item>
                     <nz-form-control nzErrorTip="Please input your Phone Number">
                        <nz-input-group>
                           <input type="text" nz-input formControlName="userName" placeholder="Phone Number" />
                        </nz-input-group>
                     </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                     <nz-form-control nzErrorTip="Please input your Amount">
                        <nz-input-group nzAddOnBefore="$">
                           <input type="text" nz-input formControlName="userName" placeholder="Amount" />
                        </nz-input-group>
                     </nz-form-control>
                  </nz-form-item>
                  <div class="text-center"><button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Submit</button></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>