<div class="landing-page-main">
    <div class="banner-img" >
                <!-- <img src="assets/images/article/article-head.jpg" alt="" class="absolute-img"> -->
                <ng-container *ngIf="landingPageData.banner_image">
                    <cl-image class="absolute-img" loading="lazy" public-id="{{landingPageData.banner_image}}" secure="true"
                      alt="">
                      <cl-transformation  gravity="face" crop="fill">
                      </cl-transformation>
                    </cl-image>
                  </ng-container>
        <h2>{{landingPageData.title}}</h2>
        <div class="logo">
            <a href=""><img src="assets/images/logo/logo-white.svg" alt=""></a>
        </div>
    </div>
    <div class="landing-page-body">
        <h2>{{landingPageData.heading}}</h2>
        <p>{{landingPageData.description}}</p>
        <div class="page-video" *ngIf= !landingPageData.body_video>
            <div class="banner-img" >
                <!-- <img src="assets/images/article/article-head.jpg" alt="" class="absolute-img"> -->
                <ng-container *ngIf="landingPageData.banner_image">
                    <cl-image class="absolute-img" loading="lazy" public-id="{{landingPageData.banner_image}}" secure="true"
                      alt="">
                      <cl-transformation gravity="face" crop="fill">
                      </cl-transformation>
                    </cl-image>
                  </ng-container>
            </div>
            <!-- <iframe width="900" height="506" src="https://www.youtube.com/embed/3_FoLKgalwQ" title="Mytrendingstories Social Networking" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
        <a href="/auth/signup" class="btn-orange">{{landingPageData.button_text}}</a>
    </div>
    <div class="landing-page-footer">
      <div class="row">
        <div class="col-12 col-md-4 media-icon-col">
          <img src="assets/images/facebook.png" alt="facebook">
          <a href="https://www.facebook.com/Mytrendingstories-1537454709805166">@mytrendingstories</a>
        </div>
        <div class="col-12 col-md-4 media-icon-col">
          <img src="assets/images/instagram.png" alt="instagram">
          <a href="https://www.instagram.com/mytrendingstories/">@mytrendingstories</a>
        </div>
        <div class="col-12 col-md-4 media-icon-col">
          <img src="assets/images/twitter_l.png" alt="twitter">
          <a href="https://twitter.com/mytrending">@mytrendingstories</a>
        </div>
      </div>
      <div class="copy-right">
        @ My Trending Stories 2022 
      </div>
    </div>
</div>