<div class="container">
    <div class="post-list-sec">
        <div class="row">
            <div class="col-lg-12">
                <button routerLink="/app/social-sharing/create-post" type="button" class="custom-btn">Create Post</button>
            </div>
        </div>
        <div class="is-cat-box-card-main">
            <div class="cat-box-gallery">
                <div class="row article-row"> 
                    <!-- <div *ngFor="let post of posts" class="col-12 col-sm-6 col-lg-4 box_shadow">
                        <div class="item-card item-card-life-and-styles">
                            <div class="item-card-image">
                                <img src="assets/images/video/thumbnail-video.jpg" alt="">
                                <h3 class="is-category-title">{{Business}}</h3>
                            </div>
                            <div class="item-card-content">
                                
                                <div class="item-card-title">
                                    <h4 class="item-long-title">{{ post?.title }}</h4>
                                </div>
                                <div class="item-card-texte">
                                    <p>{{ post?.post_text }}</p>
                                    <div class="item-card-category cat-yellow">
                                        <div class="is-avatar-dv">
                                            <img class="avatar" src="assets/images/profile/1.jpg"
                                            alt="" />
                                            <span class="item-card-author">Rohit Kumar</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="delete-btn">
                                    <button type="button" class="is-read-more">Delete post <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                        <div class="post-status">
                                           <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>  -->
                    <div class="col-12 col-sm-6 col-lg-4 box_shadow">
                        <div class="item-card item-card-life-and-styles">
                            <div class="item-card-image no-feature-img">
                                <img src="assets/images/video/thumbnail-video.jpg" />
                            </div>
                            <div class="item-card-content">
                                <div class="item-card-title">
                                    <h4 class="item-long-title">My First Post</h4>
                                    <div class="schdule-date"><i nz-icon nzType="calendar" nzTheme="outline"></i>September 09, 2020 10:51 </div>
                                </div>
                                <div class="item-card-texte">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <div class="item-card-category cat-yellow">
                                        <div class="is-avatar-dv">
                                            <img class="avatar" src="assets/images/company-logo/facebook.png"
                                            alt="" />
                                            <span class="item-card-author">Facebook</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="delete-btn">
                                    <button type="button" class="is-read-more">Delete post <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                        <div class="post-status">
                                            <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 box_shadow">
                        <div class="item-card item-card-life-and-styles">
                            
                            <div class="item-card-content">
                                <div class="item-card-title">
                                    <h4 class="item-long-title">My First Post</h4>
                                    <div class="schdule-date"><i nz-icon nzType="calendar" nzTheme="outline"></i>September 09, 2020 10:51 </div>
                                </div>
                                <div class="item-card-texte">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <div class="item-card-category cat-yellow">
                                        <div class="is-avatar-dv">
                                            <img class="avatar" src="assets/images/company-logo/facebook.png"
                                            alt="" />
                                            <span class="item-card-author">Facebook</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="delete-btn">
                                    <button type="button" class="is-read-more">Delete post <img
                                        src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                        <div class="post-status">
                                            <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
