<section>
    <div class="page-title">
        Contact Us
    </div>
    <div class="container">
        <div class="contact-form">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="contact-info-section">
                        <h5>Contact Information</h5>
                        <h3>Talk to My Trending Stories</h3>
                        <div class="info-bottom">
                            <div class="more-info">
                                <span class="email-info">info@example.com</span>
                                <span class="email-info-id">xx-xxxx-xxxx</span>
                            </div>
                            <div class="follow-row">
                                <span>Connect with us : </span>
                                <a href="#"><img src="assets/images/sign-up/fb.png"></a>
                                <a href="#"><img src="assets/images/sign-up/linkedin.png"></a>
                                <a href="#"><img src="assets/images/sign-up/g-plus.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 align-center">
                    <form class="form">
                        <h2>Get in touch</h2>
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" placeholder="Full Name">
                          <img src="assets/images/sign-up/user.png" />
                        </div>
                  
                        <div class="form-group">
                          <input type="text" class="form-control" id="email" placeholder="Email">
                          <img src="assets/images/sign-up/email.png" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                            <img src="assets/images/sign-up/email.png" />
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" id="message" placeholder="Message">Message</textarea>
                            <img src="assets/images/sign-up/email.png" />
                          </div>
                        <div class="text-center">
                            <button type="submit" class="btn-submit">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
           
              
        </div>
    </div>
</section>
