<section class="is-followers-sec">
    <div class="container">
      <div class="is-comman-title">
        {{'profileFollowing' | translate}} {{authorDetails.followings_count}}
      </div>
      <!-- <p class="follow">
            {{'profileFolloweringDes' | translate}}
            </p> -->
      <div class="is-followers-user">
        <div class="is-followers-item" *ngFor="let subscriber of subscribers">
          <a [routerLink]="['/',subscriber.slug]" *ngIf="!subscriber.blocked">
            <img [src]="subscriber?.avatar?.url" onerror="this.src='assets/images/default-avatar.png'"
              alt="{{subscriber?.avatar?.alt}}" />
          </a>
        </div>
      </div>
      <div *ngIf="lastVisibleFollowing">
        <a (click)="loadMoreFollowings()" class="load-more-btn"><span>{{'loadMore' | translate}}</span></a>
        <nz-spin nzSimple *ngIf="loadingMoreFollowings"></nz-spin>
      </div>
    </div>
  </section>