<section class="is-article-block" *ngIf="!article">
  <div class="container">
    <div class="article-full-img no-overlay">
      <nz-skeleton-element *ngIf="!article" _ngcontent-ccc1="" [nzLoading]="loading" nzType="avatar"
        class="custom-skeleton" [nzShape]="square" [nzActive]="true"></nz-skeleton-element>
    </div>
    <div class="is-article-sec">
      <div class="is-left-profile hidden-on-xs mt-2 p-4">
        <nz-skeleton *ngIf="!article" _ngcontent-ccc1="" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"
          class="custom-skeleton card-skeleton left-skeleton-profile"></nz-skeleton>
      </div>
      <div class="is-main-article-content">
        <div class="is-content">
          <nz-skeleton-element *ngIf="!article" _ngcontent-ccc1="" [nzLoading]="loading" nzType="avatar"
            class="custom-skeleton" [nzShape]="square" [nzActive]="true"></nz-skeleton-element>
        </div>

      </div>
      <div class="is-right-ad-section">
        <nz-skeleton *ngIf="!article" _ngcontent-ccc1="" [nzAvatar]="true" [nzParagraph]="{ rows: 5 }"
          class="custom-skeleton list-skeleton"></nz-skeleton>
      </div>
    </div>

  </div>
</section>
<section class="is-article-block" *ngIf="article">
  <div class="container">
    <div class="mobile-article-detail">
      <h2 class="xs-article-title">
        <span class="xs-article-category" [ngClass]="article.category.slug">{{article?.category.title}}</span><br>
        {{article?.title}}
      </h2>
      <div class="xs-article-author-detail">
        <div class="xs-article-name">
          <a [routerLink]="[getArticleUrl(article),article?.author?.slug]" itemprop="url" *ngIf="article"
            target="_blank">
            {{article?.author?.fullname}}
          </a>
        </div>
        <div class="xs-follow-author">

          <span style="padding: 8px;" (click)="openOptionModel()"><svg aria-label="More options" class="_8-yf5 "
              fill="#262626" height="25" viewBox="0 0 50 25" width="25">
              <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5"></circle>
              <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5"></circle>
              <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5"></circle>
            </svg></span>

        </div>
      </div>
      <div class="xs-article-date">{{article?.published_at | date:'medium' }}</div>
      <div class="related-topics">
        <b>Topics: </b>
        <span *ngFor="let topic of topics">
          <a [routerLink]="['/category/', article?.category?.slug]" [queryParams]="{topic:topic.slug}"
            [ngClass]="article.category.slug" class="category"> {{topic?.title}}</a>
          <strong class="comma">,</strong>
        </span>
      </div>
      <div class="xs-follow-author-detail">
        <div class="comment-section">
          <ul>
            <li *ngIf="articleVicewCount">
              <a class="is-like">
                <span class="likes-count">
                  <i class="fas fa-eye"></i>{{articleVicewCount}}
                </span>
              </a>
            </li>
            <li>
              <a class="is-like" *ngIf="!isLike" (click)="like()">
                <i class="far fa-thumbs-up"></i>
                {{'like' | translate}} <span class="like-count">{{articleLikes}}</span>
              </a>
              <a class="is-like" *ngIf="isLike" (click)="disLike()">
                <i class="fas fa-heart"></i>
                {{'liked' | translate}} <span class="like-count">{{articleLikes}}</span>
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="!(article?.author?.type)">
          <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
            {{'followAuthor' | translate}}
          </a>
          <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
            {{'unfollowAuthor' | translate}}
          </a>
        </div>
        <div *ngIf="article?.author?.type === 'author'">
          <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
            {{'followAuthor' | translate}}
          </a>
          <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
            {{'unfollowAuthor' | translate}}
          </a>
        </div>
        <div *ngIf="article?.author?.type === 'staff'">
          <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
            {{'followAuthor' | translate}}
          </a>
          <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
            {{'unfollowAuthor' | translate}}
          </a>
        </div>
        <div *ngIf="article?.author?.type === 'company'">
          <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
            {{'followCompany' | translate}}
          </a>
          <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
            {{'unfollowCompany' | translate}}
          </a>
        </div>
        <div *ngIf="article?.author?.type === 'charity'">
          <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
            {{'followCharity' | translate}}
          </a>
          <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
            {{'unfollowCharity' | translate}}
          </a>
        </div>
        <div *ngIf="article?.author?.type === 'fundraiser'">
          <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
            {{'followFundraiser' | translate}}
          </a>
          <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
            {{'unfollowFundraiser' | translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="article-full-img">
      <img src="{{replaceImage(article?.image?.url)}}" alt="{{article.image.alt}}"
        *ngIf="article && !article.image.cloudinary_id" />
      <ng-container *ngIf="article && article.image.cloudinary_id">
        <cl-image loading="lazy" public-id="{{replaceImage(article.image.cloudinary_id)}}" secure="true"
          alt="{{article.image.alt}}">
          <cl-transformation width="1500" height="400" gravity="face" crop="thumb">
          </cl-transformation>
        </cl-image>
      </ng-container>
    </div>
    <div class="is-article-sec">
      <div class="is-left-profile hidden-on-xs">
        <div class="sticky-box">
          <div class="is-profile profile-icon">
            <a [routerLink]="[getArticleUrl(article),article?.author?.slug]" itemprop="url" *ngIf="article">
              <img class="avatar" src="{{replaceImage(article?.author?.avatar?.url)}}"
                alt="{{article?.author?.avatar?.alt}}" onerror="this.src='assets/images/default-avatar.png'"
                *ngIf="article && !article.author.avatar.cloudinary_id" />
              <ng-container *ngIf="article && article.author.avatar.cloudinary_id">
                <cl-image loading="lazy" public-id="{{replaceImage(article.author.avatar.cloudinary_id)}}"
                  secure="true">
                  <cl-transformation width="140" height="140" gravity="face" crop="thumb">
                  </cl-transformation>
                </cl-image>
              </ng-container>
            </a>
            <app-article-avatar [article]="article"></app-article-avatar>
          </div>
          <!-- <div class="is-author-name-sec is-divider" *ngIf="isLoggedInUser">-->
          <div class="is-author-name-sec is-divider">
            <span class="is-author-name" itemprop="author" itemscope="">
              <a [routerLink]="[getArticleUrl(article),article?.author?.slug]" itemprop="url" *ngIf="article">
                <span class="name" itemprop="name">
                  {{article?.author?.fullname}}</span>
              </a>
              <div *ngIf="!(article.author.type)">
                <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                  <img src="assets/images/article/icon/follow.png" alt="Follow button" />
                  {{'followAuthor' | translate}}
                </a>
                <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                  <img src="assets/images/article/icon/un-follow.png" alt="Unfollow button" />
                  {{'unfollowAuthor' | translate}}
                </a>
              </div>
              <div *ngIf="article.author.type === 'author'">
                <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                  <img src="assets/images/article/icon/follow.png" alt="follow button" />
                  {{'followAuthor' | translate}}
                </a>
                <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                  <img src="assets/images/article/icon/un-follow.png" alt="Unfollow button" />
                  {{'unfollowAuthor' | translate}}
                </a>
              </div>
              <div *ngIf="article.author.type === 'staff'">
                <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                  <img src="assets/images/article/icon/follow.png" alt="follow button" />
                  {{'followAuthor' | translate}}
                </a>
                <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                  <img src="assets/images/article/icon/un-follow.png" alt="Unfollow button" />
                  {{'unfollowAuthor' | translate}}
                </a>
              </div>
              <div *ngIf="article.author.type === 'company'">
                <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                  <img src="assets/images/article/icon/follow.png" alt="follow button" />
                  {{'followCompany' | translate}}
                </a>
                <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                  <img src="assets/images/article/icon/un-follow.png" alt="Unfollow button" />
                  {{'unfollowCompany' | translate}}
                </a>
              </div>
              <div *ngIf="article.author.type === 'charity'">
                <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                  <img src="assets/images/article/icon/follow.png" alt="follow button" />
                  {{'followCharity' | translate}}
                </a>
                <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                  <img src="assets/images/article/icon/un-follow.png" alt="Unfollow button" />
                  {{'unfollowCharity' | translate}}
                </a>
              </div>
              <div *ngIf="article.author.type === 'fundraiser'">
                <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                  <img src="assets/images/article/icon/follow.png" alt="follow button" />
                  {{'followFundraiser' | translate}}
                </a>
                <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                  <img src="assets/images/article/icon/un-follow.png" alt="Unfollow button" />
                  {{'unfollowFundraiser' | translate}}
                </a>
              </div>
              <div class="login-popup" *ngIf="!isLoggedInUser">
                <nz-modal [(nzVisible)]="isVisible" nzTitle="My Trending Stories" (nzOnCancel)="handleCancel()"
                  (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
                  <div class="popup-content">
                    <div>
                      <a [routerLink]="['/']" class="bg-logo">
                        <img src="assets/images/logo/logo-circle.png" alt="My Trending Stories">
                      </a>
                    </div>
                    <p class="text-black">{{'Please' | translate}}, <a routerLink="/auth/login">{{'logInTitle' |
                        translate}}</a>
                      {{'or' | translate}} <a routerLink="/auth/signup">{{'signUp' | translate}}</a>
                      {{'toContinue' | translate}}.</p>

                  </div>
                </nz-modal>
              </div>
            </span>
          </div>
          <!--<div class="is-like-sec is-divider" *ngIf="isLoggedInUser">-->
          <div class="is-like-sec is-divider">
            <!-- <a class="is-like" href="" data-toggle="modal" data-target="#modal-login"><img
                              src="assets/images/article/icon/like.png" />{{'like' | translate}} <span
                              class="likes-count">{{articleLikes}}</span></a> -->

            <a class="is-like" *ngIf="!isLike" (click)="like()">
              <i class="far fa-thumbs-up"></i>
              {{'like' | translate}} <span class="like-count">{{articleLikes}}</span>
            </a>
            <a class="is-like" *ngIf="isLike" (click)="disLike()">
              <i class="fas fa-heart"></i>
              {{'liked' | translate}} <span class="like-count">{{articleLikes}}</span>
            </a>
            <a class="is-like"><span class="likes-count"><i class="fas fa-eye"></i>{{articleVicewCount}}</span></a>
            <!-- 
                      <a class="is-bookmark" href=""><img src="assets/images/article/icon/bookmark.png" /></a>
                      <a class="is-dot" href=""><img src="assets/images/article/icon/more.png" /></a> -->
          </div>
          <div class="left-media is-divider">
            <h3>{{'shareArticle' | translate}}</h3>
            <!-- <div class="sharethis-inline-share-buttons"></div> -->
            <app-share-buttons></app-share-buttons>

          </div>
          <!-- <div class="is-influencer-btn" routerLink="/influencer">
                      <span>
                          Messsenger<br /> Influencer
                      </span>
                  </div> -->
        </div>
      </div>
      <div class="is-main-article-content">
        <div class="is-content">
          <div class="is-head hidden-on-xs">

            <!-- <h1>
              <a itemprop="mainEntityOfPage" [routerLink]="['/',article?.slug]" *ngIf="article">
                <span itemprop="headline">
                  {{article?.title}}
                </span>
              </a>
            </h1> -->
            <h1 itemprop="headline">
              {{article?.title}}
            </h1>

            <div class="is-small-profile">
              <div class="is-image">
                <a [routerLink]="[getArticleUrl(article),article?.author?.slug]" itemprop="url" *ngIf="article">
                  <img class="avatar" alt="{{article?.author?.avatar?.alt}}"
                    src="article && {{replaceImage(article?.author?.avatar?.url)}}"
                    onerror="this.src='assets/images/default-avatar.png'"
                    *ngIf="!article && !article.author.avatar.cloudinary_id" />
                  <ng-container *ngIf="article && article.author.avatar.cloudinary_id">
                    <div class="hide-feature-img d-inline-block">
                      <app-cloudinary-img [article]="article"></app-cloudinary-img>
                    </div>
                  </ng-container>
                  <span class="name" itemprop="name">
                    {{article?.author.fullname}}</span>
                </a>
              </div>
              <div class="is-date">
                {{article?.published_at | date:'medium' }}
                <a class="category" [routerLink]="['/category/',article?.category?.slug]" *ngIf="article"
                  [ngClass]="article.category.slug">
                  {{article?.category.title}}
                </a>
                <div class="related-topics">
                  <b>Topics: </b>
                  <span *ngFor="let topic of topics">
                    <a [routerLink]="['/category/', article?.category?.slug]" [queryParams]="{topic:topic.slug}"
                      [ngClass]="article.category.slug" class="category"> {{topic?.title}}</a>
                    <strong class="comma">,</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="is-body">
            <div *ngIf="articleType === VIDEO" class="main-video-sec">
              <cl-video [public-id]="article.article_file.cloudinary_id" secure="true" controls="true"
                class="cld-video"></cl-video>
              <div class="video-control">
                <ul>
                  <li>
                    <a>
                      <article-interaction [article]="article"></article-interaction>
                    </a>
                  </li>
                  <li>
                    <a>
                      <img src="assets/images/video/icon/point.png" alt="point" class="bullet">
                      {{ getRelativeDate(article.published_at) }}
                    </a>
                  </li>
                </ul>
                <!-- <div class="btn-download">
                                  <button class="video-download-btn"><img src="assets/images/video/icon/download.png" alt=""> Download</button>
                              </div> -->
              </div>
            </div>
            <div *ngIf="articleType === AUDIO" class="main-audio-sec">
              <cl-video [public-id]="article.article_file.cloudinary_id" resource-type="video" class="cld-audio-wave">
                <cl-transformation flags="waveform"></cl-transformation>
              </cl-video>
              <cl-video [public-id]="article.article_file.cloudinary_id" secure="true" controls="true"
                class="cld-audio"></cl-video>
              <div class="video-control">
                <ul>
                  <li>
                    <a>
                      <article-interaction [article]="article"></article-interaction>
                    </a>
                  </li>
                  <li>
                    <a>
                      <img src="assets/images/video/icon/point.png" alt="point" class="bullet">
                      {{ getRelativeDate(article.published_at) }}
                    </a>
                  </li>
                </ul>
                <!-- <div class="btn-download">
                                  <button class="video-download-btn"><img src="assets/images/video/icon/download.png" alt=""> Download</button>
                              </div> -->
              </div>
            </div>
            <div *ngIf="articleType === TEXT" class="is-paragraph big word-break">
              <!-- <div class="ql-container ql-snow" style="border-width: 0;">
                <div class="ql-editor big" [ngClass]="{'not-active': article.author.type === 'company'}"
                  [innerHTML]="article?.content">
                </div>
              </div> -->
              <div class="big" *ngFor="let item of articleAds; trackBy:trackByArticleAdFn">
                <span [ngClass]="{'not-active': article.author.type === 'company'}" [innerHTML]="item.elem"></span>
                <ng-container *ngIf="item.insertAd">
                  <div style="margin: 10px auto; width: 100%; min-height: 50px;">
                    <div class="article-ad pw-in-article-container"
                      *ngIf="displayAd && article?.author?.type != 'company' && article?.author?.type != 'charity'"
                      adItem [id]="'articleAd_'+item.adIndex" type="playwire"
                      [adUnit]="isMobile ? 'mobile_in_article' : 'desktop_in_article'" [author]="article?.author?.slug">
                    </div>
                  </div>
                </ng-container>
              </div>

              <p class="hidden-on-xs">
                {{'publishedBy' | translate}}
                <a [routerLink]="[getArticleUrl(article),article?.author?.slug]" target="_blank"
                  title="  {{article?.author.fullname}}" *ngIf="article">
                  <span class="name" itemprop="name">
                    {{article?.author.fullname}}</span>
                </a>
              </p>
              <!-- Displaying Charity Donate button with progresss bar -->
              <div class="text-center pb-3 mt-4" *ngIf="article?.author?.type == 'charity' && !isMobile">
                <h5 class="mt-2">
                  <b>{{ charity?.goal_amount | currency :'USD':'symbol':'1.0-2' }}</b>
                  MTS Raised {{ charity?.amount | currency :'USD':'symbol':'1.0-2' }}
                </h5>
                <nz-progress [nzPercent]="donationPercentage" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }">
                </nz-progress>
                <button type="button" class="donation-btn mt-2" nz-button nzType="primary"
                  (click)="showDonateForm()">Donate Now</button>
                <nz-modal [(nzVisible)]="isDonateFormVisible" (nzOnCancel)="hideDonateForm()" nzFooter=null>
                  <app-charity-donate-form [charityId]="article?.author?.id" [charity]="charity">
                  </app-charity-donate-form>
                </nz-modal>

                <button type="button" class="donation-btn share-btn mt-3" nz-button nzType="primary"
                  (click)="showShareModel()">
                  Share
                </button>
                <nz-modal nzTitle="Share" [(nzVisible)]="isShareVisible" (nzOnCancel)="hideShareModel()" nzFooter=null>
                  <app-share-buttons class="text-center pt-3"></app-share-buttons>
                </nz-modal>
              </div>
              <!-- Displaying Fundraiser Donate button with progresss bar -->
              <div class="text-center pb-3 mt-4"
                *ngIf="article?.author?.type == 'fundraiser' && !isMobile && fundraiserAuthor">
                <h5>
                  <b>{{ fundraiser?.goal_amount | currency :'USD':'symbol':'1.0-2' }}</b>
                  MTS Raised {{ fundraiser?.amount | currency :'USD':'symbol':'1.0-2' }}
                </h5>
                <nz-progress [nzPercent]="donationPercentage" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }">
                </nz-progress>
                <button type="button" class="donation-btn mt-2" nz-button nzType="primary"
                  (click)="showDonateForm()">Donate Now</button>
                <nz-modal [(nzVisible)]="isDonateFormVisible" (nzOnCancel)="hideDonateForm()" nzFooter=null>
                  <app-fundraiser-donate-form [fundraiser]="fundraiser" [fundraiserId]="article?.author?.id">
                  </app-fundraiser-donate-form>
                </nz-modal>

                <button type="button" class="donation-btn share-btn mt-3" nz-button nzType="primary"
                  (click)="showShareModel()">
                  Share
                </button>
                <nz-modal nzTitle="Share" [(nzVisible)]="isShareVisible" (nzOnCancel)="hideShareModel()" nzFooter=null>
                  <app-share-buttons class="text-center pt-3"></app-share-buttons>
                </nz-modal>
              </div>

              <div class="xs-article-publish">
                <div class="xs-article-publisher-img">
                  <a [routerLink]="[getArticleUrl(article),article?.author?.slug]" itemprop="url" *ngIf="article"
                    target="_blank">
                    <img class="avatar" alt="{{article?.author?.avatar?.alt}}"
                      src="article && {{replaceImage(article?.author?.avatar?.url)}}"
                      onerror="this.src='assets/images/default-avatar.png'"
                      *ngIf="!article && !article.author.avatar.cloudinary_id" />
                    <ng-container *ngIf="article && article.author.avatar.cloudinary_id">
                      <div class="hide-feature-img d-inline-block">
                        <app-cloudinary-img [article]="article"></app-cloudinary-img>
                      </div>
                    </ng-container>
                    <app-article-avatar [article]="article"></app-article-avatar>
                  </a>
                </div>
                <div class="xs-articl-publisher-name">
                  {{'WrittenBy' | translate}}
                  <a [routerLink]="[getArticleUrl(article),article?.author?.slug]" target="_blank"
                    title="  {{article?.author.fullname}}" *ngIf="article">
                    <span class="name" itemprop="name">
                      {{article?.author.fullname}}</span>
                  </a>
                  <div *ngIf="!(article.author.type)">
                    <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                      {{'followAuthor' | translate}}
                    </a>
                    <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                      {{'unfollowAuthor' | translate}}
                    </a>
                  </div>
                  <div *ngIf="article.author.type === 'author'">
                    <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                      {{'followAuthor' | translate}}
                    </a>
                    <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                      {{'unfollowAuthor' | translate}}
                    </a>
                  </div>
                  <div *ngIf="article.author.type === 'staff'">
                    <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                      {{'followAuthor' | translate}}
                    </a>
                    <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                      {{'unfollowAuthor' | translate}}
                    </a>
                  </div>
                  <div *ngIf="article.author.type === 'company'">
                    <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                      {{'followCompany' | translate}}
                    </a>
                    <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                      {{'unfollowCompany' | translate}}
                    </a>
                  </div>
                  <div *ngIf="article.author.type === 'charity'">
                    <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                      {{'followCharity' | translate}}
                    </a>
                    <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                      {{'unfollowCharity' | translate}}
                    </a>
                  </div>
                  <div *ngIf="article.author.type === 'fundraiser'">
                    <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                      {{'followFundraiser' | translate}}
                    </a>
                    <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                      {{'unfollowFundraiser' | translate}}
                    </a>
                  </div>
                </div>
              </div>
              <p class="report-abuse-spin" *ngIf="isLoggedInUser">
                <a class="comment-view-replies" (click)="reportAbuseArticle()">
                  <nz-spin nzSimple [nzSize]="'small'" *ngIf="isReportAbuseArticleLoading"></nz-spin>
                  {{'reportAbuseAuth' | translate}}
                </a>
              </p>
            </div>
            <div>
              <button class="request-info-btn" (click)="companyMoreInfo()" *ngIf="article?.author?.type == 'company' && isMobile">
                Request More Info
                <img src="assets/images/read-more-icon.png" alt="">
              </button>
            </div>
            <app-company-lead-form *ngIf="article?.author?.type == 'company' && isMobile"
              [companyId]="article?.author?.id">
            </app-company-lead-form>

            <app-charity-donate-form *ngIf="article?.author?.type == 'charity' && isMobile"
              [charityId]="article.author.id">
            </app-charity-donate-form>

            <div class="text-center pb-3 donate-form-modal" *ngIf="article?.author?.type == 'fundraiser' && isMobile">
              <button type="button" class="donation-btn" nz-button nzType="primary" (click)="showDonateForm()"><i
                  class="fas fa-heart"></i> Donate Now</button>
              <nz-modal [(nzVisible)]="isDonateFormVisible" (nzOnCancel)="hideDonateForm()" nzFooter=null>
                <app-fundraiser-donate-form *ngIf="" [fundraiserId]="article?.author?.id">
                </app-fundraiser-donate-form>
              </nz-modal>
            </div>
            <div class="is-share is-line"
              *ngIf="!(article?.author?.type == 'fundraiser' || article?.author?.type == 'charity')">
              <h2>{{'share' | translate}} - </h2>
              <app-share-buttons></app-share-buttons>
            </div>

            <app-article-comments *ngIf="article" [article]="article"></app-article-comments>
          </div>
        </div>
      </div>

      <div class="is-right-ad-section" [ngClass]="SlideRelatedArticle ? 'removeSlide' : 'openSlideArticle'">
        <div>
          <button class="request-info-btn mt-3" (click)="companyMoreInfo()" *ngIf="article?.author?.type == 'company' && !isMobile">
            Request More Info
            <img src="assets/images/read-more-icon.png" alt="">
          </button>
        </div>
        <app-company-lead-form *ngIf="article?.author?.type == 'company' && !isMobile"
          [companyId]="article?.author?.id">
        </app-company-lead-form>
        <app-similar-articles *ngIf="article" [article]="article"></app-similar-articles>

        <div class="slide-article">
          <button type="button" nz-button class="is-see-more show-more" [nzType]="'primary'" (click)="slideArticle()">
            {{'ShowMore' | translate}}
          </button>
          <button type="button" nz-button class="is-see-more less-more" [nzType]="'primary'" (click)="slideArticle()">
            {{'ShowLess' | translate}}
          </button>
        </div>

        <!-- <div adItem id="playwire-test_ad" type="playwire" adUnit="med_rect_atf"></div> -->

        <!-- <div class="ads-box"
          *ngIf="displayAd && article?.author?.type != 'company' && article?.author?.type != 'charity'">
          <div adItem pointer="div-gpt-ad-1599554597929-0" [author]="article?.author?.slug"
            style="margin: 10px auto; text-align:center;">
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <nz-modal nzWrapClassName=" vertical-center-modal mobile-option-pop-up" nzWidth="70%" nzFooter="null"
    [(nzVisible)]="isVisibleMiddle">
    <div class="mt3GC">
      <button class="aOOlW -Cab_   " tabindex="0" (click)="reportAbuseArticle()">{{'reportAbuseAuth' |
        translate}}</button>
      <button class="aOOlW -Cab_   " tabindex="0" *ngIf="!isFollowing" (click)="follow()">{{'followAuthor' |
        translate}}</button>
      <button class="aOOlW -Cab_   " tabindex="0" *ngIf="isFollowing" (click)="unfollow()">{{'unfollowAuthor' |
        translate}}</button>
      <button class="aOOlW   HoLwm " tabindex="0" (click)="openShareModel()">Share to...</button>
      <!-- <button class="aOOlW   HoLwm " tabindex="0">Copy
        Link</button> -->
      <button class="aOOlW   HoLwm " tabindex="0" (click)="handleCancelMiddle()">Cancel</button>
    </div>
  </nz-modal>


  <div id="share-Modal" class="share-modal" [class.hidden-share]="!showShare">
    <!-- Modal content -->
    <div class="share-modal-content">
      <nz-list class="addthis_toolbox">
        <div id="atstbx" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show"
          role="region">
          <span id="at-58874b62-35e8-461d-a6c4-83824085693f" class="at4-visually-hidden"></span>
          <div class="at-share-btn-elements">
            <nz-list-item>
              <span nz-typography class="addthis_button_facebook"><i nz-icon nzType="facebook"
                  nzTheme="outline"></i></span>
              <a class="at-icon-wrapper at-share-btn at-svc-facebook addthis_button_facebook share-icon-hidden"
                (click)="closeSharepopUp()">Share
                to Facebook</a>
            </nz-list-item>
            <nz-list-item>
              <span nz-typography><i nz-icon nzType="twitter" nzTheme="outline"></i></span>
              <a (click)="closeSharepopUp()"
                class="at-icon-wrapper at-share-btn at-svc-twitter addthis_button_twitter share-icon-hidden">Share to
                Twitter</a>
            </nz-list-item>
            <nz-list-item>
              <span nz-typography><i nz-icon nzType="pushpin" nzTheme="outline"></i></span>
              <a (click)="closeSharepopUp()"
                class="at-icon-wrapper at-share-btn at-svc-pinterest_share addthis_button_pinterest share-icon-hidden">Share
                to
                Pinterest</a>
            </nz-list-item>
            <nz-list-item>
              <span nz-typography><i nz-icon nzType="linkedin" nzTheme="outline"></i></span>
              <a (click)="closeSharepopUp()"
                class="at-icon-wrapper at-share-btn at-svc-linkedin addthis_button_linkedin share-icon-hidden">Share to
                Linkedin</a>
            </nz-list-item>
            <nz-list-item>
              <span nz-typography><i nz-icon nzType="aliwangwang" nzTheme="outline"></i></span>
              <a (click)="closeSharepopUp()"
                class="at-icon-wrapper at-share-btn at-svc-messenger addthis_button_messenger share-icon-hidden">Share
                to
                Messenger</a>
            </nz-list-item>
            <nz-list-item>
              <span nz-typography><i nz-icon nzType="wechat" nzTheme="outline"></i></span>
              <a (click)="closeSharepopUp()"
                class="at-icon-wrapper at-share-btn at-svc-whatsapp addthis_button_whatsapp share-icon-hidden">Share to
                WhatsApp</a>
            </nz-list-item>
            <nz-list-item>
              <span nz-typography><i nz-icon nzType="mail" nzTheme="outline"></i></span>
              <a (click)="closeSharepopUp()"
                class="at-icon-wrapper at-share-btn at-svc-email addthis_button_email share-icon-hidden">Share via
                Email</a>
            </nz-list-item>
            <!-- <nz-list-item>
              <span nz-typography (click)="copyLink()"><i nz-icon nzType="link" nzTheme="outline"></i></span>
              <a (click)="copyLink()" href="javascript:void(0)">Copy Link</a>
            </nz-list-item> -->
            <nz-list-item>
              <span nz-typography (click)="closeSharepopUp()"><i nz-icon nzType="close-circle"
                  nzTheme="outline"></i></span>
              <span (click)="closeSharepopUp()">Close</span>
            </nz-list-item>
          </div>
        </div>
      </nz-list>
    </div>
  </div>
</section>