<section class="is-article-block">
    <div class="container">
        <div class="article-full-img">
            <img src="{{article?.featured_imageObj.image}}" />
        </div>
        <div class="is-article-sec">
            <div class="is-left-profile">
                <div class="sticky-box">
                    <div class="is-profile">
                        <a [routerLink]="['/profile/',article?.authorObj.slug]" itemprop="url">
                            <img class="avatar" src="{{article?.authorObj.avatarObj.image}}"
                                alt="{{article?.authorObj.email}}" />
                        </a>
                    </div>
                    <div class="is-author-name-sec is-divider">
                        <span class="is-author-name" itemprop="author" itemscope="">
                            <a [routerLink]="['/profile/',article?.authorObj.slug]" itemprop="url">
                                <span class="name" itemprop="name">
                                    {{article?.authorObj.first_name+' ' + article?.authorObj.last_name}}</span>
                            </a>
                            <a class="follow-btn">
                                <img src="assets/images/article/icon/follow.png" />
                                {{'follow' | translate}}
                            </a>
                        </span>
                    </div>
                    <div class="is-like-sec is-divider">
                        <a class="is-like" href="" data-toggle="modal" data-target="#modal-login"><img
                                src="assets/images/article/icon/like.png" />{{'like' | translate}} <span
                                class="likes-count">{{articleLikes}}</span></a>
                        <a class="is-bookmark" href=""><img src="assets/images/article/icon/bookmark.png" /></a>
                        <a class="is-dot" href=""><img src="assets/images/article/icon/more.png" /></a>
                    </div>
                    <div class="left-media is-divider">
                        <h3>{{'shareArticle' | translate}}</h3>
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    <div class="is-influencer-btn">
                        <span>
                            Messsenger<br /> Influencer
                        </span>
                    </div>
                </div>
            </div>
            <div class="is-main-article-content">
                <div class="is-content">
                    <div class="is-head">
                        <h2>
                            <a itemprop="mainEntityOfPage" [routerLink]="['/article/',article?.slug]">
                                <span itemprop="headline">
                                    {{article?.title}}
                                </span>
                            </a>
                        </h2>
                        <div class="is-small-profile">
                            <div class="is-image">
                                <a [routerLink]="['/profile/',article?.authorObj.slug]" itemprop="url">
                                    <img class="avatar" alt="{{article?.authorObj.email}}"
                                        src="{{article?.authorObj.avatarObj.image}}" />
                                    <span class="name" itemprop="name">
                                        {{article?.authorObj.first_name+' ' + article?.authorObj.last_name}}</span>
                                </a>
                            </div>
                            <div class="is-date">
                                {{article?.published_at | date:'medium' }}
                                <a class="category cat-purple" [routerLink]="['/category/',article?.categoryObj.slug]">
                                    {{article?.categoryObj.title}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="is-body">
                        <div class="is-paragraph">
                            <p class="big " innerHTML="{{article?.content}}"></p>

                            <p>{{'publishedBy' | translate}} <a [routerLink]="['/profile/',article?.authorObj.slug]" target="_blank"
                                    title="  {{article?.authorObj.first_name+' ' + article?.authorObj.last_name}}">
                                    <span class="name" itemprop="name">
                                        {{article?.authorObj.first_name+' ' + article?.authorObj.last_name}}</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="is-comment-sec">
                    <div class="is-share is-line">
                        <h2>{{'share' | translate}} - </h2>
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    <div class="is-reply-sec">
                        <a name="comments" href="#comments"></a>
                        <h2>{{'comments' | translate}}</h2>
                        <div>
                            <div class="is-comment is-line" *ngFor="let articleComment of articleComments">
                                <div class="is-comment-img">
                                    <img class="avatar"
                                        src="https://mytrendingstories.com/media/photologue/photos/cache/None_04102017091351_author_small.jpg"
                                        alt="travellwithdome@gmail.com" />
                                </div>
                                <div class="is-comment-detail">
                                    <div class="pull-left">
                                        <h4 class="is-comment-user-name">
                                            {{articleComment.username}}
                                            <small class="comment-date"><i>
                                                    {{articleComment?.published_on | date:'medium' }}</i></small>
                                        </h4>
                                    </div>
                                    <div class="pull-right">
                                        <a href="" class="comment-reply-btn" data-id="2763">{{'reply' | translate}}</a> /
                                        <a href="" class="comment-view-replies" data-id="2763">{{'viewReplies' | translate}}</a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p innerHTML="{{articleComment.message}}"> </p>
                                </div>
                            </div>
                            <div class="comment-reply-form">
                                <form id="comment_reply_2763" class="comment_reply">
                                    <div class="form-group">
                                        <h2>{{'replyHere' | translate}}...</h2>
                                    </div>
                                    <div id="div_id_username" class="form-group">
                                        <div class="controls">
                                            <input class="textinput textInput form-control" id="id_username"
                                                maxlength="50" name="username" type="text" placeholder="{{'fullName' | translate}}*">
                                        </div>
                                        <span class="ajax_error" id="error_username_2763"></span>
                                    </div>

                                    <div id="div_id_message" class="form-group">
                                        <div class="controls ">
                                            <textarea class="textarea form-control" cols="40" id="id_message"
                                                maxlength="500" name="message" rows="10"
                                                placeholder="{{'message' | translate}}*"></textarea>
                                        </div>
                                        <span class="ajax_error" id="error_message_2763"></span>
                                    </div>

                                    <div class="captcha-container">
                                        <img src="/en/captcha/image/c43807356495ade5d1553b50284c8f475746efa0/"
                                            alt="captcha" class="captcha"><input id="id_captcha_0" name="captcha_0"
                                            type="hidden" value="c43807356495ade5d1553b50284c8f475746efa0">
                                        <input autocomplete="off" id="id_captcha_1" name="captcha_1" type="text"
                                            class="captcha-input">

                                        <button class="btn js-captcha-refresh" tabindex="-1"><i
                                                class="fas fa-sync-alt"></i></button>
                                        <input type="hidden" value="42300" name="article" class="article_id">
                                        <input type="hidden" value="2763" name="parent" class="parent_id">
                                        <span class="ajax_error" id="error_captcha_2763"></span>
                                    </div>

                                    <div class="form-group">
                                        <input class="is-btn" data-id="2763" type="submit" value="{{'send' | translate}}">
                                    </div>
                                    <div class="hidden comment_form_success">
                                        <p class="text-success">
                                            <b>{{'successMsg' | translate}}</b>
                                        </p>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="is-right-ad-section"></div>
        </div>

    </div>
    <div class="article-related">
        <div class="container">
            <h2>{{'relatedArticle' | translate}}</h2>

            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-card article ">
                        <a href="/en/article/life-choices/">
                            <div class="img-container">
                                <img src="https://mytrendingstories.com//media/photologue/photos/cache/road-nature-lines-country-medium_article_small.jpg"
                                    alt="featured image" />
                            </div>
                            <div class="caption">
                                <h3>
                                    <span>Opinion</span>
                                    Life Choices
                                </h3>
                                <button type="button" class="is-read-more">{{'readMore' | translate}} <img
                                        src="assets/images/read-more-icon-red.png" /></button>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-card article ">
                        <a href="/en/article/let-the-music-play/">

                            <div class="img-container">
                                <img src="https://mytrendingstories.com//media/photologue/photos/cache/music%20art_article_small.jpeg"
                                    alt="featured image" />
                            </div>
                            <div class="caption">
                                <h3><span>Opinion</span>LET THE MUSIC PLAY</h3>
                                <button type="button" class="is-read-more">{{'readMore' | translate}} <img
                                        src="assets/images/read-more-icon-red.png" /></button>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-card article ">
                        <a href="/en/article/mindfulness-impacting-racial-justice/">

                            <div class="img-container">
                                <img src="https://mytrendingstories.com//media/photologue/photos/cache/multi-cultural-face-blog_article_small.jpg"
                                    alt="featured image" />
                            </div>
                            <div class="caption">
                                <h3><span>Opinion</span>Mindfulness Impacting Racial Justice</h3>
                                <button type="button" class="is-read-more">{{'readMore' | translate}} <img
                                        src="assets/images/read-more-icon-red.png" /></button>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-card article ">
                        <a href="/en/article/let-the-music-play/">

                            <div class="img-container">
                                <img src="https://mytrendingstories.com//media/photologue/photos/cache/music%20art_article_small.jpeg"
                                    alt="featured image" />
                            </div>
                            <div class="caption">
                                <h3><span>Opinion</span>LET THE MUSIC PLAY</h3>
                                <button type="button" class="is-read-more">{{'readMore' | translate}} <img
                                        src="assets/images/read-more-icon-red.png" /></button>

                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- <div class="bg-light-gray">
<div class="is-article-main">
    <div class="article-single">
        <div class="article-head">
            <a itemprop="mainEntityOfPage"
                href="https://mytrendingstories.com/en/article/5-techniques-of-writing-a-good-essay/">
                <span itemprop="headline">
                    <h2>5 Techniques of Writing a Good Essay</h2>
                </span>
            </a>

            <div class="article-like-box">
                <form id="form-like" class="form-like" onsubmit="like(event)" action="/en/like/article/42300/">
                    <div class="article-like">

                        <button type="button" class="btn article-like" data-toggle="modal" data-target="#modal-login">
                            <i class="far fa-thumbs-up"></i> Like <span class="likes-count">0</span>
                        </button>

                        <span class="messages-block"></span>
                    </div>
                </form>
            </div>

            
            <div class="addthis_inline_share_toolbox"></div>


            <meta itemprop="datePublished" content="March 15, 2020, 11:43 a.m.">
            <meta itemprop="dateModified" content="March 15, 2020, 11:43 a.m.">

            <span itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="https://mytrendingstories.com/static/dist/images/logo.png">
                </span>
                <meta itemprop="name" content="MY TRENDING STORIES">
            </span>
            <meta itemprop="publisherImprint" content="https://mytrendingstories.com">
            <meta itemprop="publishingPrinciples" content="https://mytrendingstories.com/terms/">


            <img class="featured-img" itemprop="image"
                src="https://mytrendingstories.com/media/photologue/photos/cache/essay%20writing_article_large.jpg"
                alt="essay writings">


            <div class="article-author">
                <div class="info">
                    <div class="author-avatar pull-left">
                        <a href="/en/profile/dawn-richard/" itemprop="url">
                            <img class="avatar"
                                src="https://mytrendingstories.com/media/photologue/photos/cache/None_04102017091351_author_small.jpg"
                                alt="travellwithdome@gmail.com" />
                        </a>
                    </div>
                    <div class="author-name pull-left">
                        <span class="is-author-name" itemprop="author" itemscope="" itemtype="//schema.org/Person">
                            <a href="/en/profile/dawn-richard/" itemprop="url">
                                <span class="name" itemprop="name">Dawn Richard</span>
                            </a>
                            <a href="/accounts/signup/" class="follow-btn-sm"><i class="fas fa-user-plus"></i>Follow</a>
                        </span>
                    </div>
                    <span class="article-author-date pull-right">
                        <i class="far fa-clock"></i> March 15, 2020, 11:43 a.m. in
                        <a class="category cat-purple" href="/en/category/Opinion/">
                            Opinion
                        </a>
                    </span>
                    <br><span class="pull-right"> Views: 130 </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="article-like" style="display:none;">
                <span class="article-like-title">Like us on facebook</span>

                <div class="fb-like">
                    <iframe
                        src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMytrendingstories-1537454709805166%2F&amp;width=62&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=65&amp;appId"
                        width="62" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowtransparency="true"></iframe>
                </div>
            </div>
        </div>


        <div class="article-body" itemprop="articleBody">
            <p>Writing essays is a useful occupation, although not all students like to do it. Essays are universal
                academic
                tasks that can be performed on any topic and in any style. The main feature of this kind of written work
                is
                that the author can express own thoughts and personal opinions on some issue in this way. The ability to
                analyze, find proofs and express personal thoughts in writing lies at the heart of writing any academic
                copy, including an essay.</p>

            <p>However, despite some freedom of creativity, writing in the essay genre is not an easy task, since the
                author
                has to find an original idea and present a non-standard view of any problem, even the most common one.
                This
                written work assumes a methodological analysis and assessment of a specific topic or issue.</p>

            <p>A professional essay writing service could advise to describe and present several positions or points of
                view. Further, based on them, a conclusion should be drawn, which will reflect the well-informed opinion
                of
                the author. So, if you wonder “<a href="https://writemyessaytoday.us/" target="_blank">How to write my
                    essay</a>?” — some techniques are required to be followed for writing a competent and
                interesting-to-read essay.</p>

            <p><strong>1. Pay Attention to the Task</strong></p>

            <p>You may ask: “What help write my essay?” It is recommended to start work on an essay with a careful
                reading
                of its title or assignment. What are you invited to do? What is required of you? What needs to be
                described,
                compared, and discussed? What is the central question being asked? Often, the preparation for writing an
                essay looks like a conversation out loud or a manifestation of imaginative thinking.</p>

            <p>When writing an essay, it is easy to fall into one of two extremes — describing the facts without
                subjective
                interpretation, or vice versa, presenting your personal opinion not backed up with the evidence. A <a
                    href="https://handmadewriting.com/" target="_blank">professional essay writing service</a> claims
                that
                the art of writing an essay consists in finding this balance. You have to express your position,
                logically
                lead to it, and reinforce it with rational and objective arguments.</p>

            <p>Before writing an essay, you always need to formulate what you think about the problem, what your
                position
                is, and what idea you are going to protect. So, it is essential to organize your thoughts and develop
                your
                personal attitude towards the given issue.</p>

            <p><strong>2. Collect Relevant Information and Sort It Through</strong></p>

            <p>Next comes the turn of material selection. Refer to the literature and try to get a rough picture of what
                you
                are going to write. If your essay assumes an analysis of a large number of sources, it is worth starting
                to
                collect information and read the relevant literature. For that, it is better to have a margin of time.
            </p>

            <p>You may ask: “Do I need to read many books?” It is not enough to just read them for choosing the right
                material for an essay. Most importantly, it is analyzing and organizing the information collected.
                Opening
                up the issue means understanding what the essence of the matter is.</p>

            <p>Use all the available information. Do not ignore particular ideas that you heard during training sessions
                or
                read in different sources. Reading newspapers, browsing magazines, and watching TV programs can be
                useful.
                You can get helpful information, even talking with friends. Carry a notebook with you to write down all
                your
                ideas and essential arguments. Separately take notes about authors and titles of publications you read.
            </p>

            <p><strong>3. Make an Outline of Your Essay</strong></p>

            <p>Based on the information collected, you can begin to think about the outline of your upcoming text. At
                this
                point, you need to analyze and work out the detailed structure of your essay. Although drawing up a plan
                takes time, planning helps control your writing and stay on the topic. With it, you can also briefly,
                coherently, and logically state your thoughts.</p>

            <p>The plan should include the main points you are going to raise. Make sure you understand what parts your
                copy
                should have. An essay typically consists of three parts — introduction, discussion, and conclusion. In
                the
                introduction, you describe the issue and its context, and also briefly talk about the direction of your
                reasoning. Here, you better explain how you understand the problem in your own words. Remember that you
                do
                not have to write a whole book. It is enough to clearly explain what you are going to write about to
                your
                readers.</p>

            <p>In the second part, you will present the arguments and proofs for your point of view. You need to reveal
                the
                main content of your work. It is necessary to give examples, consistently move from one thought to
                another,
                and not deviate from the disclosure of the main idea. The presentation and the discussion of the issue
                should be logical and consistent.</p>

            <p>The conclusion will summarize the ideas presented in the main part and demonstrate that you answered the
                primary question. The final part of your essay should be written as the result of logical reasoning. It
                is
                appropriate to express your own opinion on the issue. Well, the outline is done, and it can be changed
                then.
            </p>

            <p><strong>4. Consider the Essay Structure and Write the Text</strong></p>

            <p>So, the material is collected, the main ideas are formulated, and the essay plan is designed. Following
                this
                three-part frame, you can start writing. It is possible to begin with any part. Some students prefer to
                have
                a written discussion first and then take on both an introduction and a conclusion. Others write all
                parts in
                sequence.</p>

            <p>The main point is to try writing concisely and devote each paragraph to one idea. Do not use complex
                sentences. Also, avoid any plagiarism and write an essay on your own. For composing your essay
                correctly,
                think over each paragraph, and answer the following questions:</p>

            <ul>
                <li>How can these paragraphs be arranged not to disrupting the logical structure of your essay?</li>
                <li>o you need subheadings for your essay to help the reader?</li>
            </ul>

            <p><strong>5. Finalize Your Work</strong></p>

            <p>At this stage, all you can do is proofreading and editing the already written text. Some students write
                several variants of essays. Then, they choose the most successful option. When it is done, check if you
                answered the main question. Maybe, it is worth inverting some fragments for presenting proofs in a
                better
                way. Also, you may need to shorten the text to meet the established word limit. Correct both stylistic
                and
                grammatical mistakes. When you finish writing your essay, answer the following questions for yourself:
            </p>

            <ul>
                <li>Is the primary goal of the written work reached?</li>
                <li>Are the arguments stated correctly?</li>
                <li>Have you used all the information sources you have?</li>
                <li>Is your point of view correctly presented in the essay?</li>
                <li>What experience did you gain when you were working on your essay?</li>
            </ul>

            <p>At the end of the essay, be sure to give a list of the literature you used. After you write an essay and
                check it, it is advised to read it aloud. A good text is often read in one go. Those who think straight,
                write clearly. Finally, you can offer your friend to read this essay and find out his or her opinion. A
                fresh look never hurts.</p>


            <p>Published by <a href="/en/profile/dawn-richard/" title="Dawn Richard" target="_blank">Dawn Richard</a>
            </p>
        </div>


        <div class="article-share">
            <h2>Share</h2>
            <div class="addthis_inline_share_toolbox"></div>
        </div>


        <div class="article-comments">

            <a name="comments" href="#comments"></a>
            <h2>Comments</h2>
            <div class="custom_comments_42300 custom_comments">

                <div id="comment_id_2763" class="custom_comments_item">
                    <h4 class="pull-left is-comment-user-name">Eric Desuza</h4>
                    <div class="pull-right comment-reply">

                        <a href="" class="comment-reply-btn" data-id="2763">reply</a> /
                        <a href="" class="comment-view-replies" data-id="2763">view replies (0)</a>

                    </div>
                    <div class="clearfix"></div>
                    <small class="comment-date"><i>March 17, 2020, 1:09 a.m.</i></small>
                    <p>Hi david,

                        excellent pieces. keep posting such kind of info on your site.
                        i am really impressed by it. i also want to share these types of info in my articles but i don't
                        have enough followers. so if you give me a follow back then it would be a big favor to me.

                        kind regards,
                        eric</p>
                    <div class="comment-reply-form">
                        <form id="comment_reply_2763" class="comment_reply">
                            
                            <div>
                                <div id="div_id_username" class="form-group">
                                    <label for="id_username" class="control-label  requiredField">
                                        Full Name<span class="asteriskField">*</span>
                                    </label>

                                    <div class="controls ">
                                        <input class="textinput textInput form-control" id="id_username" maxlength="50"
                                            name="username" type="text">
                                    </div>
                                </div>



                                <span class="ajax_error" id="error_username_2763"></span>

                                <div id="div_id_message" class="form-group">
                                    <label for="id_message" class="control-label  requiredField">
                                        Message<span class="asteriskField">*</span>
                                    </label>

                                    <div class="controls ">
                                        <textarea class="textarea form-control" cols="40" id="id_message"
                                            maxlength="500" name="message" rows="10"></textarea>
                                    </div>
                                </div>

                                <span class="ajax_error" id="error_message_2763"></span>

                                <div class="captcha-container">

                                    <img src="/en/captcha/image/c43807356495ade5d1553b50284c8f475746efa0/" alt="captcha"
                                        class="captcha"><input id="id_captcha_0" name="captcha_0" type="hidden"
                                        value="c43807356495ade5d1553b50284c8f475746efa0">
                                    <input autocomplete="off" id="id_captcha_1" name="captcha_1" type="text" class="captcha-input">

                                    <button class="btn js-captcha-refresh" tabindex="-1"><i class="fas fa-sync-alt"></i></button>
                                    <input type="hidden" value="42300" name="article" class="article_id">
                                    <input type="hidden" value="2763" name="parent" class="parent_id">
                                    <span class="ajax_error" id="error_captcha_2763"></span>
                                </div>
                            </div>

                            <input class="comment_reply_btn_id btn btn-primary" data-id="2763" type="submit"
                                value="Send">
                            <div class="hidden comment_form_success">
                                <p class="text-success">
                                    <b>Your comment was successful.</b>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="comment-child children_of_2763">

                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>


        <div class="article-related">
            <h2>Related Article</h2>

            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="item-card article ">
                        <a href="/en/article/life-choices/">
                            <div class="img-container">

                                <img src="https://mytrendingstories.com//media/photologue/photos/cache/road-nature-lines-country-medium_article_small.jpg"
                                    alt="featured image" />

                            </div>
                            <div class="caption">
                                <div class="item-card-cat ">
                                    <p class="category cat-purple">
                                        Opinion
                                    </p>
                                </div>
                                <h3>Life Choices</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="item-card article ">
                        <a href="/en/article/let-the-music-play/">

                            <div class="img-container">
                                <img src="https://mytrendingstories.com//media/photologue/photos/cache/music%20art_article_small.jpeg"
                                    alt="featured image" />
                            </div>
                            <div class="caption">
                                <div class="item-card-cat ">
                                    <p class="category cat-purple">
                                        Opinion
                                    </p>
                                </div>
                                <h3>LET THE MUSIC PLAY</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="item-card article ">
                        <a href="/en/article/mindfulness-impacting-racial-justice/">

                            <div class="img-container">
                                <img src="https://mytrendingstories.com//media/photologue/photos/cache/multi-cultural-face-blog_article_small.jpg"
                                    alt="featured image" />
                            </div>
                            <div class="caption">
                                <div class="item-card-cat ">
                                    <p class="category cat-purple">
                                        Opinion
                                    </p>
                                </div>
                                <h3>Mindfulness Impacting Racial Justice</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div> -->