::ng-deep .nz-rating-sec{
    .ant-rate-star-full{
        .ant-rate-star-second{
            svg{
                fill:#20a739;
            }
        }
        .ant-rate-star-first{
            svg{
                fill:#20a739;
            }
        }
    }
}

::ng-deep .nz-rating-sec{
    .ant-rate-star-half{
        .ant-rate-star-first{
            svg{
                fill:#20a739;
            }
        }
    }
}