<section class="border-box-sec">
    <div class="container">
        <div class="border-box">
            <div class="banner-sec">
                <a href="{{'newsletterLink' | translate}}" target="_blank">
                    <img src="assets/images/backoffice/newsletter-banner.jpg" alt="Newsletter Banner" >
                    <div class="banner-content">
                        <h2>{{'newsletterBannerTitle' | translate}}</h2>
                        <button type="button" class="banner-btn">{{'newsletterBannerBtn' | translate}}</button>
                    </div>
                </a>
            </div>
            <div class="border-box-content">
                <h2>{{'newsletterh2' | translate}}</h2>
                <p>{{'newsletterp1' | translate}}</p>
                <p>{{'newsletterp2' | translate}}</p>
                <p>{{'newsletterp3' | translate}}</p>
                <ul>
                    <li>{{'newsletterli1' | translate }}</li>
                    <li>{{'newsletterli2' | translate }}</li>
                    <li>{{'newsletterli3' | translate }}</li>
                    <li>{{'newsletterli4' | translate }}</li>
                    <li>{{'newsletterli5' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
