<section class="is-service-block" *ngIf="politician">
    <div class="container">
      <div class="mobile-service-detail">
        <div class="xs-service-author-detail">
          <div class="xs-service-name">
            <a [routerLink]="[getServiceUrl(politician),politician?.author?.slug]" itemprop="url" *ngIf="politician">
              {{politician?.author?.fullname}}
            </a>
          </div>

          <div class="comment-section">
            <ul>
              <li *ngIf="politicianVicewCount">
                <a class="is-like">
                  <span class="likes-count">
                    <i class="fas fa-eye"></i>{{politicianVicewCount}}
                  </span>
                </a>
              </li>
              <li>
                <a class="is-like" *ngIf="!isLike" (click)="like()">
                  <i class="far fa-thumbs-up"></i>
                  {{'like' | translate}} <span class="like-count" *ngIf="politicianLikes">{{politicianLikes}}</span>
                </a>
                <a class="is-like" *ngIf="isLike" (click)="disLike()">
                  <i class="fas fa-heart"></i>
                  {{'liked' | translate}} <span class="like-count">{{politicianLikes}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="xs-service-date">{{politician?.published_at | date:'medium' }}</div>
      </div>
      <div class="service-full-img">
        <img src="{{replaceImage(politician?.image?.url)}}" alt="{{politician.image.alt}}"
          *ngIf="!(politician.image.cloudinary_id); else serviceFullimg" />
        <ng-template #serviceFullimg>
          <cl-image loading="lazy" public-id="{{replaceImage(politician.image.cloudinary_id)}}" secure="true">
            <cl-transformation width="1500" height="400" gravity="face" crop="thumb">
            </cl-transformation>
          </cl-image>
        </ng-template>
      </div>
      <div class="is-service-sec">
        <div class="is-left-profile hidden-on-xs">
          <div class="sticky-box">
            <div class="is-profile">
              <a [routerLink]="[getServiceUrl(politician),politician?.author?.slug]" itemprop="url" *ngIf="politician">
                <img class="avatar" src="{{replaceImage(politician?.author?.avatar?.url)}}"
                  alt="{{politician?.author?.avatar?.alt}}" onerror="this.src='assets/images/default-avatar.png'"
                  *ngIf="!(politician.author.avatar.cloudinary_id); else authorImg" />
                <ng-template #authorImg>
                  <cl-image loading="lazy" public-id="{{replaceImage(politician.author.avatar.cloudinary_id)}}"
                    secure="true">
                    <cl-transformation width="140" height="140" gravity="face" crop="thumb">
                    </cl-transformation>
                  </cl-image>
                </ng-template>
              </a>
              <app-service-avatar [article]="politician"></app-service-avatar>
            </div>

            <div class="is-author-name-sec is-divider">
              <span class="is-author-name" itemprop="author" itemscope="">
                <a [routerLink]="[getServiceUrl(politician),politician?.author?.slug]" itemprop="url" *ngIf="politician">
                  <span class="name" itemprop="name">
                    {{politician?.author?.fullname}}</span>
                </a>
                <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                  <img src="assets/images/article/icon/follow.png" />
                  {{'followAuthor' | translate}}
                </a>
                <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                  <img src="assets/images/article/icon/un-follow.png" />
                  {{'unfollowAuthor' | translate}}
                </a>

                <div class="login-popup" *ngIf="!isLoggedInUser">
                  <nz-modal [(nzVisible)]="isVisible" nzTitle="My Trending Stories" (nzOnCancel)="handleCancel()"
                    (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
                    <div class="popup-content">
                      <div>
                        <a [routerLink]="['/']" class="bg-logo">
                          <img src="assets/images/logo/logo-circle.png" alt="My Trending Stories">
                        </a>
                      </div>
                      <p class="text-black">{{'Please' | translate}}, <a routerLink="/auth/login">{{'logInTitle' |
                          translate}}</a>
                        {{'or' | translate}} <a routerLink="/auth/signup">{{'signUp' | translate}}</a>
                        {{'toContinue' | translate}}.</p>

                    </div>
                  </nz-modal>
                </div>
              </span>
            </div>

            <div class="is-like-sec is-divider">
              <a class="is-like" *ngIf="!isLike" (click)="like()">
                <i class="far fa-thumbs-up"></i>
                {{'like' | translate}} <span class="like-count" *ngIf = "politicianLikes">{{politicianLikes}}</span>
              </a>
              <a class="is-like" *ngIf="isLike" (click)="disLike()">
                <i class="fas fa-heart"></i>
                {{'liked' | translate}} <span class="like-count">{{politicianLikes}}</span>
              </a>
              <a class="is-like"><span class="likes-count"><i class="fas fa-eye"></i>{{politicianVicewCount}}</span></a>
            </div>
            <div class="left-media is-divider">
              <section class="is-followers-sec" *ngIf="followers.length">
                <div class="container">
                  <div class="is-comman-title">

                    {{'profileFollowers' | translate}} {{folnum}}

                  </div>
                  <div class="is-followers-user">
                    <div class="is-followers-item" *ngFor="let follower of followers">

                      <a [routerLink]="['/',follower.slug]">
                        <img src="{{replaceImage(follower?.avatar?.url)}}"
                          onerror="this.src='assets/images/default-avatar.png'" alt="{{follower?.avatar?.alt}}" />
                      </a>
                    </div>
                  </div>
                </div>
              </section>
              <a href="{{bookingURL}}/?slug={{userSlug}}" itemprop="url" nz-button
                class="is-see-more show-more" [nzType]="'primary'">
                {{'Bookingser' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="is-main-service-content">
          <div class="is-content">
            <div class="is-head hidden-on-xs">
              <h2>
                <a itemprop="mainEntityOfPage" [routerLink]="['/',politician?.slug]" *ngIf="politician">
                  <span itemprop="headline">
                    {{politician?.title}}
                  </span>
                </a>
              </h2>
              <div class="is-small-profile">
                <div class="is-image">
                  <a [routerLink]="[getServiceUrl(politician),politician?.author?.slug]" itemprop="url" *ngIf="politician">
                    <img class="avatar" alt="{{politician?.author?.avatar?.alt}}"
                      src="{{replaceImage(politician?.author?.avatar?.url)}}"
                      onerror="this.src='assets/images/default-avatar.png'"
                      *ngIf="!(politician.author.avatar.cloudinary_id); else CateAvatarCloudinoryImg" />
                    <ng-template #CateAvatarCloudinoryImg>
                      <div class="hide-feature-img d-inline-block">
                        <app-cloudinary-img [article]="politician"></app-cloudinary-img>
                      </div>
                    </ng-template>
                    <span class="name" itemprop="name">
                      {{politician?.author.fullname}}</span>
                  </a>
                </div>
                <div class="is-date">
                  {{politician?.published_at | date:'medium' }}
                </div>
              </div>
              <div class="city">
                <h3>{{politician?.country}} {{politician?.city}}</h3>
              </div>
            </div>
            <div class="is-body">
              <div *ngIf="politicianType === VIDEO" class="main-video-sec">
                <h5 *ngIf="politician.politician_file.name" class="font-weight-bold">{{politician.politician_file.name}}</h5>
                <cl-video *ngIf="politician.politician_file.cloudinary_id" [public-id]="politician.politician_file.cloudinary_id" secure="true" controls="true"
                  class="cld-video"></cl-video>
                  <div class="row pt-3" *ngIf="politician.politician_file.name">

                  </div>
                  <div class="is-line" *ngIf="politician.politician_file.name"></div>
                  <div *ngFor="let file of files">
                    <h5 class="font-weight-bold">{{file.name}}</h5>
                    <cl-video [public-id]="file.cloudinary_id" secure="true" controls="true"
                    class="cld-video"></cl-video>
                    <div class="row pt-3" *ngIf="file.name">

                    </div>
                    <div class="is-line"></div>
                  </div>
                <div class="video-control">
                  <ul>
                    <li>
                      <a>
                        <service-interaction [article]="politician"></service-interaction>
                      </a>
                    </li>
                    <li>
                      <a>
                        <img src="assets/images/video/icon/point.png" alt="" class="bullet">
                        {{ getRelativeDate(politician.published_at) }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div *ngIf="politicianType === AUDIO" class="main-audio-sec">
                <h5 class="font-weight-bold" *ngIf="politician.politician_file.name">{{politician.politician_file.name}}</h5>
                <img *ngIf="politician.politician_file.name" class="pb-4" src="../../../assets/imagess/wave.png" alt="">
                <audio controls class="w-100" *ngIf="politician.politician_file.url">
                  <source [src]="politician.politician_file.url" type="audio/mpeg">
                  Your browser does not support the audio tag.
                </audio>
                <div class="row pt-3" *ngIf="politician.politician_file.name">
                  <div class="col-auto align-self-center ml-4">

                  </div>
                  <div class="col-auto ml-4 mr-2">

                  </div>
                  <div class="col-auto align-self-center">

                  </div>
                </div>
                <div class="is-line" *ngIf="politician.politician_file.name"></div>
                <div *ngFor="let file of files; index as i" class="pt-2">
                  <h5 class="font-weight-bold">{{file.name}}</h5>
                  <img class="pb-4" src="../../../assets/imagess/wave.png" alt="">
                  <audio controls class="w-100">
                    <source [src]="file.url" type="audio/mpeg">
                    Your browser does not support the audio tag.
                  </audio>
                  <div class="row pt-3">
                    <div class="col-auto align-self-center ml-4">

                    </div>
                    <div class="col-auto ml-4 mr-2">

                    </div>
                    <div class="col-auto align-self-center">

                    </div>
                  </div>
                  <div class="is-line"></div>
                </div>
              </div>
              <div *ngIf="politicianType === TEXT" class="is-paragraph">
                <p class="big " innerHTML="{{politician?.content}}"></p>
                <p class="hidden-on-xs">
                  {{'publishedBy' | translate}}
                  <a [routerLink]="['/profile/',politician?.author?.slug]" target="_blank"
                    title="  {{politician?.author.fullname}}" *ngIf="politician">
                    <span class="name" itemprop="name">
                      {{politician?.author.fullname}}</span>
                  </a>
                </p>
                <div class="xs-service-publish">
                  <div class="xs-service-publisher-img">
                    <a [routerLink]="[getServiceUrl(politician),politician?.author?.slug]" itemprop="url" *ngIf="politician">
                      <img class="avatar" alt="{{politician?.author?.avatar?.alt}}"
                        src="{{replaceImage(politician?.author?.avatar?.url)}}"
                        onerror="this.src='assets/images/default-avatar.png'"
                        *ngIf="!(politician.author.avatar.cloudinary_id); else CateAvatarCloudinoryImg" />
                      <ng-template #CateAvatarCloudinoryImg>
                        <div class="hide-feature-img d-inline-block">
                          <app-cloudinary-img [article]="politician"></app-cloudinary-img>
                        </div>
                      </ng-template>
                      <app-service-avatar [article]="politician"></app-service-avatar>
                    </a>
                  </div>
                  <div class="xs-articl-publisher-name">
                    {{'WrittenBy' | translate}}
                    <a [routerLink]="['/profile/',politician?.author?.slug]" target="_blank"
                      title="  {{politician?.author.fullname}}" *ngIf="politician">
                      <span class="name" itemprop="name">
                        {{politician?.author.fullname}}</span>
                    </a>
                    <div>
                      <a class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                        {{'followAuthor' | translate}}
                      </a>
                      <a class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                        {{'unfollowAuthor' | translate}}
                      </a>
                    </div>
                  </div>
                </div>
                <p class="report-abuse-spin" *ngIf="isLoggedInUser">
                  <a class="comment-view-replies" (click)="reportAbuseService()">
                    <nz-spin nzSimple [nzSize]="'small'" *ngIf="isReportAbuseServiceLoading"></nz-spin>
                    {{'reportAbuseAuth' | translate}}
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="form-contactus">
            <div>
              <button class="request-info-btn" (click)="politicianMoreInfo()">
                Request More Info
                <img src="assets/images/read-more-icon.png" alt="">
              </button>
            </div>
            <app-politician-contact-form *ngIf="politicianId" [politicianId]="politicianId"></app-politician-contact-form>
          </div>

        </div>
        <div class="is-right-ad-section" [ngClass]="SlideRelatedService ? 'removeSlide' : 'openSlideService'">

          <app-company-lead-form *ngIf="politician?.author?.type == 'company'" [companyId]="politician.author.id">
          </app-company-lead-form>

          <app-charity-donate-form *ngIf="politician?.author?.type == 'charity'" [charityId]="politician.author.id">
          </app-charity-donate-form>

          <app-similar-services *ngIf="politician" [service]="politician"></app-similar-services>

          <div class="slide-service">
            <button type="button" nz-button class="is-see-more show-more" [nzType]="'primary'" (click)="slideService()">
              {{'ShowMore' | translate}}
            </button>
            <button type="button" nz-button class="is-see-more less-more" [nzType]="'primary'" (click)="slideService()">
              {{'ShowLess' | translate}}
            </button>
          </div>

          <div adItem id="playwire-test" type="playwire" adUnit="med_rect_atf" style="width: 300px; height: 600px;">
          </div>

          <div class="ads-box">
            <div adItem id="div-gpt-ad-1599554597929-0" style="width: 300px; height: 600px;"></div>
          </div>
        </div>
      </div>

    </div>
  </section>
