<div class="container">
    <div class="social-sharing-sec">
        <nz-steps [nzCurrent]="current">
            <nz-step nzTitle="Create"></nz-step>
            <nz-step nzTitle="Select Network"></nz-step>
            <nz-step nzTitle="Schedule"></nz-step>
          </nz-steps>
      
          <div class="steps-content">
              <div class="step-1" *ngIf="current === 0">
                <form nz-form [formGroup]="postForm">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="{{ 'postTitleErr' | translate }}">
                      <input formControlName="title" type="text" nz-input placeholder="Title" />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="{{ 'postTextErr' | translate }}">
                      <textarea formControlName="post_text" nz-input rows="4" placeholder="Type your message here..."></textarea>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control [nzSpan]="7" nzErrorTip="{{ 'postStoryErr' | translate }}">
                      <nz-select formControlName="story_url" nzAllowClear nzPlaceHolder="Select Story">
                        <nz-option-group nzLabel="My Stories" *ngIf="articleList?.currentUser">
                          <nz-option *ngFor="let item of articleList?.currentUser" [nzValue]="getStoryURL(item)" [nzLabel]="item.title"></nz-option>
                        </nz-option-group>
      
                        <nz-option-group nzLabel="Companies Stories" *ngIf="articleList?.companies">
                          <nz-option [nzValue]="getStoryURL(companyStory)" [nzLabel]="companyStory.title" *ngFor="let companyStory of articleList?.companies"></nz-option>
                        </nz-option-group>
      
                        <nz-option-group nzLabel="Charities Stories" *ngIf="articleList?.charities">
                          <nz-option [nzValue]="getStoryURL(charityStory)" [nzLabel]="charityStory.title" *ngFor="let charityStory of articleList?.charities"></nz-option>
                        </nz-option-group>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </form>
                   
                <!-- <div class="content-type-btn">
                    <button class="custom-btn" nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="font-size" nzTheme="outline"></i></button>
                    <button class="custom-btn" nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="camera" nzTheme="outline"></i></button>
                    <button class="custom-btn" nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="code" nzTheme="outline"></i></button>
                </div> -->

                <nz-upload nzType="drag" [nzMultiple]="true" [nzLimit]="1" [nzBeforeUpload]="beforeUpload" [nzShowUploadList]="false">
                  <ng-container *ngIf="!articleImage">
                    <div *ngIf="!loading">
                      <p class="ant-upload-drag-icon">
                        <i nz-icon nzType="inbox"></i>
                      </p>
                      <p class="ant-upload-text">{{'artImageMessage1' | translate}}</p>
                      <p class="ant-upload-hint">
                        {{'artImageMessage2' | translate}}
                      </p>
                      <div class="ant-upload-text">{{'artImageUpload' | translate}}</div>
                    </div>
                    <i class="upload-icon" *ngIf="loading" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                  </ng-container>
                  <img *ngIf="articleImage" [src]="articleImage" style="width: 100%" />
                </nz-upload>

              </div>
              <div class="step-2"  *ngIf="current === 1">
                <div class="select-social-btn mb-4">
                    <button type="button" class="custom-btn">Social Profiles</button>
                    <button type="button" class="custom-btn">Categories</button>
                </div>
                <nz-table  #borderedTable nzBordered>
                    <thead>
                        <tr>
                            <th class="text-align">My Social Networks</th>
                        </tr>
                     
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                           <a href="">
                            <div class="social-network-info">
                                <div class="social-icon"><i nz-icon nzType="linkedin" nzTheme="outline"></i></div>
                                <div class="network-name">LinkedIn:</div>
                                <div class="network-user-name">Rohit Kumar</div>
                             </div>
                           </a>
                        </td>
                        
                      </tr>
                 
                    </tbody>
                  </nz-table>  
                    
            </div>
            <div class="step-3"  *ngIf="current === 2" [ngClass]="current">
                <form nz-form>
                    <nz-form-item>
                      <nz-form-label>Time Zone</nz-form-label>
                      <nz-form-control>
                        <input nz-input type="text" />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label>Select Date & time</nz-form-label>
                        <nz-form-control>
                            <nz-date-picker [nzSpan]="14" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-control>
                            <button nz-button class="custom-btn mr-2" nzType="default">Add more date & time </button>
                            <button nz-button class="custom-btn btn-red" nzType="default">Generate Schdule</button>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label>Time lag (Minutes)</nz-form-label>
                        <nz-form-control>
                          <input nz-input type="text" />
                          <small class="d-block">(Time interval between two successive posts)</small>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-control>
                          <label nz-checkbox>
                            <span>Send me a report regarding the delivery status of this post via email</span>
                          </label>
                        </nz-form-control>
                      </nz-form-item>
                  </form>
            </div>
          </div>
          <div class="steps-action">
            <button nz-button class="custom-btn btn-grey" nzType="default" (click)="pre()" *ngIf="current > 0">
              <span>Previous</span>
            </button>
            <button nz-button class="custom-btn" nzType="default" (click)="next()" [nzLoading]="isFormSaving" *ngIf="current < 2">
              <span>Next</span>
            </button>
            <button nz-button class="custom-btn btn-red" nzType="primary" (click)="done()" [nzLoading]="isFormSaving" *ngIf="current === 2">
              <span>Post</span>
            </button>
          </div>
    </div>
</div>
