.social-sharing-sec{
    border: 0px;
    background: #fff;
    padding: 15px;
    border: 1px solid #eee;
    margin: 20px 0px;
    .steps-content {
        margin-top: 20px;
        min-height: 250px;
        .form-group{
            .form-control{
                width:100%;
                height: 40px;
                padding:10px;
                margin-bottom: 20px;
                border: 1px solid #eee;
                &:focus{
                    outline: none;
                }
            }
            textarea{
                height: 140px !important;
            }
        }
      }

      .steps-action {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        .custom-btn{
            padding:10px 20px;
            margin-right:10px;
        }
      }

    
      .custom-btn{
        padding:7px 14px;
        font-size:13px;
        background: #5cb85c !important;
        color: #fff;
        border:0px !important;
        cursor: pointer;
        &.black-btn{
            background-color: #000 !important;
            color: #fff;
        }
        &.btn-red{
            background:#d9534f !important;
        }
        &.btn-grey{
            background:#ccc !important;
        }
        &:focus{
            border: 0px !important;
        }
    }
    .content-type-btn{
        margin-top:20px;
        margin-bottom: 20px;
        .custom-btn{
            text-align: center;
            display: inline-flex;
            justify-content: center;
            background: #001528 !important;
            width: 40px;
            height: 40px;
            align-items: center;
            margin-right:10px;
            i{
                font-size:20px;
            }
        }
    }
    .select-social-btn{
        .custom-btn{
        margin-right:10px;
        background: #001528 !important;
        }
    }
    .social-network-info{
        display: flex;
        align-items: center;
        .social-icon{
            margin-right: 10px;
            i{
                font-size: 20px;
                color: #3b5998;
            }
        }
        .network-name{
            font-size:18px;
            color: #3b5998;
            margin-right: 10px;
        }
        .network-user-name{
            font-size:18px;
            color: #3b5998;
        }
    }
}
