<section>
    <div class="container">
        <div class="campaign-manager-sec">
            <div class="is-comman-title">
                Campaigns
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>

            <div class="card-sec">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="item-card">
                            <a href="#" routerLink="../sponsored-post">
                                <div class="item-card-image">
                                    <img src="assets/images/campaign/post-2.jpg" alt="">
                                </div>
                                <div class="item-card-content">
                                    <div class="item-card-title">
                                        <h4 class="item-long-title">Sponsored Post</h4>
                                    </div>
                                    <div class="item-card-texte">
                                        <p>Get your article promoted on home page</p>
                                        <button type="button" class="is-read-more">Read More<img
                                                src="assets/images/read-more-icon.png" alt="Read More" /></button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="item-card">
                            <a href="#" routerLink="../sponsored-contributor">
                                <div class="item-card-image">
                                    <img src="assets/images/campaign/contributor.jpeg" alt="">
                                </div>
                                <div class="item-card-content">
                                    <div class="item-card-title">
                                        <h4 class="item-long-title">Top Contributors</h4>
                                    </div>
                                    <div class="item-card-texte">
                                        <p>Be part of the 10 contributors displayed on home page</p>
                                        <button type="button" class="is-read-more">Read More<img
                                                src="assets/images/read-more-icon.png" alt="Read More" /></button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="item-card">
                            <a href="#" routerLink="../search-engine">
                                <div class="item-card-image">
                                    <img src="assets/images/campaign/search-engine.jpg" alt="">
                                </div>
                                <div class="item-card-content">
                                    <div class="item-card-title">
                                        <h4 class="item-long-title">Search Engine ads</h4>
                                    </div>
                                    <div class="item-card-texte">
                                        <p>Stand out from the competition with your logo in the search engine page</p>
                                        <button type="button" class="is-read-more">Read More<img
                                                src="assets/images/read-more-icon.png" alt="Read More" /></button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>