 
      
.is-comman-title {
  color: #000;
  padding: 30px 0px 10px 0px;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  text-align: center;
  font-family: "josefin_sanssemibold";
  position: relative;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 1px;
    background: #000;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width:580px) {
  .is-comman-title {
    font-size: 24px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width:581px) and (max-width:768px) {
  .is-comman-title {
      font-size: 28px;
      margin-bottom: 0px;
  }
}
img {
    max-width: 100%;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h1, .h1 {
    font-size: 50px;
    color: white;
}
  .bottom-ad-container {
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
  }
  .article-full-img {
    position: relative;
    margin-bottom: 40px;
  }
  hr {
    border-top: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .is-followers-sec {
    background: #fff;
    
    .is-followers-user {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .is-followers-item {
        margin: 0px 20px 20px 20px;
        img {
          width: 140px;
          height: 140px;
          border: 3px solid #000;
          border-radius: 100%;
          object-fit: cover;
          background: #ff4020;
        }
      }
    }
  }
  .article-full-img::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
   // background: rgba(0, 0, 0, 0.5);
  }
  
  .article-full-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .is-article-block {
    background: #fff;
  
    .is-article-sec {
      display: flex;
      flex-wrap: wrap;
  
      .sticky-box {
        position: sticky;
        top: 70px;
        background-color: #fff;
        padding: 20px;
      }
  
      .is-left-profile {
        width: calc(100% - (700px + 25%));
      }
        .is-profile {
          text-align: center;
          position: relative;
          width: 140px;
          margin: auto;
  
          a {
            display: inline-block;
  
            img {
              width: 140px;
              height: 140px;
              border-radius: 100%;
              margin: auto;
              object-fit: cover;
              background: #f5f5f5;
            }
          }
          .special-icon {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 50px;
            height: 50px;
            background: #000;
            border: 1px solid #fff;
            display: flex;
            border-radius: 100%;
            img {
              max-width: 28px !important;
              margin: auto;
            }
          }
        }
  
        .is-author-name-sec {
          text-align: center;
  
          .is-author-name {
            a {
              display: block;
              font-family: "josefin_sanssemibold";
  
              .name {
                display: inline-block;
                font-size: 24px;
                color: #fd6147;
                padding-top: 15px;
              }
  
              &.follow-btn {
                color: #042c99;
                font-size: 20px;
  
                img {
                  max-width: 16px;
                  vertical-align: text-top;
                }
              }
            }
          }
        }
  
        .is-like-sec {
          display: flex;
          justify-content: center;
          align-items: center;
  
          a {
            font-size: 20px;
            color: #042c99;
            font-family: "josefin_sanssemibold";
            margin: 0px 4px;
  
            &.is-like {
              min-width: 85px;
  
              .far {
                font-size: 17px;
              }
              .likes-count {
                .fas {
                  font-size: 19px;
                  margin: 0px 10px 0px 10px;
                }
              }
            }
  
            img {
              max-width: 16px;
              margin-right: 7px;
              vertical-align: text-top;
            }
          }
        }
  
        .left-media {
          text-align: center;
  
          h3 {
            color: #fd6147;
            font-size: 22px;
            font-family: "josefin_sanssemibold";
            text-align: center;
            text-transform: capitalize;
          }
  
          .at-label {
            display: none;
          }
        }
 
  
      .is-divider {
        position: relative;
        padding-bottom: 7px;
        margin-bottom: 10px;
  
        &:before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 1px;
          background: #e3e3e3;
        }
      }
  
      .is-main-article-content {
        width: 700px;
        padding: 30px;
        margin-top: -110px;
        z-index: 1;
        background: #fff;
  
        .is-head {
          h1 {
            a {
              span {
                font-family: "josefin_sanssemibold";
                text-align: center;
                display: block;
                font-size: 28px;
                color: #000;
                line-height: 35px;
              }
            }
          }
  
          .is-small-profile {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 20px auto 50px auto;
  
            .is-image {
              flex: 1;
  
              a {
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 100%;
                  object-fit: cover;
                }
  
                .name {
                  font-family: "josefin_sansregular";
                  font-size: 15px;
                  display: inline-block;
                  color: #000;
                  margin-left: 10px;
                }
              }
            }
  
            .is-date {
              flex: 1;
              text-align: right;
              font-family: "josefin_sansitalic";
  
              a {
                font-family: "josefin_sanssemibold";
                color: #fd6147;
              }
            }
          }
        }
  
        .is-body {
          .is-paragraph {
            p {
              font-family: "open_sansregular";
              font-size: 15px;
              font-weight: normal;
              color: #464444;
              line-height: 33px;
              margin-bottom: 0px;
              word-break: break-all;
  
              &.big::first-letter {
                font-size: 100px;
                color: #fd6147;
              }
              h3 {
                margin: 0px;
              }
              h2 {
                margin: 0px;
                color: #000;
                font-family: "josefin_sanssemibold";
                font-size: 22px;
                margin-top: 30px;
                display: block;
                word-break: break-all;
              }
  
              strong {
                color: #000;
                font-family: "josefin_sanssemibold";
                font-size: 22px;
                margin-top: 30px;
                display: block;
                word-break: break-all;
              }
  
              &.para-bg {
                background: #f5f5f5;
                padding: 20px;
                border-top: 2px solid #fd6147;
              }
            }
  
            .feature-sec {
              padding: 40px 0px;
  
              .featured-img {
                position: relative;
  
                &:after {
                  content: "";
                  position: absolute;
                  top: 30px;
                  left: 40px;
                  background: url(../../../../assets/images/article/icon/dot.png) center center repeat;
                  background-size: 10px;
                  width: calc(100% - 50px);
                  height: 100%;
                }
  
                img {
                  max-width: calc(100% - 40px);
                  position: relative;
                  z-index: 1;
                }
              }
            }
  
            ul {
              margin: 30px 0px;
  
              li {
                list-style: none;
                position: relative;
                padding-left: 16px;
                font-family: "josefin_sansregular";
                font-size: 16px;
                line-height: 27px;
                color: #000;
  
                &::before {
                  content: "";
                  position: absolute;
                  top: 6px;
                  left: 0px;
                  width: 8px;
                  height: 8px;
                  background: #000;
                  border-radius: 50px;
                }
              }
            }
          }
          .main-audio-sec {
            .cld-audio-wave {
              width: 100%;
              height: 100px;
            }
            .cld-audio {
              width: 100%;
              height: 80px;
            }
            .video-control {
              padding-bottom: 10px;
              border-bottom: 1px solid #ccc;
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              .btn-download {
                flex: 1;
                text-align: right;
                .video-download-btn {
                  background: #cccccc;
                  color: rgb(10, 7, 7);
                  padding: 8px 10px;
                  display: inline-flex;
                  align-items: center;
                  border: 0px;
                  font-family: "open_sansregular";
                  img {
                    max-width: 16px;
                    margin-right: 10px;
                  }
                }
              }
              ul {
                margin: 0px;
                padding: 2px 0px 0px 0px;
                li {
                  display: inline-block;
                  font-size: 16px;
                  color: #514c4c;
                  padding-right: 15px;
                  font-family: "open_sansregular";
                  a {
                    color: #514c4c;
                    img {
                      max-width: 20px;
                      &.bullet {
                        max-width: 7px;
                      }
                    }
                  }
                }
              }
            }
          }
          .main-video-sec {
            .cld-video {
              width: 100%;
              height: 400px;
            }
            .video-control {
              padding-bottom: 10px;
              border-bottom: 1px solid #ccc;
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              .btn-download {
                flex: 1;
                text-align: right;
                .video-download-btn {
                  background: #cccccc;
                  color: rgb(10, 7, 7);
                  padding: 8px 10px;
                  display: inline-flex;
                  align-items: center;
                  border: 0px;
                  font-family: "open_sansregular";
                  img {
                    max-width: 16px;
                    margin-right: 10px;
                  }
                }
              }
              ul {
                margin: 0px;
                padding: 2px 0px 0px 0px;
                li {
                  display: inline-block;
                  font-size: 16px;
                  color: #514c4c;
                  padding-right: 15px;
                  font-family: "open_sansregular";
                  a {
                    color: #514c4c;
                    img {
                      max-width: 20px;
                      &.bullet {
                        max-width: 7px;
                      }
                    }
                  }
                }
              }
            }
          }
  
          
        }
      }
  
      .is-right-ad-section {
        width: 25%;
        padding: 30px 0px 0px 20px;
        .ads-box {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: "josefin_sansregular";
        }
        .related-article-sec {
          > h2 {
            border-bottom: 1px solid #eee;
            font-size: 22px;
            color: #000;
            font-family: "open_sansregular";
            margin: 0px 0px 15px;
          }
          .related-video {
            margin-bottom: 15px;
            .thumbnail-video {
              width: 120px;
              height: 100px;
              position: relative;
              float: left;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .overlay-detail {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                .time {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  text-align: center;
                  padding: 0px 4px;
                  font-size: 11px;
                  background: #fd6147;
                  color: #fff;
                  display: inline-block;
                }
                .play-btn {
                  width: 30px;
                  height: 30px;
                  border-radius: 100%;
                  background: #fff;
                  display: flex;
                  margin: auto;
  
                  i {
                    color: #fd6147;
                    font-size: 12px;
                    margin: auto;
                  }
                }
              }
            }
            .related-video-detail {
              float: left;
              padding: 0px 10px;
              width: calc(100% - 120px);
              h2 {
                font-family: "josefin_sansregular";
                margin: 0px;
                font-size: 16px;
                color: #000;
                overflow: hidden;
                height: 32px;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              p {
                font-family: "open_sansregular";
                font-size: 13px;
                font-weight: normal;
                color: #464444;
                line-height: 16px;
                margin-bottom: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                height: 32px;
                overflow: hidden;
              }
              ul {
                margin: 0px;
                padding: 2px 0px 0px 0px;
                li {
                  display: inline-block;
                  font-size: 12px;
                  color: #514c4c;
                  padding-right: 5px;
                  font-family: "open_sansregular";
                  a {
                    color: #514c4c;
                    img {
                      max-width: 14px;
                      &.bullet {
                        max-width: 7px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .related-article-sec {
          transition: 0.5s all ease;
          > h2 {
            font-size: 22px;
            color: #000;
            font-family: "open_sansregular";
            margin: 30px 0px 15px;
          }
          .related-audio {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f5f5f5;
            .thumbnail-audio {
              width: 120px;
              height: 75px;
              position: relative;
              float: left;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .related-audio-detail {
              float: left;
              padding: 0px 10px;
              width: calc(100% - 120px);
              h2 {
                font-family: "josefin_sansregular";
                margin: 0px;
                font-size: 16px;
                color: #000;
                overflow: hidden;
                height: 22px;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              p {
                font-family: "open_sansregular";
                font-size: 13px;
                font-weight: normal;
                color: #464444;
                line-height: 16px;
                margin-bottom: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                height: 32px;
                overflow: hidden;
                word-break: break-all;
              }
              ul {
                margin: 0px;
                padding: 2px 0px 0px 0px;
                li {
                  display: inline-block;
                  font-size: 12px;
                  color: #514c4c;
                  padding-right: 7px;
                  font-family: "open_sansregular";
                  a {
                    color: #514c4c;
                    img {
                      max-width: 14px;
                      &.bullet {
                        max-width: 7px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
  
        .slide-article {
          text-align: center;
          border-top: 1px solid transparent;
          padding-top: 10px;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          align-items: center;
          background: #fff;
          .is-see-more {
            font-size: 16px;
            background: #ff4020;
            border: 0px;
            color: #fff;
            padding: 8px 25px 6px 25px;
            cursor: pointer;
            font-family: "josefin_sansregular";
            border-radius: 55px;
            line-height: 26px;
            display: flex;
            align-items: center;
            outline: none;
          }
        }
  
        &.openSlideArticle {
          .related-article-sec {
            height: 365px;
            overflow: hidden;
            transition: 0.5s all ease;
          }
          .slide-article {
            margin-top: -30px;
            z-index: 1;
            position: relative;
            box-shadow: 0px -10px 20px 10px #fdfdfd;
            border-top: 1px solid #eee;
          }
        }
      }
    }
    .openSlideArticle {
      .less-more {
        display: none !important;
      }
    }
    .removeSlide {
      .show-more {
        display: none !important;
      }
    }
    .article-related {
      background: #eee;
      padding: 50px;
  
      .item-card {
        border: 1px solid #eee;
        min-height: 290px;
        box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.02);
        background: #fff;
  
        .caption {
          padding: 10px;
  
          h3 {
            color: #000000;
            font-size: 18px;
            font-family: "josefin_sanssemibold";
  
            span {
              display: block;
              color: #838282;
              font-size: 16px;
              font-family: "josefin_sanslight";
            }
          }
  
          .is-read-more {
            background: transparent;
            border: 0px;
            color: #fd6147;
            display: flex;
            align-items: center;
            font-family: "josefin_sansregular";
            font-size: 18px;
            padding-left: 0px;
            outline: none;
            position: relative;
            cursor: pointer;
            padding: 0px;
  
            &:before {
              content: "";
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%;
              height: 1px;
              background: #fd6147;
            }
  
            img {
              margin-left: 10px;
            }
          }
        }
  
        .img-container {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  
  ::ng-deep .addthis_inline_share_toolbox {
    .at-share-btn-elements {
      .at-svc-facebook {
        background: transparent !important;
  
        .at-icon {
          fill: rgb(59, 89, 152) !important;
          border: 0;
        }
  
        &:hover {
          background: rgb(59, 89, 152) !important;
        }
  
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-twitter {
        background: transparent !important;
  
        .at-icon {
          fill: rgb(29, 161, 242) !important;
          border: 0;
        }
  
        &:hover {
          background: rgb(29, 161, 242) !important;
        }
  
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-messenger {
        background: transparent !important;
  
        .at-icon {
          fill: rgb(0, 132, 255) !important;
          border: 0;
        }
  
        &:hover {
          background: rgb(0, 132, 255) !important;
        }
  
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-whatsapp {
        background: transparent !important;
  
        .at-icon {
          fill: rgb(77, 194, 71) !important;
          border: 0;
        }
  
        &:hover {
          background: rgb(77, 194, 71) !important;
        }
  
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-compact {
        background: transparent !important;
  
        .at-icon {
          fill: rgb(255, 101, 80) !important;
          border: 0;
        }
  
        &:hover {
          background: rgb(255, 101, 80) !important;
        }
  
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
    }
  }
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bg-logo {
      display: inline-block;
      max-width: 90px;
      margin-right: 20px;
      img {
        max-width: 100%;
      }
    }
  }
  .mobile-article-detail {
    display: none;
  }
  .xs-article-publish {
    display: none;
  }
  @media screen and (max-width: 580px) {
    .bottom-ad-container {
      display: none;
    }
    .article-full-img img {
      height: 180px;
    }
  
    .is-article-block {
      .container {
        width: 100%;
      }
  
      .is-article-sec {
        .is-main-article-content {
          padding: 40px 0px 20px 0px !important;
        }
  
        .is-left-profile {
          width: 100%;
          .sticky-box {
            padding: 20px 0px;
            .is-profile {
              a {
                margin-top: -90px;
              }
              .special-icon {
                position: absolute;
                top: -60px;
              }
            }
          }
        }
  
        .is-main-article-content {
          width: 100%;
          margin-top: 0px;
          padding: 20px;
  
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 20px;
                }
              }
  
              .is-small-profile {
                display: block;
  
                .is-date {
                  text-align: left;
                  padding-top: 20px;
                }
              }
            }
  
            .is-body {
              .is-paragraph {
                p {
                  font-size: 16px;
  
                  strong {
                    font-size: 20px;
                  }
                }
  
                .feature-sec {
                  padding: 40px 0px 0px 0px;
  
                  ul {
                    margin: 60px 0px 30px 0px;
                  }
                }
              }
            }
          }
        }
  
        .is-right-ad-section {
          width: 100%;
          padding: 0px;
        }
      }
  
      .article-related {
        padding: 15px;
  
        .item-card {
          margin-bottom: 20px;
        }
      }
      .mobile-article-detail {
        display: block;
        .xs-article-title {
          font-size: 18px;
          word-break: break-all;
          color: #ff4020;
          margin: 0px 0px 20px 0px;
          font-family: "josefin_sanssemibold";
          padding-top: 10px;
          .xs-article-category {
            background: #000;
            color: #fff;
            display: inline-block;
            padding: 4px 8px;
            font-size: 12px;
            margin-bottom: 5px;
            font-family: "open_sansregular";
          }
        }
        .xs-article-author-detail {
          display: flex;
          align-items: flex-start;
          .xs-article-name {
            padding-right: 10px;
            font-family: "josefin_sansregular";
            font-size: 18px;
            display: block;
            color: #000;
            font-weight: 600;
            flex: 1;
            a{
              color:#000;
            }
  
          }
          .comment-section {
            width: 130px;
            text-align: right;
            position: relative;
            z-index: 1;
            ul {
              margin: 0px;
              li {
                display: inline-block;
                color: #042c99;
                &:nth-child(2) {
                  padding-left: 10px;
                }
                a {
                  font-size: 16px;
                  color: #042c99;
                  display: inline-block;
                  font-family: "open_sansregular";
                  font-weight: 600;
                  img {
                    max-width: 19px;
                    height: auto;
                    object-fit: unset;
                  }
                  i {
                    font-size: 15px;
                    color: #042c99;
                    margin-right: 4px;
                  }
                }
              }
            }
          }
        }
        .xs-article-date {
          font-size: 13px;
          color: #000;
          display: block;
          font-weight: normal;
          font-family: "open_sansregular";
          margin-bottom: 10px;
        }
      }
      .xs-article-publish {
        display: flex;
        align-items: flex-start;
        margin: 10px 0px 20px;
        .xs-article-publisher-img {
          width: 80px;
          position: relative;
          a {
            width: 70px;
            height: 70px;
            display: inline-block;
  
            img {
              width: 70px;
              height: 70px;
              border-radius: 100%;
              object-fit: cover;
            }
            .special-icon {
              width: 35px;
              height: 35px;
              img {
                max-width: 19px !important;
                width: auto;
                height: auto;
                -o-object-fit: unset;
                object-fit: unset;
                border-radius: 0px;
              }
            }
          }
        }
        .xs-articl-publisher-name {
          font-size: 12px;
          color: #000;
          font-weight: normal;
          flex: 1;
          padding-left: 15px;
          a {
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: #000;
            font-family: "open_sansregular";
            &.follow-btn {
              border: 0px;
              color: #233470;
              cursor: pointer;
              border-radius: 55px;
              font-size: 14px;
              margin-top: 2px;
            }
          }
        }
      }
    }
    .hidden-on-xs {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 581px) and (max-width: 768px) {
    .article-full-img img {
      height: 250px;
    }
    .bottom-ad-container {
      display: none;
    }
    .is-article-block {
      .container {
        width: 100%;
      }
  
      .is-article-sec {
        .is-left-profile {
          width: 100%;
  
          .is-profile {
            a {
              margin-top: -90px;
            }
            .special-icon {
              position: absolute;
              top: -60px;
            }
          }
        }
  
        .is-main-article-content {
          width: 100%;
          margin-top: 0px;
          padding: 20px;
  
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 22px;
                }
              }
            }
  
            .is-body {
              .is-paragraph {
                p {
                  font-size: 16px;
  
                  strong {
                    font-size: 20px;
                  }
                }
  
                .feature-sec {
                  padding: 40px 0px 0px 0px;
  
                  ul {
                    margin: 60px 0px 30px 0px;
                  }
                }
              }
            }
          }
        }
  
        .is-right-ad-section {
          width: 100%;
          padding: 0px;
        }
      }
  
      .article-related {
        padding: 15px;
  
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .article-full-img img {
      height: 330px;
    }
  
    .is-article-block {
      .container {
        width: 100%;
      }
  
      .is-article-sec {
        .is-left-profile {
          width: 100%;
  
          .is-profile {
            a {
              margin-top: -90px;
            }
            .special-icon {
              position: absolute;
              top: -60px;
            }
          }
  
          .sticky-box {
            top: 170px;
          }
        }
  
        .is-main-article-content {
          width: 100%;
          margin-top: 0px;
          padding: 20px;
  
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 22px;
                }
              }
            }
  
            .is-body {
              .is-paragraph {
                p {
                  font-size: 16px;
  
                  strong {
                    font-size: 20px;
                  }
                }
  
                .feature-sec {
                  padding: 40px 0px 0px 0px;
  
                  ul {
                    margin: 60px 0px 30px 0px;
                  }
                }
              }
            }
          }
  
        }
  
        .is-right-ad-section {
          width: 100%;
          padding: 0px;
        }
      }
  
      .article-related {
        padding: 15px;
  
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .is-article-block {
      margin-top: 50px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1279px) {
    .is-article-block {
      .container {
        width: 100%;
      }
  
      .is-article-sec {
        .is-left-profile {
          width: 100%;
          border-bottom: 1px solid #eee;
          margin-bottom: 25px;
  
          .is-profile {
            a {
              margin-top: -90px;
            }
            .special-icon {
              position: absolute;
              top: -60px;
            }
          }
        }
  
        .is-main-article-content {
          width: 60%;
          margin-top: 0px;
          padding: 20px;
  
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 24px;
                  text-align: left;
                }
              }
            }
  
            .is-body {
              .is-paragraph {
                p {
                  strong {
                    font-size: 18px;
                  }
                }
  
                .feature-sec {
                  padding: 40px 0px 0px 0px;
  
                  ul {
                    margin: 60px 0px 30px 0px;
                  }
                }
              }
            }
          }
        }
  
        .is-right-ad-section {
          width: 40%;
          padding: 0px;
          .related-article-sec {
            > h2 {
              margin: 15px 0px 10px;
            }
          }
        }
      }
  
      .article-related {
        padding: 15px;
  
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1359px) {
    .is-article-block {
      margin-top: 0px !important;
      .container {
        width: 100%;
      }
  
      .is-article-sec {
        .is-left-profile {
          border-bottom: 1px solid #eee;
          margin-bottom: 25px;
          width: calc(100% - (650px + 25%));
          .sticky-box {
            top: 70px !important;
          }
  
          .is-profile {
            .special-icon {
              position: absolute;
              
            }
          }
        }
  
        .is-main-article-content {
          padding: 15px;
          width: 650px;
  
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 22px;
                  text-align: left;
                }
              }
            }
  
            .is-body {
              .is-paragraph {
                p {
                  strong {
                    font-size: 18px;
                  }
                }
  
                .feature-sec {
                  padding: 40px 0px 0px 0px;
  
                  ul {
                    margin: 60px 0px 30px 0px;
                  }
                }
              }
            }
          }
  
        }
  
        .is-right-ad-section {
          padding: 0px;
          .related-article-sec {
            > h2 {
              margin: 15px 0px 10px;
            }
          }
        }
      }
  
      .article-related {
        padding: 15px;
  
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  @media screen and (min-width: 1360px) and (max-width: 1499px) {
    .container {
      width: 100%;
    }
  
    .is-article-block {
      margin-top: 0px;
    }
  }
  
  @media screen and (min-width: 1500px) {
    .container {
      width: 1520px;
      max-width: 100%;
      margin: auto;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1359px) {
    .is-article-block .is-article-sec .is-left-profile .sticky-box {
      top: 190px;
    }
  }
  .center {
    margin: auto;
    width: 80%;
  }
  /* Search box styling */
  select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  select.round {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      radial-gradient(#ddd 70%, transparent 72%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
  }
  
  select.round:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      radial-gradient(gray 70%, transparent 72%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  
  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  td{
    padding: 7px;
  }
  .mega-menu-header{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    .shopping-header{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        max-width: 1200px;
        margin: 0px auto;
        .category-dropdown{
            width:220px;
        }
        .mega-search{
            flex: 1;
            margin: 0px 40px;
            position: relative;
            ::ng-deep .ant-input-affix-wrapper {
                border-radius: 3px;
                background: #f5f5f6;
                padding: 12px 15px 8px 9px;
                input.ant-input{
                    background: transparent;
                    font-family: "josefin_sansregular";
                    order: 1;
                    margin-left: 12px;
                    font-size: 16px;
                    color: #000;
                      &::-webkit-input-placeholder {
                        color: #696E79;
                      }
                      
                      &:-ms-input-placeholder { 
                        color: #696E79;
                      }
                      
                      &::placeholder {
                        color: #696E79;
                      }
                }
                .ant-input-suffix{
                    svg{
                        width:20px;
                         height: 20px;
                    }
                }
                
  
            }
  
        }
        .mega-cart{
            display: flex;
            align-items: center;
            a{
                margin: 0px 10px;
                .cart-btn{
                    position: relative;
                    text-align: center;
                    svg{
                        width:25px;
                        margin-right: 5px;
                    }
                    span{
                        margin-left: 5px;
                        display: inline-block;
                        min-width: 25px;
                        height: 25px;
                        line-height: 25px;
                        border-radius: 40px;
                        background: #000000;
                        font-size: 13px;
                        color: #fff;
                        text-align: center;
                        padding: 0px 5px;
                        font-family: "open_sansregular";
                        font-weight: 500;
                        position: absolute;
                        top: -15px;
                        right: -15px;
                    }
                    
                    
                }
                h3{
                    font-size: 14px;
                    font-family: "josefin_sansregular";
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
            }
        }
    }
  }
  ::ng-deep ais-instantsearch{
    flex:1;
  }
  ::ng-deep .ais-SearchBox-form{
    position: relative;
  ::ng-deep  .ais-SearchBox-input{
        border: 1px solid #d9d9d9;
    border-radius: 3px;
        background: #f5f5f6;
        padding: 12px 15px 8px 10px;
        width:100%;
    font-family: 'josefin_sanslight';
    font-size: 18px;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: #acaaaa;
    }
    &:-ms-input-placeholder {
      color: #acaaaa;
    }
    &::placeholder {
      color: #acaaaa;
    }
  }
  .ais-SearchBox-submit{
    max-width: 100%;
    position: absolute;
    top: 26px;
    right: 20px;
    left: auto;
    outline:none;
    .ais-SearchBox-submitIcon {
      width: 20px;
      height: 20px;
      path{
        fill: #cacaca;
      }
    }
  }
  .ais-SearchBox-reset{
    right: 50px;
    outline: none;
    position: absolute;
    top: 16px;
    border: 0px;
    background: transparent;
    .ais-SearchBox-resetIcon {
      width: 14px;
      height: 14px;
      path{
        fill: #cacaca;
      }
    }
  }
  }
  ::ng-deep .ais-SearchBox-submit {
    padding: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
    color: inherit;
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
  }
  
  ::ng-deep .autocomplete-box {
    position: absolute;
    width: 100%;
    top: 100%;
    .ais-Hits {
      background: #fff;
      border: 1px solid #cacaca;
      position: relative;
      z-index: 4;
      padding: 20px;
      border-top: 0px;
      max-height: 300px;
      overflow-y: auto;
  
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-track {
        background: #eee;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
      }
  
      ul {
        padding: 0px;
        margin: 0px;
  
        >li {
          list-style: none;
  
          a {
            color: #000;
            font-size: 14px;
            padding: 4px 5px;
            display: block;
            &.highlightResultBlack{
              color: #000;
            }
            &.highlightResult{
              color: #0079d0;
            }
            &:hover {
              background: #eee;
            }
          }
        }
      }
    }
  }
  
  ::ng-deep .Show-autocomplete-box {
    .ais-SearchBox-form {
        .ais-SearchBox-input {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        }
    }
  }
  @media screen and (max-width:580px){
    .mega-menu-header{
        .shopping-header{
            justify-content: space-between;
            .category-dropdown{
                width:auto; 
                order:2;
            }
            .mega-search{
                order:2;
                flex: unset;
                width:100%;
                padding: 0px;
                margin-top: 10px;
              
            }
            .mega-cart{
                order:1;
                padding: 0px 10px;
                a{
                    h3{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .mega-menu-header{
        .shopping-header{
            .mega-search{
                order:0;
                width: calc(100% - 50px);
                flex:1;
            }
            .mega-cart{
                order:1
            }
        }
    }
  }
  
  /*card box*/
  .custom-col-5{
    margin-bottom: 20px;
  }
  .is-cat-box-card-main{
    padding-bottom: 40px;
    background: #fff;
  }
  .cat-box {
  
    .row{
      margin: 0px;
    }
    .container{
      width: 1780px;
      margin: auto;
      padding: 0px 15px;
    }
  
  
    
    .is-card-arrow{
      width: 50px;
      height: 50px;
      background: #f64747;
      border-radius: 100%;
      display: -webkit-box;
      display: flex;
      position: absolute;
      right: -30px;
      transform: translate(-50%, -50%);
      top: 35%;
      a{
        margin: auto;
        color:#fff
      }
    }
    .item-card {
      overflow: hidden;
      width:100%;
      height: 100%;
      background: #fff;
      box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
      position: relative;
      margin-bottom: 18px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        .item-card-content{
          padding: 20px;
          .item-card-category {
            h3{
              font-family: "Ubuntu", sans-serif;
              font-size: 12px;
              font-weight: bold;
              display: inline-block;
            }
          }
  
          .item-card-title{
            h4 {
              font-family: "josefin_sansregular";
              font-size: 18px;
              color: #000000;
              line-height: 26px;
              margin-top: 20px;
              font-weight: 600;
              word-break: break-all;
            }
          }
          .item-card-texte {
            p {
              font-family: "open_sansregular";
              font-size: 15px;
              font-weight: normal;
              color: #464444;
              line-height: 24px;
              padding-bottom: 30px;
              word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            height: 100px;
            overflow: hidden;
            margin-bottom: 40px;
            }
            .category-service-readmore{
              position: absolute;
              left: 20px;
              bottom: 20px;
              width: calc(100% - 40px);
              display: flex;
              align-items: center;
              .is-read-more{
                  color: #000;
                  font-size: 18px;
                  &:before{
                    background: #000;
                  }
                }
              .service-icon-main{
                flex: 1;
                justify-content: flex-end;
                display: flex;
                .service-icon {
                  width: 45px;
                  height: 45px;
                  background: #fff;
                  display: flex;
                  border-radius: 100%;
                  i{
                    color:#000;
                    font-size: 25px;
                    margin: auto;
                  }
                }
              }
          }
          }
          
          .avatar {
            width: 40px;
            height: 40px;
            color: transparent;
            border-radius: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            object-fit: cover;
          }
          
        }
        .item-card-image {
          height: 150px;
          position: relative;
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 0.5);
            position: absolute;
            top: 0;
            left: 0;
          }
          .is-category-title{
            position: absolute;
            bottom: 0px;
            left: 0px;
            background: #23d7d5;
            padding: 5px 5px;
            color: #fff;
            font-family: "open_sansregular";
            font-size: 14px;
            margin: 0px;
            line-height: 18px;
            z-index: 1;
          }
          .service-image-icon{
            width:50px;
            height: 50px;
            display: flex;
            border-radius: 100%;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            i{
             margin: auto;
             font-size: 24px;
             color: #fff;
            }
          }
          .comment-right{
            position: absolute;
            right: 5px;
            bottom: 3px;
            .service-comment-info{
              .service-icon{
                position: relative;
                z-index: 1;
                .icon-circle{
                 width:60px;
                 height: 60px;
                 background: #fff;
                 display: flex;
                 border-radius: 100%;
                 img{
                  margin: auto;
                  max-width: 32px;
                  height: auto;
                  object-fit: unset;
                 }
                }
        
              }
              .comment-section{
                flex:1;
                text-align: right;
                position: relative;
                z-index: 1;
                ul{
                  margin: 0px;
                  li{
                    display: inline-block;
                    padding-left: 5px;
                    a{
                      font-size: 12px;
                      color:#fff;
                      display: inline-block;
                      font-family: "open_sansregular";
                      img{
                        max-width: 19px;
                       height: auto;
                       object-fit: unset;
                      }
                      i{
                        font-size: 13px;
                        color:#fff;
                      }
                    }
                  }
                }
              }
            }
          }
  
         img{
          width: 100%;
          height: 160px;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          object-fit: cover;
         }
        }
      }
      &:hover .item-card-image:after {
        left: 0;
    }
    .item-card-category{
      .is-avatar-dv{
        .item-card-author {
          font-family: "josefin_sansregular";
          font-size: 15px;
          display: inline-block;
          color: #000;
          margin-left: 10px;
        }
      }
    
  }
      }
    background: #fff;
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .cat-box-title{
        padding-left: 10px;
        padding-right: 10px;
  
        h2 {
          font-weight: bold;
          cursor: pointer;
          display: inline-block;
  
          a i {
              margin-left: 5px;
            }
        }
  
        span {
          display: inline-block;
          cursor: pointer;
          font-size: 12px;
          float: right;
          line-height: 27px;
        }
    }
  
    .service-row {
      padding-top: 10px;
      position: relative;
    }
  
    .col-sm-15 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
  
  }
  .col-sm-15{
    width:20%;
    float: left;
    margin-bottom: 30px;
  }
  
  
  .cat-box .item-card a.cat-red .item-card-image:after{
    background-color: #f64747;
  }
  
  
  
  .is-avatar-dv{
    display: flex;
    align-items: center;
  .overlay-icon{
    position: relative;
    width:50px;
    .avatar {
      width: 50px !important;
      height: 50px !important;
      color: transparent;
      border-radius: 100%;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      object-fit: cover;
      border: 1px solid #eee;
    }
      .special-icon{
        position: absolute;
        top: -10px;
        right: -10px;
        width: 30px;
        height: 30px;
        background: #000;
        border: 1px solid #fff;
        display: flex;
        border-radius: 100%;
        img{
          max-width: 20px;
          margin: auto;
        }
      }
  
  }
  }
  
  